[2017-07-10 19:19] mjo151 commented on #226
Can someone please tell me whether these issues are being monitored? If so, what additional information do you need to help resolve this problem?

[2017-07-12 22:09] dallancarr commented on #210
Any update on this?

[2017-07-13 02:27] antitheos commented on #228
@prebenh thanx.
I had to create a second class with just the properties I need to get around this issue.

[2017-07-13 14:58] oatsoda opened #229 "Is there any way to override NotificationInstallationsController to support multiple Notification Hubs?"
Due to [this denied feature request](https://feedback.azure.com/forums/218849-notification-hubs/suggestions/7189494-multiple-cert-support-for-apns-in-azure-push-notif), Notification Hubs with APNS (Apple) can only support a single App.  Therefore to furnish multiple Apps, multiple Notification Hubs are required (so that each can be setup with a different APNS Certificate)

They only alternative I

[2017-07-17 10:41] oatsoda commented on #218
The settings that you apply at a global level do not get applied to the TableControllers.

See [how to configure the Table Controllers documentation](https://github.com/Azure/azure-mobile-apps-net-server/wiki/Configuring-MobileAppController-and-TableController-Settings).

For example:

    new MobileAppConfiguration()
    	.UseDefaultConfiguration()
    	.WithTableControllerConfigProvider(new MyTa

[2017-07-17 10:55] oatsoda commented on #219
I suspect you are trying to use relationships with your Entities.

See [this answer](https://stackoverflow.com/a/40701134/868159):

I would suggest you try changing your EF models so that they don't load child relationships automatically (e.g. remove the "virtual" from the Patient property).

Alternatively, if you need the children loaded up, you can just make sure they don't get serialised across

[2017-07-17 13:13] oatsoda commented on #198
When you say

Do you mean that physically the /push/installation endpoint is provided by something else?  Or just that the `NotificationsExtensionConfigProvider.Initialize` is executed somehow by updating the Azure portal?

I am just struggling to understand how the /push/installations endpoint works when you have update the Push section in the portal, but if you don't then this endpoint is not av

[2017-07-19 06:50] oatsoda commented on #229
So it would appear that the code within this project for the Push Notifications is now depreciated as it is provided by an Azure feature. See https://github.com/Azure/azure-mobile-apps-net-server/issues/173

[2017-07-19 06:50] #229 closed

[2017-07-19 21:58] benjaminjnr commented on #69
Do you care to provide a little more detail as to why?

[2017-08-05 09:33] Silthus commented on #210
Is this project still maintained and alive? Seems pretty dead to me...

[2017-08-05 13:25] mpnow commented on #217
@JeffDalby  How did you retrieve the id_token from the Xamarin.Auth call on your client? When I use Xamarin.Auth on my iOS client, Account.Properties does not contain id_token. So I read that in order to get id_token, you have to supply a client_secret; but when I add that to my OAuth2Authenticator object (even though you're not supposed to use client_secret on a mobile client), then the Xamarin.A

[2017-08-05 16:17] mpnow commented on #217
@JeffDalby OK I see if I include a scope of "https://www.googleapis.com/auth/userinfo.email" in my Xamarin.Auth client function, it returns me an id_token.  But when I include this id_token value in building my server-side UserCredential object and then try to read some Google Drive files, I don't get any errors but it returns me no files.  When I use an access token and refresh token that were cr

[2017-08-05 16:42] JeffDalby commented on #217
So above I was referring to the Azure mobile stuff not Xamarin Auth.  Since the fix came out for Azure right now I'm using it on UWP, but still using Xamarin auth on iOS, so I guess you could say I've got it working both ways.

For xamarin Auth my end point is the generic/web type not a specific iOS one, which is what allowed me to do the "Bad" thing of using the client secret on the client side..

[2017-08-05 18:48] mpnow commented on #217
@JeffDalby Thanks for the info.  When I use my web Client Id and Client Secret in my OAuth2Authenticator constructor, I get "Invalid request - custom scheme URIs are not allowed for 'WEB' client type".  So not sure how you got around that issue...?

Thanks, will check out the Slack channel now for sure.

[2017-08-05 20:32] ericbrunner commented on #220
Hi Jiri, First I am only a consumet for that SDK but maybe I can help you. Today I got some similar exceptions in my mobile app TableController when saving changes. In my Xamarin.Forms App I could catch those HttpResposeException indirectly via MobileServicePushFailedException . Then extracted the errors and tried to solve the issue.
See conflict handling: https://adrianhall.github.io/develop-mobi

[2017-08-06 07:14] mpnow commented on #217
OK I finally got it working to authenticate on the iOS client and access Google Drive on a server-side process.  Ultimately I think it was a combination of:

- Using a scope of https://www.googleapis.com/auth/drive, not https://www.googleapis.com/auth/drive.file

- Using the Developer Console's **iOS Client Id** (and thus a null Client Secret) in both the iOS client and the server login.  I'm not

[2017-08-08 13:59] wildough57 commented on #185
It seems that the earliest available Microsoft.IdentityModel.Protocols is 2.0.0 and that has a dependency on System.IdentityModel.Tokens.Jwt (>= 5.0.0).  So, I haven't been able to find a way to revert back to Jwt 4.x at this point in time and have access to the classes in the Microsoft.IdentityModel.Protocols.WSTrust namespace.

[2017-08-15 14:45] BioTurboNick commented on #195
Just wanted to note I ran into this issue when trying to use authentication in a local debug build in the currently available code. Downgrading from System.IdentityModel.Tokens.Jwt v5 to the latest v4 fixed it. Unfortunately the exception was hidden as an authentication failure, didn't appear in debug output.

[2017-08-18 16:32] nor0x commented on #210
any official updates from MS on this topic? Really frustrating to see the cool features of .netcore and not being able to use it 😩

[2017-08-30 13:54] thombrink opened #230 "Weird behavior when calling the "get all" method of a controller"
When I have te following code
public IQueryable<Reservation> GetAllReservation()

I will get less results then when I change it to
public IQueryable<Reservation> GetAllReservation(ODataQueryOptions query)

Without changing any other code!

Is this expected behavior? I can't seem to find anything about it in the documentation.

[2017-09-05 14:13] IeuanWalker commented on #214
@adrianhall Why can't you publish a .net core application to azure app services? And is this going to change in the future?

[2017-09-06 16:57] JPhilC opened #231 "Guidance for diagnosing {"message":"An error has occurred."}"
Can someone point me in the direction of instructions for working out what has gone wrong with my Mobile Service App. It was working fine with a couple of simple tables. I then extended the data model using code first and now all I get when enter a url such as:

`http://smalegalcmsdev.azurewebsites.net/tables/firm?ZUMO-API-VERSION=2.0.0`

is

`{"message":"An error has occurred."}`

I have now remo

[2017-09-08 11:42] JPhilC commented on #231
I have managed to solve this one myself. In fact now that I know what it is the answer was staring at me from the build output.

The issue was that when extending my model I referenced a .NET Standard 2.0 class library containing some enum definitions that are common to both the backend and the client.

I did not notice the warning that some assembly versions needed binding redirects added to web

[2017-09-08 11:42] #231 closed

[2017-09-20 11:01] pvmraghunandan opened #232 "Change IssuerSigningToken to IssuerSigningKey as latest System.Identity.Tokens.Jwt doesn't have IssuerSigningToken Property"
Latest System.Identity.Tokens.Jwt doesn't have IssuerSigningKey Property. So when nuget is upgraded, mobile apps SDK is failing validating requests during local debugging. Below are related issues

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/513
https://github.com/IdentityServer/IdentityServer3/issues/83

[2017-09-21 10:14] hardcodet opened #233 "Please fix old JWT dependencies"
This has been open for more than six months, and blocks every developer from actually upgrading to the current JWT libraries, or using 3rd party packages that use JWT. I don't understand why the pull request didn't make it (in this or any other form) - we're blocked due to that legacy dependency, which also makes us uneasy from a security point of view:

https://github.com/Azure/azure-mobile-apps-

[2017-09-22 13:31] jiberan commented on #227
any update here? Maybe @brettsam have answer? Is project live? thx.

[2017-10-12 13:15] leedjones opened #234 "JWTSecurityToken with no expiry causes 401 Unauthorized errors"
I recently ran into a problem whereby my users could sign in to my mobile app or register a new user and the security token would be issued fine:

AppServiceLoginHandler.CreateToken(claims, signingKey, audience, issuer, null);

whereby the expiry is set to null for no expiry.
However, subsequent requests which are to controllers decorated with the [Authorize] attribute fail with a 401 Unauthorized

[2017-10-14 09:25] #221 closed

[2017-10-16 17:34] tecsined commented on #198
The documentation: https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-dotnet-backend-how-to-use-server-sdk#create-app

Is outdated and is showing  that it requires AddPushNotifications but when you try it an obsolete message appears. Where is the correct document to understand push notifications configuration for back-end service

[2017-11-06 10:09] roxanabeloiu commented on #181
Version 4.0.40306.1554 worked for me for .NET Framework 4.6

[2017-11-07 19:37] roxanabeloiu commented on #185
I succeeded to downgrade to System.IdentityModel.Tokens.Jwt 4.0.30826.1200, but still AppServiceLoginHandler does not exists.
I am building the application on .NET 4.6. What are you saying is that is no way to use AppServiceLoginHandler.CreateToken without having .NET Core?

[2017-11-16 08:06] longnt-ttm commented on #126
Recently I have the same issue.
After capture the server response and looking for refresh token I notice the following detail:

- With Google account that have 2 steps authentication enabled, the refresh token is empty.
- With Google account that only use normal authentication (user/password), refresh token is returned.

P/S: I was using azure-mobile-apps-net-client but it may have the same issue

[2017-11-17 13:18] danielloczi opened #235 "Multiple values for CUSTOM_AUTH_ALLOWED_AUDIENCES"
HI,

I'm using one endpoint (mobile app server instance) to authenticate my users and another endpoint to provide some custom api calls. On the api endpoint side I'm using the 'CUSTOM_AUTH_ALLOWED_AUDIENCES' property to allow users who logged in using the auth endpoint.

For some reason I need a new auth endpoint, but also have to leave the old one there, and the api endpoint should serve all user

[2017-11-18 17:11] bolicd commented on #198
Have the same problem. Where is update documentation on this one? All i get in searches is obsolete documentation, making it really hard to implement properly ...

[2017-11-28 19:53] Sun3 commented on #215
Any updates on the .NET Core 2.0 support for offline sync?

[2017-11-30 20:21] favance commented on #215
I too am looking for a solution with this (.Net Core 2.0 for offline sync)...

[2017-12-09 15:03] codegrue commented on #35
It's been a year since the last contributor post here. Any progress to report?

[2017-12-28 21:19] edorphy opened #236 "Custom domain and custom auth don't work together"
My Azure App Service works just fine with custom auth written per the guide documentation.

However when I enable my custom domain I bought through the Azure portal and my SSL Cert to match it, the custom auth falls apart and doesn't work (401).

My default audience and issuer are based upon the hostname (per some tutorials on the subject) are falling back to my .azurewebsites.net host name. When

[2018-01-04 03:02] tofutim commented on #227
I noticed there has been no action for a good number of months. Any chance of reviving this and getting a new release with the accepted PRs earlier this year?

[2018-01-04 04:36] tofutim commented on #227
I suspect part of the problem is the extraordinarily complex testing scenarios. Too difficult to maintain?

[2018-01-04 06:59] tofutim opened #237 "aad logout leads to blank me"
For some reason, this took me a long time to debug.

If you have an app with a valid token (from Azure Active Directory) and then elsewhere, on a different machine even, you login and logout of Azure Active Directory, the .auth/me?provider=aad will give you the empty set {} when queried. If you login again (on a yet a different machine) suddenly the token will work again.

[2018-01-04 13:52] codegrue commented on #227
The whole Azure Mobile App library feels like abandonware to me, especially since the product owner went to Amazon. There should have been a port to Core and at least some incremental improves over the last two years. I moved on to Realm.io which, although not perfect, has the simplicity that Microsoft needs to provide. Maybe they are working on a new replacement behind the scenes that will tie co

[2018-01-09 19:13] tofutim opened #238 "Using Guid instead of stringified Guid"
I noticed that the index for tables is a stringified Guid. Is there a reason why the database doesn't just directly store a Guid for Id?

[2018-01-09 19:25] codegrue commented on #238
Adrian Hall replied in another thread that they didn't want to force it to be only GUIDs. You can use any natural key that can be stringified.

[2018-01-09 19:50] tofutim commented on #238
I suppose I can accept that... although Adrian doesn't seem to be around...

[2018-01-09 19:50] #238 closed

[2018-01-09 19:55] tofutim opened #239 "Changing db schema"
Is there a way to use an alternative db schema. Rather than using 'dbo', I want to use something else.

[2018-01-09 20:59] tofutim commented on #239
amazingly, this was all it took

[Table("TodoItems", Schema ="usr")]

[2018-01-10 00:34] tofutim commented on #239
I spoke too soon, this work with creating and inserting, but when sync, dbo is called again... weird.

[2018-01-16 17:23] lsuarez5280 commented on #210
This is likely to remain blocked until the OData team completes the outstanding feature branch for Core support (which is still moving along slowly, tracked at https://github.com/OData/WebApi/issues/939). The server Tables library has a dependency on this for moving to WebApi on Core.

[2018-01-18 17:01] jiberan commented on #227
@adrianhall please, do you know who is product manager of this project? Nobody seems to be responding here.. Thanks.

[2018-01-23 21:16] vackup commented on #181
Cool!! now is working!

[2018-01-27 11:36] adrianhall commented on #227
Sorry, I don't any more.  I haven't been involved in the project for some months due to my move to AWS.  (Total and shameless plug for my new team) If you want to have a similar backend for your project, might I suggest [AWS Mobile Hub](https://aws.amazon.com/mobile) and [AWS AppSync](https://aws.amazon.com/appsync)?

[2018-01-28 12:05] codegrue commented on #227
@adrianhall AWS AppSync looks promising. Does your move to that team hint that a C# / Xamarin SDK might be forthcoming?

[2018-02-05 15:03] mpoirier101 opened #240 "AppServiceLoginHandler.CreateToken()"
Where is the documentation for AppServiceLoginHandler.CreateToken() ?

In object browser all I see is:

public static System.IdentityModel.Tokens.JwtSecurityToken CreateToken(System.Collections.Generic.IEnumerable<System.Security.Claims.Claim> claims, string secretKey, string audience, string issuer, System.TimeSpan? lifetime)

Thanks !

[2018-03-06 17:10] thabotharshan opened #241 "Azure Offline Sync Updated At pulls whole data during the Incremental Sync"
I have a table controller, which has one way sync (Only get since there is no any update from mobile). So the very first time when I do the Pull Async it has pulled whole data since my Update At filed has the same timestamp for all the records. Now Second time I just wanted to do the incremental Pull (Note I do pass a name value to Pull Aync to enable incremental sync).

But the problem is, it ret

[2018-03-06 21:43] ltaljaard opened #242 "Local development and debugging support"
In an older version of azure-mobile-apps-net-server I managed to get the local development and debugging working, the steps I used back then were roughly similar to the wiki that explains how to set this up in the latest version: https://github.com/Azure/azure-mobile-apps-net-server/wiki/Local-development-and-debugging-the-Mobile-App-.NET-server-backend

But with this current version of azure-mobi

[2018-03-07 07:19] fileman commented on #242
Are you using IIS or IISExpress? I've solved with first

[2018-03-07 08:19] ltaljaard commented on #242
I started with IIS Express and then swithed to IIS, same issue persists with IIS.

[2018-03-13 21:26] elamalani commented on #227
Hey everyone,

We are doing user research right now to understand the evolving needs for these services and plan to build the next generation of Azure Mobile Apps as part of Visual Studio App Center.

While we're working on the roadmap, we are fully committed to supporting Azure Mobile Apps including support for the latest OS releases, bug fixes, and documentation updates.

This is a similar patte

[2018-03-13 21:29] codegrue commented on #227
My suggestion would be to build the exact equivalent to Realm.io but on top of CosmosDB. We need a simple and quick framework without having to craft a ton of pass through plumbing (i.e. WebAPI). It needs to support Offline First and Real Time Sync.

From: Ela Malani <notifications@github.com>
Reply-To: Azure/azure-mobile-apps-net-server <reply@reply.github.com>
Date: Tuesday, March 13, 2018 at 5:

[2018-03-13 21:53] elamalani commented on #227
@codegrue Thanks for sharing your suggestion. We'd love to get feedback from you as we are in the process of doing the user research.

[2018-03-14 01:24] ahoefling commented on #227
This is really great to hear that this project is continuing and that there is a new version in the works. I commonly get asked if this is a dead technology and I always say it is not dead and it has some amazing features.

That being said here are some big ticket items that I think should be address while I know some of them are dependent on other technologies

* dotnet core support (I understand

[2018-03-14 01:55] codegrue commented on #227
Andrew, I agree with your must have features. However, the overall theme of your feedback is how hard each element is. I think that is the key. We need something that is just plug and play, especially with Xamarin. Something that can be added to our app with a Nuget package and have running in 10 minutes.

Adrian is now working over at Amazing on AWS AppSync which sounds like a simple alternative

[2018-03-14 01:57] codegrue commented on #227
Ela post your contact info and I will email to set up a discussion.

From: Ela Malani
Sent: Tuesday, March 13, 5:53 PM
Subject: Re: [Azure/azure-mobile-apps-net-server] Is this project live? (#227)
To: Azure/azure-mobile-apps-net-server
Cc: codegrue, Mention

@codegrue<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fcodegrue&data=02%7C01%7C%7Cef846237c7bc4a3612e608d5

[2018-03-14 02:03] ahoefling commented on #227
@codegrue you got it! We need something that is simple to use.

@elamalani if there is going to a community standup or discussion outside of GitHub I would love to be involved as I have used this technology on many Xamarin.Forms projects and it is one of my most recommended technology for enterprise xamarin projects.

[2018-03-14 02:17] codegrue commented on #227
To elaborate on some thoughts. In the enterprise space, we typically build micro services by hand because we are going to consume many heterogeneous data sources, many of which are not built on Microsoft technologies. EF may not even be an option let alone code first. This is the reality. The Azure Mobile App framework is not an option.

That leaves hobbiests, Indies, or companies where the mobile

[2018-03-14 06:53] fileman commented on #227
Good news... ok:
Easy to use client only stored properties that not sync with server, something like [notmapped] of EF;
Offline storage for complex objects;
Primary key Int instead of guid ToString, to could be a problem with many offline client, temporary key replaced with server generated on server at sync, or two props client pk <> server pk;
Client side authorization / permission with local ca

[2018-03-14 18:03] JoshuaWeber commented on #227
Hi all. Quick intros, I'm Joshua Weber and a PM lead on the AppCenter team. Along with @elamalani we are the PM owners for Azure Mobile Apps. We for sure hear the pain on this project recently. We are engaged and have working to get some of the pain resolved (especially our communication frequency and transparency). We are always very enthusiastic about capturing feedback from our users. If you'd

[2018-03-14 18:14] elamalani commented on #227
Hello again,

Thanks for an overwhelming response to this thread. I'm super excited to see the community interest in sharing their feedback. My email address is - emalani@microsoft.com and you can always reach to @JoshuaWeber and me if you'd like to share feedback.

Just a clarification - Our plan is not to add new features in Azure Mobile Apps but really shape the next generation of this product

[2018-03-15 12:35] MatkovIvan commented on #241
Hi @thabotharshan

Thanks for getting in touch!
As mentioned in the link, this is by design.
Incremental sync feature store latest `updatedAt` value and then add the filter to select only entities with `updatedAt` value **greater or equal** than you already have on the device.

So, to make it correctly you can:
1. Avoid using the same `updatedAt` values as mentioned in the [doc](https://docs.micro

[2018-03-21 20:01] CopyJosh commented on #185
Struggling tremendously as a new developer to Xamarin/.NET.. building a Web API in .NET Core 2.0, and came across the same instructions as the OP to incorporate Authentication..

So what am I supposed to do? I have not found any other sensible tutorial to handle custom authentication, and now the only one available has a complex set of dependencies that I am completely lost on.

I'm using .NET Cor

[2018-03-22 00:25] ltaljaard commented on #242
Ok Microsoft, I've gone through hell trying to figure this out over the past two weeks and just returned from there to tell you all about it. Below is how to reproduce the problem so that you can fix it and bring your documentation and Quickstart solutions back into the 21st century.

My mortal sin was trying to update the backend solution to run the latest ".NET Framework 4.7.1". I'm referring to

[2018-03-22 10:48] ltaljaard commented on #242
Ok, I went through the list of packages one by one to determine which one(s) cause this problem. It turns out that all of them are fine apart from package System.IdentityModel.Tokens.Jwt . As soon as you update that one to the latest version the local debugging stops working when you call an API with an [Authenticated] attribute. The same steps as above still apply but here is a bit of a shortcut

[2018-03-22 12:04] codegrue commented on #242
I think you are assuming they are actually maintaining and updating this library. They already started they are working on its replacement instead.
________________________________
From: ltaljaard <notifications@github.com>
Sent: Thursday, March 22, 2018 6:48:46 AM
To: Azure/azure-mobile-apps-net-server
Cc: Subscribed
Subject: Re: [Azure/azure-mobile-apps-net-server] Local development and debuggin

[2018-03-22 12:27] ltaljaard commented on #242
A replacement will take years, this must be maintained and supported until then.

Kind regards,
Louis

On 22 Mar 2018, at 14:04, codegrue <notifications@github.com> wrote:

I think you are assuming they are actually maintaining and updating this library. They already started they are working on its replacement instead.
________________________________
From: ltaljaard <notifications@github.com>
Sen

[2018-03-22 14:48] dgerding commented on #242
@codegrue Can you point me to the place where they said they are working on a new release?  I've been in touch with some related folks at MS and they never mentioned it. Signals might be crossed somewhere.

[2018-03-22 14:53] codegrue commented on #242
This thread:

https://github.com/Azure/azure-mobile-apps-net-server/issues/227

From: David Gerding <notifications@github.com>
Reply-To: Azure/azure-mobile-apps-net-server <reply@reply.github.com>
Date: Thursday, March 22, 2018 at 10:48 AM
To: Azure/azure-mobile-apps-net-server <azure-mobile-apps-net-server@noreply.github.com>
Cc: Jeff Jorczak <jeff@jorczak.com>, Mention <mention@noreply.github.co

[2018-03-22 14:54] dgerding commented on #242
@Italjaard - Do you think there's a possibility of updating the Mobile Apps stack "ourselves"?

[2018-03-22 14:55] codegrue commented on #242
I think MS should have at least some resources converting it to dotnetcore and especially odata which has been being converted for about 2 years now.

If not, they should allow public contributors.

[2018-03-22 15:04] dgerding commented on #227
THANKS for identifying yourselves. After over a year of "library mismatch impedance" (? :) ) we need a timeline or commitment.   Please message me.  I've been chatting informally with some other related MS folks re this and maybe you could all huddle?

[2018-03-22 15:06] codegrue commented on #242
@dgerding They have said the roadblock is the port of OData to core, which EF needs to function in a port of Azure Mobile. So that's the component that needs the conversion.

[2018-03-22 18:30] ltaljaard commented on #227
Hi all, @elamalani  and @JoshuaWeber in particular. I started off with Azure Mobile Services, then moved over to Azure Mobile Apps. Due to the lack of support for relational syncing I ended up building my own custom solution on top of this which basically uses the "flat" syncing features in Azure Mobile Apps to compare the ID's of the related tables between the client and the server, and then sync

[2018-03-22 18:43] ltaljaard commented on #242
@dgerding It sounds promising but I just don't have the time at the moment. For now I have what I need because was (finally) able to convert the client solution to .NET Standard 2.0 and my backend is now running .NET Framework 4.7.1, which meets my needs. I'd be happy to run with this until they release their shiny new planned replacement. Well apart from the login bit which is not great. At the m

[2018-03-23 21:20] elamalani commented on #242
@ltaljaard Thanks for sharing your feedback with detailed steps. I'll review this with the team and keep you posted on the next steps from our end. But as @dgerding suggested, please feel free to fork the repo, make changes to it, and submit a PR. We are very open to community contributions and would appreciate if you are open to sharing.

Thanks!

[2018-03-23 21:31] elamalani commented on #227
@italjaard Thanks for sharing your feedback on Azure Mobile Apps and the core features that you would like to see in the next version. Regarding #242, I will keep the issue posted on the next steps we decide to take.

Thanks!

[2018-04-20 09:32] ManiSubbu opened #244 "Data Sync features has stoped working from mobile app to server in cordova"
Push functionality has been working as intended till April 10, 2018; However after that we have observed the following error while accessing the push functionality.

PATCH https://*********/tables/Student/*************** 500 (Internal Server Error)
Sync error! Invalid column name *****.

As the temporary solution we have removed that particular column in store setup. Now sync feature has working a

[2018-04-21 10:36] MatkovIvan commented on #244
Hi @ManiSubbu

Thanks for getting in touch.
Could you please provide us the full backend log with stack trace and problem column name?
Did you update anything in your application on that date?
This info will help us to understand what's going on and will allow solve your problem.

Best,
Ivan

[2018-05-02 22:34] elamalani commented on #227
@S1r-Lanzelot Unfortunately, there is no place where we specify our plans or timelines. At this point, please look out for information from us on the Azure Mobile Apps repository itself.

[2018-05-02 22:59] #79 closed

[2018-05-02 23:00] #180 closed

[2018-05-03 18:32] #129 closed

[2018-05-03 18:32] #123 closed

[2018-05-03 18:33] #117 closed

[2018-05-03 18:33] #207 closed

[2018-05-03 20:27] elamalani commented on #244
Closing this issue as we havent heard back.

[2018-05-03 20:27] #244 closed

[2018-05-03 20:28] #90 closed

[2018-05-03 21:29] #241 closed

[2018-05-03 21:31] #217 closed

[2018-05-03 21:32] #219 closed

[2018-05-03 21:33] #194 closed

[2018-05-03 21:33] elamalani commented on #194
Closing this issue since the question is answered.

[2018-05-03 21:35] elamalani commented on #220
@jiberan Thanks for using Azure Mobile Ap ps. It looks like a year old issue and I'll close it for now. Please follow the suggestion shared by ericbrunner. Thanks!

[2018-05-03 21:35] #220 closed

[2018-05-03 21:36] elamalani commented on #228
I'll close this issue since the problem seems to be fixed.

[2018-05-03 21:36] #228 closed

[2018-05-03 21:38] elamalani commented on #237
@tofutim Thanks for using Azure Mobile Apps. Please look at the GitHub readme where we talk about the [future of Azure Mobile Apps](https://github.com/Azure/azure-mobile-apps-js-client#future-of-azure-mobile-apps).

I'll close this issue for now but let us know if you have any questions. Thanks!

[2018-05-03 21:38] #237 closed

[2018-05-03 22:02] elamalani commented on #225
@filoe Thanks for using Azure Mobile Apps. Please look at the GitHub readme where we talk about the [future of Azure Mobile Apps](https://github.com/Azure/azure-mobile-apps-js-client#future-of-azure-mobile-apps). We won't be adding new features in the product.

I'll close this issue for now but let us know if you have any questions. Thanks!

[2018-05-03 22:02] #225 closed

[2018-05-03 22:04] elamalani commented on #222
@hche608 Sorry for the late follow-up on this issue? Did you find out the right place to add the code?

[2018-05-03 22:05] elamalani commented on #230
@thombrink Thanks for using Azure Mobile Apps. Please look at the GitHub readme where we talk about the [future of Azure Mobile Apps](https://github.com/Azure/azure-mobile-apps-js-client#future-of-azure-mobile-apps). I'll close this issue for now but let us know if you have any questions. Thanks!

[2018-05-03 22:05] #230 closed

[2018-05-03 22:06] elamalani commented on #234
@leedjones Thanks for using Azure Mobile Apps. Please look at the GitHub readme where we talk about the [future of Azure Mobile Apps](https://github.com/Azure/azure-mobile-apps-js-client#future-of-azure-mobile-apps). This issue was opened a few months back, I'll close this issue for now but let us know if you have any questions. Thanks!

[2018-05-03 22:06] #234 closed

[2018-05-03 22:08] elamalani commented on #240
@asierpn Thanks for using Azure Mobile Apps. Did you find the documentation for that method? I'm not sure if we have publicly documented it.

I'll close this issue for now but let us know if you have any questions. Thanks!

[2018-05-03 22:08] #240 closed

[2018-05-03 23:02] elamalani commented on #218
@julianonunes Thanks for using Azure Mobile Apps. There were some suggestions on StackOverflow on how to fix those issues. Did you get a chance to look at it?

I'll close this issue for now since its a year old. Feel free to contact us in case you have any question.

[2018-05-03 23:02] #218 closed

[2018-05-03 23:05] elamalani commented on #210
Hey everyone,

Thanks for using Azure Mobile Apps. Please look at the GitHub readme where we talk about the [future of Azure Mobile Apps](https://github.com/Azure/azure-mobile-apps-net-server#future-of-azure-mobile-apps). At this point, we ar4e not adding any new features to the product.

[2018-05-03 23:05] #210 closed

[2018-05-03 23:09] elamalani commented on #236
@edorphy Sorry for the late follow-up on this issue. Were you able to resolve the problem?

[2018-05-03 23:25] aziel commented on #101
You mean "Thanks for contributing to Azure Mobile Apps"

On Thu, May 3, 2018 at 4:21 PM, Ela Malani <notifications@github.com> wrote:

[2018-05-03 23:31] julianonunes commented on #218
I don't remember how the problem was solved, but thank you anyway.

[2018-05-04 08:56] prebenh commented on #228
It's a work around. But maybe the TableContractResolver should take into account Json Attributes that are specified

[2018-05-04 13:15] edorphy commented on #236
No I didn’t have time to investigate further.  I removed my custom cert and custom domain deployment for the time being.

I plan to go live with my service this summer so it is certainly something I still want to do.

I found some forum posts about overriding the website signing key in app settings, so maybe it’s possible to change the issuer and audience that way too?

[2018-05-04 17:40] elamalani commented on #239
@tofutim This documentation might be helpful to you - https://adrianhall.github.io/develop-mobile-apps-with-csharp-and-azure/chapter3/server/#changing-the-mobile-schema

I will close the issue for now but feel free to contact us if you have questions.

[2018-05-04 17:40] #239 closed

[2018-05-04 19:18] elamalani commented on #236
@edorphy Thanks for the update. Please look at the GitHub readme where we talk about the [future of Azure Mobile Apps](https://github.com/Azure/azure-mobile-apps-js-client#future-of-azure-mobile-apps). At this time, we will only look at fixing critical issues in the product.

I'll close this issue for now but let us know if you have any questions.

[2018-05-04 19:18] #236 closed

[2018-05-04 23:05] edorphy commented on #236
@elamalani The link you added points to the javascript sdk, however I found the same documentation under this project too.

It is my understanding since this has been closed MSFT doesn't believe this is a critical issue. From the consumer perspective it is. I can't be the only client that wants to use a custom domain, secure it properly not using Google/Facebook for login and host it in Azure.

Th

[2018-05-27 03:33] mzhukovs commented on #210
sorry, just so it's 100% clear - Microsoft won't be updating the C# backend option for Azure Mobile Apps to be .NET Core + EF Core? Please confirm when you get a chance, thanks! @elamalani

[2018-05-28 11:51] mzhukovs commented on #227
@elamalani @elamalani I've seen comments saying EF may not be worth keeping but I don't see the argument against it, or what would replace it ? I'm not the most experienced/savvy when it comes to backend so would love to understand more on that, but I think those that want to use it should still have the option (to do so easily in an integrated fashion, which was a point made about it). I find the

[2018-05-28 15:20] elamalani commented on #210
@mzhukovs You are correct - unfortunately, we are not adding new features in Azure Mobile Apps.

[2018-06-13 20:39] ltaljaard commented on #242
@elamalani Hello, could you give me an update with regards to this compatibility issue between the System.IdentityModel.Tokens.Jwt package version "5.2.1" (its latest version is now "5.2.2") with the latest available azure-mobile-apps-net-server ? I have just updated all my packages and the problem with the local debugging that is described in this issue #242 is still very much there. I have had t

[2018-06-14 22:09] charlesroddie commented on #227
@elamalani Azure Mobile Apps was something my startup considered. It seemed to be a monolithic system and I wasn't sure how much flexibility we would lose in setting up our data and how much we would be dependent on it. It was unclear for example whether we could create any SQL database and use App service to sync it.

We would have been be more comfortable if the services had been separate. E.g.

[2018-06-15 08:05] rokonec commented on #185
I'd like to add that major version might indicate breaking change, but break compatibility with a platform is another level and shall be always avoided. As we won't migrate to net core, that change is for us same as if he would make package compatible with node.js only :-)

[2018-06-15 19:33] MatkovIvan commented on #242
Hi @ltaljaard

https://github.com/Azure/azure-mobile-apps-net-server/issues/185#issuecomment-281854496 - this is an explanation and https://github.com/Azure/azure-mobile-apps-net-server/issues/210 is why it is still the case.

[2018-07-12 20:36] jshinevar commented on #215
I am still having a hard time truly believing that the final answer is just a resounding no.  I would much rather build all of my future solutions using .NET Core.  Right now, I still have to have my API's using ASP.NET MVC5.  I understand if there is going to be a future different product that will handle this functionality for .NET Core.  Please give us a glimmer of hope.

[2018-07-17 05:53] jmoralesv commented on #215
Hi, I was also looking for a solution to have a Mobile App back-end services written in .NET Core 2.1, as we want to remove the dependency on Windows. However, I think we will have to resort creating our own authentication server to continue working with .NET Core. It's sad to know that Mobile Apps are not updated actively anymore.

[2018-07-25 04:06] gayan1991 opened #246 "Is the table controller supported?"
In previoud .net core environments, azure mobile sync services were not supported and because of that table controllers were replaced by api controllers?

With the .net core 3.0 coming up, are table controller sync services supported with the new .net core standard?

[2018-07-25 17:03] dhei commented on #246
Hi @gayan1991,

Thanks for getting in touch.

I am not sure if I understand what is "azure mobile sync services". Do you mean offline sync feature of Azure Mobile Apps? We only support .NET Framework at this moment, and currently have no plan to support .NET Core in Azure Mobile Apps server SDK.

[2018-07-26 02:47] gayan1991 commented on #246
Hi sorry forgive me for my words I accidentally typed the wrong title. Anyway, are you guys planning to move the technology to .Net core.

[2018-07-26 20:59] dhei commented on #246
@gayan1991, thanks for using Azure Mobile Apps.

At this point, we don't have plans to support .NET Core in the near future. Please read the [Readme section](https://github.com/Azure/azure-mobile-apps-net-server#future-of-azure-mobile-apps) on this repo which talks about the future of Azure Mobile Apps.

[2018-07-26 20:59] #246 closed

[2018-08-07 08:24] Mike-tech opened #247 "Azure Mobile Sync Table with Where clause"
Hi there

I don't know if this is a simple question but i can't seem to find any information that talks about this. I currently have Azure mobile setup with offline capability using guidance from James Montemangno here [https://github.com/jamesmontemagno/MyItems-VS2017](https://github.com/jamesmontemagno/MyItems-VS2017).

What i want to achieve is have a backend table with different customer infor

[2018-08-07 08:46] ltaljaard commented on #247
Don't use the GetSyncTable method for pulling only what you want from the server, use PullAsync<T> method and pass it the query (of type IMobileServiceTableQuery<T>) for the subset that you want. Something like this:

IMobileServiceSyncTable<T> localDbTable = mobileServiceClient.GetSyncTable<T>();

IMobileServiceTableQuery<T> query = localDbTable.Where(localDbTbl => localDbTable_IdsFromClient.Cont

[2018-08-07 09:08] Mike-tech commented on #247
@ltaljaard thanks for the pointer. That does look like what i want. I will give it a try later tonight.

Just to confirm, presumably all the filtering is being applied on the server and not on the client?

[2018-08-07 09:12] ltaljaard commented on #247
I think the where clause is converted into an odata type query and that query string is passed over to the server, then the server does the select on that side and returns only the subset of data to the client.

On 07 Aug 2018, at 11:08, Mike-tech <notifications@github.com> wrote:

@ltaljaard <https://github.com/ltaljaard> thanks for the pointer. That does look like what i want. I will give it a t

[2018-08-08 00:10] Mike-tech commented on #247
I'm unable to get my desired result, i'm getting all records rather than the filtered data only. This is the scope of my code:

`
                 IMobileServiceSyncTable<Item> itemsTable;

                var store = new MobileServiceSQLiteStore("localstroe.db");

                store.DefineTable<Item>();

                await MobileService.SyncContext.InitializeAsync(store, new MobileServiceSy

[2018-08-08 05:18] MatkovIvan commented on #247
Hey @Mike-tech

Probably, other records synced in the previous run (without filter). Please try to cleanup local db (reinstall the app).
Also, please note that 1st parameter in `PullAsync` should be unique if you want to use incremental sync.

PS These docs can be helpful:
[How offline synchronization works](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-offline-data-

[2018-08-08 09:45] MatkovIvan commented on #247
I'm not sure on what platform do you test, but mainly - yes uninstalling the app deletes all the data.
This piece of code looks correct. How do you list the data?

[2018-08-08 10:57] Mike-tech commented on #247
@MatkovIvan I'm testing on physical Android device and iOS simulator.

I'm just doing a proof of concept at the moment so my code is identical to Jame's repo. This filter must work if this technology is to pass as a tool to implement the project.

Here is the code that gets the data:

`public async Task<IEnumerable<Item>> GetItemsAsync(bool forceRefresh = false)

        {

            await Initi

[2018-08-08 21:25] Mike-tech commented on #247
It was me! Not sure how i missed this, there was a PullAsync query being called further down the method PullLatestAsync() in Jame's code. I've already slapped myself on the wrist.

Sorted now... works beauty.

Thanks @ltaljaard and @MatkovIvan for your input

[2018-08-08 21:25] #247 closed

[2018-09-04 07:29] RaoulHolzer opened #248 "Unsecure JQuery and JQuery-UI Version"
In the current release the Jquery and Jquery-UI are out of date.

We had a security audit, which the auditor  Reports this as an Issue.

I'have made fowwling Pull Request #245 as solution.

[2018-09-10 18:49] jwallra commented on #248
Thanks for the heads up, @RaoulHolzer.  I've accepted the PR and we're looking into updating the code deployed by default in our quickstarts with your changes.

[2018-09-10 18:49] #248 closed

[2018-09-17 03:59] alexrysgspr opened #249 "Custom Auth not working anymore"
Custom auth codes work perfectly locally. But when I upload it in azure and try accessing the protected controller it says "The page cannot be displayed because an internal server error has occurred." when x-zumo-auth contains correct token. But when I try to put wrong token it says Authorization denied.

Source code :
https://github.com/alexrysgspr/TestCustomAuth

[2018-09-20 07:45] MatkovIvan commented on #249
Hi @alexrysgspr,

Could you please attach the server's logs with error? You can enable and view the logs right in the azure portal.
It will contain information about which error occurred.

[2018-09-20 07:58] alexrysgspr commented on #249
@MatkovIvan Here it is.
2018-09-20T07:57:55  PID[3976] Critical    System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.Azure.AppService.Authentication.EasyAuthModule.<HydrateTokenStoreUserClaimsAsync>d__27.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowFo

[2018-09-24 18:41] jwallra commented on #249
This error actually comes from the Azure Websites Easy Auth backend.  Please open an [Azure support ticket](https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview).

If you're interested, we have more documentation about custom auth [here](https://adrianhall.gitlab.io/develop-mobile-apps-with-csharp-and-azure/chapter2/custom/).

[2018-09-24 18:41] #249 closed

[2018-09-26 06:20] myokeeh opened #250 "The IPrincipal's Claims must contain an 'iss' Claim"
https://github.com/Azure/azure-mobile-apps-net-client/issues/464

I have an Azure app service that at some point started failing on the code below. After looking at logs, it seems to fail with `Operation=ReflectedHttpActionDescriptor.ExecuteAsync, Exception=System.ArgumentOutOfRangeException: The IPrincipal's Claims must contain an 'iss' Claim.
` I'm unsure what has changed or why it started faili

[2018-10-01 15:11] josuuribe opened #251 "Odata Query() vs QueryAsync()"
Hi,

I am using a mobile application and I need to filter pull using an Id this id does not belong to object so i can not use it directly, DomainManager.Query() method does not accept parameters, so I have tried to use QueryAsync() method that accepts other parameters apart from OData parameters

The problem is I have a GET like:

_https://subdomain.azurewebsites.net/tables/acmes?$filter=(updatedA

[2018-10-01 19:44] achocron commented on #251
Hey- I have a few questions to help understand the problem you are having.

1. What exactly is happening when you call `Query()`? Is that a wrapper method that you added to your controller? Or is it part of something you've imported that we aren't seeing? (In other words, what is the full qualification of that method?) - Alternatively, a call stack at the two query calls could prove helpful.

2. W

[2018-10-09 07:44] hashmurali commented on #241
Did anyone manage to resolve the issue?

[2018-10-09 23:21] clpolet commented on #251
We haven't heard from you for a while so I'll go ahead and close this issue. Feel free to comment and we'll reopen.

[2018-10-09 23:21] #251 closed

[2018-10-25 14:50] Jhanbury opened #253 "Support for IOC frameworks like Autofac"
I am trying to add some custom services for custom endpoints to my .net backend.
I would like to use dependency injection to inject these services into the controller.
Is it possible to incorporate an IOC container like Autofac?

[2018-10-25 18:29] guperrot commented on #253
Hi, we are not supporting this scenario but it looks someone else tried and shared his experience on a blog post. I suggest visiting https://cloudontopblog.wordpress.com/2017/03/18/18/ and maybe contact the author if you have questions about Autofac specifically.

[2018-11-05 15:11] asierpn opened #254 "MobileServiceClient.GetPush().RegisterAsync is throwing HTTP 400 sometimes since last friday"
It has been working fine the last weeks, but since last friday (11/02) I've started to see this issue in Application Insights and AppCenter.

It's happening to UWP and Xamarin Android clients, and not all requests are affected, less than the 5% of requests are affected by this issue.

[2018-11-05 19:34] dhei commented on #254
Hi @asierpn,

This sounds like an intermittent issue. Is it still happening today?

[2018-11-06 10:17] asierpn commented on #254
Hi @dhei,

Yes, it is still happening today

![appinsights](https://user-images.githubusercontent.com/9281751/48057927-874b7680-e1b5-11e8-82c6-43b641aa5ca1.png)

[2018-11-08 10:32] asierpn commented on #254
I've had more than 24 hours without seeing the issue, I think it's resolved.

Thanks.

[2018-11-08 10:32] #254 closed

[2018-11-16 12:37] petergregg opened #256 "IssuerClaim seems incorrect?"
We are experiencing issues with the following line of code in a custom controller published in an azure mobile app service - **AzureActiveDirectoryCredentials aadCreds = await this.User.GetAppServiceIdentityAsync<AzureActiveDirectoryCredentials>(this.Request);**

We have 2 azure active directory apps one is a web/api and the other is a native application configured for the app as directed in this

[2018-12-05 01:11] ElektrojungeMS commented on #256
Hey @petergregg,

Thanks for getting in touch and apologies for the delay here. Is this still happening?

Talking to various folks here, we need a little more context on which SDK you are using. Can you let me know which SDK(s) you are using and in which version? Reading through https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-convert-app-to-be-multi-tenant, it looks like eith

[2018-12-05 02:30] ElektrojungeMS commented on #256
@petergregg

Before you go through all the work to answer my question above, I have one more question for you.
Did you follow every step of the setup instructions in
https://docs.microsoft.com/en-gb/azure/app-service/app-service-mobile-how-to-configure-active-directory-authentication? It could be as simple as a setup issue.

[2018-12-05 19:49] ElektrojungeMS commented on #256
Hey!
We just ran through another set of tests using the documentation in https://docs.microsoft.com/en-gb/azure/app-service/app-service-mobile-how-to-configure-active-directory-authentication and we cannot reproduce your issue. Can you please try to integrate the SDK following the docs?

Best,
Benjamin

[2018-12-05 20:53] petergregg commented on #256
Hi Benjamin

Yes, unfortunately we are still having this issue. We have followed the documentation in  https://docs.microsoft.com/en-gb/azure/app-service/app-service-mobile-how-to-configure-active-directory-authentication and the app service authenticates/authorizes users without any issues. The above issue arises when you add a custom controller with the following line of code **AzureActiveDirect

[2018-12-06 09:03] rysbilinski commented on #227
Hi guys, is there any update on the future of this and/or it's successor

[2018-12-06 18:39] petergregg commented on #256
Hi Benjamin

I raised a ticket at the same time that I posted this issue but unfortunaltely no progress has been made.

Many Thanks

Peter

[2018-12-06 22:56] ElektrojungeMS commented on #256
I see. We'd real like to help you with the issue.
Is there any chance that you could send us more of your code, e.g. where/how you setup the SDK. I understand that it's probably not possible to share any here on Github, maybe you can share some privately via email. My mail is `bereimol` at microsoft dot com.

Best,
Benjamin

[2018-12-07 17:40] elamalani commented on #227
@rysbilinski Unfortunately, there is no update at this time. We will keep you posted whenever we have an announcement to make from our side.

[2018-12-12 06:45] asierpn opened #266 "MobileServiceClient.GetPush().RegisterAsync is throwing HTTP 404"
All the requests are being affected (UWP, Xamarin Android and Xamarin iOS). It started yesterday 2018-12-11 02:49:00 +01:00 and it is still happening now.

[2018-12-12 11:57] katie1348 opened #267 "Microsoft.Azure.Mobile.Server.Authentication not compatable with JWT 5.3.0"
I get the following error when I try to update to the latest version 2.0.3 on my Azure Mobile App projects.

Unable to resolve dependencies. 'System.IdentityModel.Tokens.Jwt 5.3.0' is not compatible with 'Microsoft.Azure.Mobile.Server.Authentication 2.0.3 constraint: System.IdentityModel.Tokens.Jwt (> 4.0.3 && < 5.0.0)'.

I was having no problems before, the 5.3.0 version of JWT was working fine w

[2018-12-12 19:43] ElektrojungeMS commented on #256
Hey Peter,

We are following up with you through Azure support as this issue seems to be a configuration problem, I'm closing this issue here. If we find that there is an issue with the Zumo SDK here, we'll reopen the issue.

Thanks for your patience on this.

Best,
Benjamin

[2018-12-12 19:45] guperrot commented on #267
Hi, this were the issues motivating the change: #154 and also confirmed by #185.
In the meantime if you need to stay on version 5.3.0 on JWT we recommend that you keep using v2.0.0 and install explicitly Microsoft.Data.OData v5.8.4 to address a vulnerability issue.
We need to check compatibility with JWT 5.3.0 before removing the constraint in a future release.

[2018-12-12 20:01] guperrot commented on #267
So as mentioned in #181 the JWT 5.x nuget breaks server.login which is another module of this SDK.
We verified with 5.3.0 and this is still breaking Microsoft.Azure.Mobile.Server.Login package because a class was removed, supporting JWT 5.3.0 would need to drop support for JWT 4.x and is feature request our team needs to discuss.

[2018-12-13 00:41] dhei commented on #266
Hey @asierpn,

Sorry for the inconvenience.
This looks like an issue related to App Service backend. We use this GitHub repo to track issues in Azure Mobile Apps .NET Server SDKs. Can you please open a support ticket on Azure portal to get better assistance?

[2018-12-13 02:32] guperrot commented on #256
@petergregg how are you testing the login locally with the sample app?
How do you hit the SecuredController.cs file since it does not have a Route being defined?
What did you put in Web.config for AAD?
Are you using express aad settings in the portal?
What parameters did you pass in Startup.Swagger.cs line 31 for the variables to replace?

I could repo remotely by defining a custom path for Secure

[2018-12-13 19:20] guperrot commented on #266
Hi, your server errors should not be related to the SDK updates, please insist on azure support as if it was working before there is no reason it would stop working with the previous SDK. Server errors are most likely reliability issues that Azure support engineers must look at.

As for the client SDK update issues please create an issue on the client repository.

[2018-12-14 06:19] asierpn commented on #266
Hi @guperrot,

I'm insisting on Azure support, but it is very coincidental that the issue started on the same day that the new version was published.

The client issue I have is not really an issue, it is a change made in authentication starting in version 4.x which was reported [here](https://github.com/Azure/azure-mobile-apps-net-client/issues/389) and makes the authentication process almost inu

[2018-12-14 07:33] asierpn commented on #266
I've tested using the last client and server SDKs and the issue still happens...

[2018-12-14 17:49] guperrot commented on #266
The issue cannot be caused by a coincidence with sdk releases, publishing a nuget to nuget.org is not having any effect on a service running on Azure.

[2018-12-17 17:22] petergregg commented on #256
@guperrot sorry for the delay in getting back to you.

To test the login locally I have an aad app configured in azure as documented here - https://docs.microsoft.com/en-gb/azure/app-service/configure-authentication-provider-aad#a-nameexpress-aconfigure-azure-active-directory-using-express-settings.

I have configured the local debugging as documented here https://github.com/Azure/azure-mobile-app

[2018-12-18 23:52] mintyfusion commented on #98
Good documentation for this feature: https://adrianhall.gitlab.io/develop-mobile-apps-with-csharp-and-azure/chapter3/server/

In addition, there has to be Trigger for UpdatedAt as well

`CREATE TRIGGER [TR_dbo_Examples_InsertUpdateDelete] ON [dbo].[Examples]
    AFTER INSERT, UPDATE, DELETE AS
    BEGIN
        UPDATE [dbo].[Examples]
            SET [dbo].[Examples].[UpdatedAt] = CONVERT(DATETIME

[2018-12-19 12:37] josuuribe commented on #251
Thanks for the questión seems the problem was solved using [EnableQuery] attribute on controller.

[2018-12-19 15:35] mahendranv commented on #198
I was on 4.0.2 of Azure.Mobile sdk then recently migrated to 4.1.1.

On both I am facing the following issue

can anyone confirm we're still using the same application URL format?

`public static string ApplicationURL = @"https://xxxx.azurewebsites.net";`

[2018-12-19 17:16] angusbreno commented on #198
Guys, push notification is not provided by the nuget library anymore, it's obsolete. You can find some tutorials using app service but i don't recomend either.

My advice as a Microsoft cloud architect:
Don't use push from easy way (app service push) cause it's not fully customizable.
Use notifications hub in azure and create some copy-paste code from the old push library: https://github.com/Azure

[2018-12-19 17:43] angusbreno commented on #227
In my opinion the golden goose from Azure Mobile Apps it's the client-server communication.

This "kind of" OData service it's really practical and it's perfect to perform some inter-services communication.

I think, Microsoft should break this library in something that makes more sense. Communication should not be attached to "mobile" client, but to anything, anywhere. This kind of communication

[2018-12-20 01:07] kellyelton opened #270 "Specify Table name"
How do I specify the Table name used by the `TableController`?

[2018-12-20 05:36] mahendranv commented on #198
Thanks. Just wanted to confirm the endpoint is still the same. We've also tried to restart the app service and changing notification hub back and forth with no luck. Will report this to support team.

[2018-12-20 17:45] dhei commented on #270
You may follow [How to: Define a table controller](https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-dotnet-backend-how-to-use-server-sdk#define-table-controller) documentation:

Create a Data Transfer Object (DTO) class.
Configure a table reference in the Mobile DbContext class.
Create a table controller.

[2018-12-20 19:53] ConnorMcMahon commented on #256
@petergregg All of the issues you are seeing seems to be due to an incorrect X-ZUMO-AUTH token being passed to the application. Assuming you generated the X-ZUMO-AUTH token by hitting `https://<site-name>.azurewebsites.net/.auth/login/aad` with a POST body of `{"id_token": "<token>", "access_token": "<token>"}` (which your Native client application should be handling for you assuming it is configu

[2018-12-20 22:59] jakeharris4u commented on #266
We also have been getting 404 errors since 12/11 and have been working with Azure support to restore our app to a previous version - even though we have not made any updates to it.  I believe there is something that happened on 12/11 that was not backward compatible in some way that broke all of the routing provided in the common code.  That would explain why others are seeing the same issue at th

[2018-12-20 23:46] ConnorMcMahon commented on #266
A hotfix has finished deploying this morning. A site restart should fix this issue.

[2018-12-23 18:49] kellyelton commented on #270
Yes

[2018-12-24 18:20] dhei commented on #270
@kellyelton Please take a look at [Changing the Mobile Schema](https://adrianhall.gitlab.io/develop-mobile-apps-with-csharp-and-azure/chapter3/server/#changing-the-mobile-schema) section of the zumo book.

To be honest I am not expert on Entity Framework, but it seems possible to do by defining your own schema.

[2018-12-24 18:20] #270 closed

[2018-12-28 23:41] ConnorMcMahon commented on #256
@petergregg Disregard my previous comment. This is based on a regression introduced in Summer 2018.

Starting then, if an application has the site auth setting moduleRuntimeVersion set to any valid version >= 1.0.0, instead of populating the user Claims Principal with the claims from the X-ZUMO-AUTH token, it will populate them based on the claims in the token store (i.e. the claims from the origi

[2019-01-03 18:02] jwallra commented on #256
Hi @petergregg - It's been a while since we've heard from you.  Connor gave a workaround for the issue above.  I'm going to close the issue, but if you find you're still running into problems, get a hold of us and we'll give assistance.

Thanks for bringing the issue to our attention, it was a hard one to pin down!

[2019-01-03 18:02] #256 closed

[2019-01-14 16:45] jwallra commented on #256
Hi again @petergregg, we don't have any plans to make changes to this SDK based on the regression.  @ConnorMcMahon - do you guys have a public-facing issue tracking repo, UserVoice, etc.?

[2019-01-14 18:56] ConnorMcMahon commented on #256
There is a [Web Apps user voice](https://feedback.azure.com/forums/169385-web-apps), that is probably the best location.

[2019-01-16 22:59] fileman commented on #227
@elamalani see hour previous comments. Give a feedback on call is difficult for me, since I don't speak english very well, so it's better with mail or with an a member of team who speak in Italian.
A roadmap or backlog of the features could be useful for us

[2019-01-17 02:06] eqcb commented on #267
So the current recommendation is? I downgraded the JWT to version 4.0.4.xxx to be able to upgrade Azure packages. Still have to check any impact.
How easy is to reach the System team to understand why they removed that class?

[2019-01-17 02:15] guperrot commented on #267
The nuget spec was changed to allow having JWT 5.3.0 be used by the hosting application in #268 just for the Authentication package (not Server.Login one). However the server SDK has not been released with this change yet.

[2019-01-17 06:12] stefffdev commented on #227
Hi,
you should get some "Inspiration" from the Google Cloud Firestore Beta, they got it pretty much right and the developer experience is great.
We've been migrating a app from AzureMobile/Xamarin to Cloud Firestore and Flutter lately.

stef

[2019-01-17 18:01] elamalani commented on #227
@stefffdev Thanks for your feedback. Would you be willing to discuss more over a call?

[2019-01-17 18:03] elamalani commented on #227
@fileman I don't have anyone in my team speaking Italian but I'll send you an email with all the details and roadmap. Please look out for a mail in the coming days. Thank you.

[2019-01-17 18:08] asierpn commented on #227
Hi,

In our case we use Mobile Apps to access on-premises data through a VPN between Azure and our network from the platforms UWP, Xamarin iOS and Xamarin Android. We also use push notifications and offline sync. Will be this scenario covered by this new service?

Thanks,
Asier

[2019-01-17 22:10] stefffdev commented on #227
Hi, I dropped you a mail!

On Jan 17, 2019 19:01, Ela Malani <notifications@github.com> wrote:

@stefffdev<https://github.com/stefffdev> Thanks for your feedback. Would you be willing to discuss more over a call?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/Azure/azure-mobile-apps-net-server/issues/227#issuecomment-4552690

[2019-01-21 19:03] codegrue commented on #227
You need to make CosmoDB work offline and do automatic and real-time synchronizations. Bundle that all into App Center with your other mobile APIs.

[2019-01-21 19:10] elamalani commented on #227
@codegrue We are looking to leverage CosmosDB for data storage. I'd like to discuss in detail if you open to share your feedback over a call?

[2019-01-21 19:52] codegrue commented on #227
Yes. how might we contact you?

[2019-01-21 20:45] elamalani commented on #227
@codegrue Please send me an email at emalani at microsoft dot com. Thank you.

[2019-01-23 01:06] swift-nicholas commented on #267
What sort of time frame are we looking at for a nuget release of 2.0.4?

[2019-01-23 06:06] asierpn commented on #267
Is there any plan to make Microsoft.Azure.Mobile.Server.Login also compatible with JWT 5.3.0?

[2019-01-24 00:43] jwallra commented on #267
@asierpn We don't have any immediate plans, so for now the guidance is to do as @guperrot suggested [above](https://github.com/Azure/azure-mobile-apps-net-server/issues/267/#issuecomment-446719085)

[2019-02-07 17:18] PaulARoy opened #272 "Authentication with providers stopped working (web)"
This is a summary of bug https://github.com/Azure/azure-mobile-apps-js-client/issues/287

Provider auth (facebook, twitter, google at least) are no longer working on web sdk, neither on production or development. There has been no change on front-end but I diagnosed an issue on the data returned by server:

What I found on line https://github.com/Azure/azure-mobile-apps-js-client/blob/master/sdk/s

[2019-02-08 10:07] asierpn opened #273 "Authentication with Microsoft provider issue"
Since two days ago, when using a Microsoft personal account to login using server-flow, the server is not able to retrieve the email of the user logged from the MicrosoftAccountCredentials as it did before this issue. Now the credentials object is returning the user display name as the user id instead of its email. No changes have been made to the client or the server and of course the scope wl.em

[2019-02-11 13:30] asierpn commented on #273
Forget this as it is working again now.

[2019-02-11 13:30] #273 closed

[2019-02-11 13:49] PaulARoy commented on #272
The problem has been resolved by the Azure team this week-end.

[2019-02-11 13:49] #272 closed

[2019-02-11 17:03] dhei commented on #266
@asierpn, sorry to hear that it's happening again. Please contact Azure support for this issue.

[2019-02-11 17:07] asierpn commented on #266
@dhei, yes, I've reopened the Azure ticket, I think that the fix for the authentication issue has broken it again. I've reopened this github ticket also to see if @ConnorMcMahon reads it and takes it into account.

[2019-02-11 17:12] ConnorMcMahon commented on #266
I can acknowledge that the regression has popped back up, and I am actively working on a fix that will get deployed shortly.

In the meantime, you can self mitigate by going to https://resources.azure.com. Go to subscriptions > _your subscription_ > Resource Groups > _your resource group_ > providers > Microsoft.Web > sites > _your site_ > config > authsettings. From there, you can edit the subobj

[2019-02-11 17:38] asierpn commented on #266
@ConnorMcMahon I can reach subscriptions > your subscription > Resource Groups > your resource group > providers > Microsoft.Web > sites , but I dont know how to go from sites to "my site", the tree view not expand the sites node.

![image](https://user-images.githubusercontent.com/9281751/52581869-1d81df00-2e2c-11e9-869d-acd704af9598.png)

[2019-02-11 17:52] ConnorMcMahon commented on #266
@asierpn that screenshot looks like what I get if I go to subscriptions > your subscription > providers > Microsoft.Web. Are you sure you have selected a resource group?

[2019-02-11 18:06] asierpn commented on #266
@ConnorMcMahon yes, I was not selecting the resource group. Now I reach the authsettings node, but there is not a "runtimeVersion" object under "properties". I've tried to add it but this value is not saved.

![image](https://user-images.githubusercontent.com/9281751/52583531-1c52b100-2e30-11e9-931d-0e49f54c92d7.png)

[2019-02-11 18:18] ConnorMcMahon commented on #266
Alright, workaround: If you don't have "runtimeVersion" present, then do the following.

1. Set "enabled" to false and POST.
2. Set "enabled" to true and POST.
3. Now "runtimeVersion" should be populated to "1.0.0". Change it to "1.0.3".

[2019-02-11 18:24] asierpn commented on #266
@ConnorMcMahon thank you for the workaround, I have been able to change the runtimeVersion object and now is working.

[2019-02-11 18:48] ConnorMcMahon commented on #266
@asierpn yes, that would be the right approach.

[2019-02-12 11:36] asierpn commented on #266
@ConnorMcMahon I don't know if it is related with the workaround or this issue, but the authentication has stopped working is my sites after this change, and reverting to runtimeVersion 1.0.0 is not helping. The IPrincipal.GetAppServiceIdentityAsync is returning an Invalidoperationexception StatusCode: 404, ReasonPhrase: 'Not Found', Version: 1.1, Content: System.Net.Http.StreamContent

[2019-02-12 14:27] ConnorMcMahon commented on #266
@asierpn, You can email me at comcmaho@microsoft.com your app name and I can investigate.

[2019-02-13 15:29] asierpn commented on #266
This issue was fixed yesterday by Azure engineers.

[2019-03-22 16:33] jshinevar commented on #267
Unfortunately, this conflicts with the built-in process for adding Azure AD Authentication using the wizard in VS 2017.  When you run the wizard, it automatically upgrades nuget packages and then fails because

`Adding Azure AD Authentication to the project failed: Unable to resolve dependencies. 'System.IdentityModel.Tokens.Jwt 5.2.2' is not compatible with 'Microsoft.Azure.Mobile.Server.Authenti

[2019-03-25 11:20] asierpn commented on #267
@jshinevar Yo can use Azure AD with Microsoft.Azure.Mobile.Server, you have to follow [this instructions](https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad).

[2019-03-25 13:03] jshinevar commented on #267
So, if I am doing the complete configuration of Azure AD in the portal, how would I test implicit flow locally prior to deploying?

[2019-03-28 03:43] dhei commented on #267
Hi @jshinevar,

Thanks for getting in touch.

As @guperrot's [comment](https://github.com/Azure/azure-mobile-apps-net-server/issues/267/#issuecomment-446724067) explained that Azure Mobile Apps .NET server sdk is not compatible with `System.IdentityModel.Tokens.Jwt` v5.x, so you won't be able to use them at the same time. At this point, only version between v4.0.3 and v5.0.0 (exclusively) of `Syst

[2019-04-23 07:23] athalyeakshay opened #276 "UpdateAsync method in PATCH method for MBaaS controller"
Hi, We are using the nuget for Incremental Sync from Mobile device (Lenovo TAB) to Azure Database Server and vice versa. When there is an update for a record on the TAB the user sync the data to the DB server. The updated record flows correctly to the Table on the database but the updatedat field value does not change. This is causing a lot of issues. As a workaround we wrote a stored procedure to

[2019-04-23 18:35] Jamminroot commented on #276
Hello, @athalyeakshay, we are looking at the problem, Ill reach you out as soon as I get news on the topic or need I any more details on this

[2019-04-24 07:53] Jamminroot commented on #276
@athalyeakshay, we had a discussion on the topic, this seems to me more like backend issue. Could you open a ticket with Azure support?
In the meantime, workaraound you made seem to be a good choice.

[2019-04-24 12:58] asierpn commented on #266
Same issue again with GetAppServiceIdentityAsync in development and production. I can not get the claims of the logged user with or without the runtimeVersion setting. Please fix this!

[2019-04-24 13:48] asierpn commented on #266
@ConnorMcMahon I've been able to overcome the issue by setting the runtimeVersion to 1.0.3 and getting the claims from the ClaimsPrincipal object instead of from the GetAppServiceIdentityAsync method.

[2019-04-24 22:39] ConnorMcMahon commented on #266
@asierpn, can you close this issue, as it does not have to do with the initial topic. Then you could open a separate issue for the `GetAppServiceIdentityAsync()` issue you were having, with as much technical details that you could provide. This would be helpful to improve visibility if anyone else is having the same issue.

[2019-04-25 09:13] #266 closed

[2019-04-25 10:06] asierpn opened #277 "GetAppServiceIdentityAsync() throws exception after last update"
The authentication has been broken after the last azure mobile app update (1.1.2). I cannot get user claims from the ClaimsPrincipal or from GetAppServiceIdentityAsync() method with the setting property runtimeVersion: "1.0.0" or removing it. In both cases the ClaimsPrincipal returns only basic claims, and not the expected claims for AAD authentication:

[basic claims when failing.txt](https://git

[2019-04-25 22:19] ConnorMcMahon commented on #277
So was able to reproduce the HttpRequestException found in version 1.1.2, and this is likely not a regression. It is just the InvalidOperationException present in 1.0.3 and 1.0.7 was occuring in the code before the HttpRequestException is now being hit, so now that the InvalidOperationException is not being hit, we are seeing the HttpRequestException.

Starting [early last year](https://github.com

[2019-04-26 05:52] asierpn commented on #277
@ConnorMcMahon the TLS 1.2 tweak has solved the issue. I've removed the runtimeVersion setting from our authentication config as I understand it is the best option.

[2019-04-26 05:52] #277 closed

[2019-06-19 10:33] asierpn opened #279 "Error authenticating with Google Account"
The /.auth/login/Google endpoint is raising a 401 error when doing client flow authentication since last friday 2019-06-14 at 21:00 UTC +02:00.

The claims returned by GetAppServiceIdentityAsync have changed also at the same time, we receive the claim "email" instead of "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" and "sub" instead of "http://schemas.xmlsoap.org/ws/2005/05/

[2019-06-19 10:33] asierpn opened #280 "Error authenticating with Google Account"
The /.auth/login/Google endpoint is raising a 401 error when doing client flow authentication since last friday 2019-06-14 at 21:00 UTC +02:00. We are using this code to login with client flow:

[code]

The claims returned by GetAppServiceIdentityAsync have changed also at the same time, we receive the claim "email" instead of "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" an

[2019-06-19 21:34] dhei commented on #280
Hi @asierpn,

Sorry to hear that you ran into this issue.

We are investigating this and trying to reproduce the 401 issue you encountered with Google client flow.

In the meanwhile, please [enable Diagnostic logs for App Service](https://docs.microsoft.com/en-us/azure/app-service/troubleshoot-diagnostic-logs#enablediag) and share the diagnostic logs of the login stack trace with us.

Thank you.

[2019-06-20 04:39] asierpn commented on #280
Hi @dhei,

Thanks for your quick answer.

The issue is the same reported [here](https://social.msdn.microsoft.com/Forums/en-US/48feecef-2d67-4d9b-8143-64d265868f25/web-app-authentication-issue-jwt-validation-failed-idx10501-signature-validation-failed-unable?forum=windowsazurewebsitespreview), and fortunately a Microsoft engineer has applied a temporary patch to our production app service and is w

[2019-06-20 19:28] guperrot commented on #280
Glad the fix worked for you and that explains why we could not reproduce yesterday.

[2019-06-20 19:28] #280 closed

[2019-08-16 22:19] AA-65537 commented on #227
I just noticed the file sync was removed, and was thinking of using this from the Microsoft Xamarin folks https://github.com/XamarinUniversity/ENT410

[2019-09-13 09:23] psseetharamkumar opened #282 "Deadlock Issue"
Hi,

I am facing deadlock issue when trying to sync multiple devices at the same time for the update.

Please give me solution for this. I was a tired lot of this but I can't able to fix.

Thanks,
S.Seetharamkumar

[2019-09-13 11:18] dtrabo commented on #282
Hi there! Could you please share with us any details of it, maybe you can show a code snippet to reproduce it or any other useful details, thanks!

[2019-09-13 11:44] psseetharamkumar commented on #282
Thanks for your quick response.

We are trying to update a table data from 2 different devices at the same time we sync then we facing the deadlock.
My code :
public class IssuesController : TableController<Issues>

{
private MobileServiceContext context;
        protected override void Initialize(HttpControllerContext controllerContext)
        {
            base.Initialize(controllerContext);

[2019-10-07 15:45] asierpn opened #283 "MobileServiceClient.GetPush().RegisterAsync throws HTTP 400 when called from iOS 13"
The MobileServiceClient.GetPush().RegisterAsync method is failing when called from iOS 13 with the last version of Xamarin IOS.

I can see the HTTP 400 error in the AI log for the call to the /push/installations/ endpoint.

![image](https://user-images.githubusercontent.com/9281751/66326839-013a3180-e92a-11e9-81a4-a2601f3276a8.png)

Seems [that the way to register for the notification hub](https:/

[2019-10-10 14:27] asierpn commented on #283
Is anyone reading this? I know that you are not developing new features to this project, but, can we expect that current features will continue working?

Push notifications are not working in our iOS 13 clients and we need this to be fixed.

[2019-10-10 15:50] Jamminroot commented on #283
Hey, @asierpn, sorry for such a delay in response.
There's a work item filed, and our PMs team will look at its.

[2019-10-12 04:32] samrgc commented on #214
Sorry. We are now in 2019. What is the progress? Is there offline synchronization available for asp.net core web api that can be used to substitute for Azure Mobile Apps' offline data sync?

[2019-10-15 13:02] MatkovIvan commented on #282
Hi @psseetharamkumar,
Thank you for the report, but due to other priorities for the team, it's not expected to be fixed in near future.

PS The SDK is open-source, so contributions from volunteers are welcome here 😃

[2019-10-17 07:02] OPunktSchmidt opened #285 "Request URL is too long"
I know that my question probably doesn't really fit here, but I couldn't find a solution anywhere yet.
I have already asked in the Client SDK repository: https://github.com/Azure/azure-mobile-apps-net-client/issues/517

And a similar question also exists in this repository: https://github.com/Azure/azure-mobile-apps-net-server/issues/119

**The Problem:**

We use Azure App Service with Offline Syn

[2019-10-18 07:47] russelarms commented on #214
Hi, @samrgc!
Unfortunately, we are not investing in any feature work for now:
https://github.com/Azure/azure-mobile-apps-net-server#future-of-azure-mobile-apps

[2019-10-22 11:10] asierpn commented on #283
Any update on this issue?

[2019-10-23 10:36] OPunktSchmidt commented on #285
Is this porject still maintained by someone?

[2019-11-01 01:02] clpolet commented on #283
Hi @asierpn, how do you collect the device token on iOS 13? I am asking because there was a subtle change in iOS 13 which broke a few people. You might be in this bucket if you are retrieving the push token through the `description` of the token data, more info here: https://nshipster.com/apns-device-tokens/.

[2019-11-02 15:51] asierpn commented on #283
Hey @clpolet, I see, I get it from RegisteredForRemoteNotifications method in AppDelegate (Xamarin) and I pass it directly to MobileService:

    public override async void RegisteredForRemoteNotifications(UIApplication application, NSData deviceToken)
    {
      _deviceToken = deviceToken;
      await _mobileService.Client.GetPush().RegisterAsync(_deviceToken);
    }

[2019-11-05 20:17] dhei commented on #285
Hi @OPunktSchmidt,

Sorry for the delay in response.

The less-than-ideal workaround I have now is to filter this on client side as suggested in https://github.com/Azure/azure-mobile-apps-net-client/issues/517#issuecomment-540034762. Sorry that I don't have a better solution now.

[2019-11-06 05:56] ltaljaard commented on #285
@OPunktSchmidt You can try logging a developer support call from the Azure portal. I have done that before so that the App Service team can investigate from their side. Would be nice if you could post the progress / outcome here.

[2019-12-04 09:02] MatkovIvan commented on #283
The release of client SDK (4.1.2) with the fix for it is available now.

[2019-12-04 09:02] #283 closed

[2019-12-25 04:46] som-nitjsr commented on #33
I have UWP app backend is azure mobile app service. I have configured azure b2c as authnetication. from last six month it is working fine.
on my client  side  i am using  DefaultManager.CurrentClient.CurrentUser.UserId which give me userid **{sid:value}** format.
on server side  this code was also giving **{sid:value}** and provider was **aad**
 var identity = User as ClaimsPrincipal;

[2019-12-26 00:22] Quico20 opened #287 "My mobile app service changed my user id after 4 years of usage"
Good evening ppl at Microsoft!

I have an Mobile App Service at Microsoft Azure Located at South Central US named CeneamApp.

My backend is configured in a way so that my user can access only the data they capture, by making use of stable user ids.

so I had followed Adrian Hall book to create an a user id (https://adrianhall.github.io/develop-mobile-apps-with-csharp-and-azure/chapter2/authorizati

[2019-12-30 07:33] Martin-Stein commented on #267
is there any progress here? or is the project dead?
I think the project needs also an update in the authorization part, to support the latest Microsoft.Identity.client libraries on the client side.

Thanks,
Martin

[2020-01-02 18:30] hirandesai commented on #287
Hey, I'm facing similar issue on this front..
I'm having an app hosted in azure which stopped working since last 5/6 days.
Earlier, after my server code used to get Email and ProviderAccessToken claims for Google and Facebook IDP providers but all in sudden they stopped sending this information.

Can someone help here pls?

[2020-01-02 18:32] hirandesai commented on #287
@jwallra - Seeing your most recent PR - can help us get reply on this?

[2020-01-07 21:25] ahdbilal commented on #267
Hello Martin, there is no immediate plan to provide support for this. If things changes in the future, I will post an update here.

[2020-02-10 17:17] asierpn commented on #283
We are still using 3.1.0, we cannot upgrade to 4.1.2 because we use server flow authentication for google and microsoft accounts and the experience with 4.x.x is horrible. We have fixed this exception creating our custom registration api and processing the device token to send the correct string to the api. If you don't apply this fixes to 3.x.x or improve server flow authentication in 4.x.x,  thi

[2020-07-01 12:58] zadeabhi commented on #251
We are facing similar issue with our application , below is the stack trace
{
    "message": "The query specified in the URI is not valid. Could not find a property named 'updatedAt' on type 'WebApplication1.DataObjects.TodoItem'.",
    "exceptionMessage": "Could not find a property named 'updatedAt' on type 'WebApplication1.DataObjects.TodoItem'.",
    "exceptionType": "Microsoft.Data.OData.OData

[2020-07-15 18:18] jamesvidler commented on #285
Was there ever any resolution to this? Does app service respect the request URL when you try to override it?

[2020-07-28 10:47] OPunktSchmidt commented on #285
@ltaljaard @jamesvidler There is no solution for this problem. I was in very close contact with Microsoft and our team invested a lot of time to find some workaround. It is simply not possible. Moreover, this SDK is no longer being developed by Microsoft and they reject any feature requests. From time to time they fix critical errors but nothing more.

So there are two options:

- Sends smaller HT

[2020-10-06 05:34] subramanyastar opened #288 "Microsoft.Azure.Mobile.Server: implement Auth0 authentication"
Need to implement Auth0 Authentication in Microsoft.Azure.Mobile.Server application. We need to have JWT upgraded for that, but unfortunately it throws error saying "'System.IdentityModel.Tokens.Jwt 5.0.0' is not compatible with 'Microsoft.Azure.Mobile.Server.Authentication 2.0.3 constraint: System.IdentityModel.Tokens.Jwt (> 4.0.3 && < 5.0.0)'".

Can I get any advice on how to override 'Microsoft

[2021-03-17 18:43] sisaacks commented on #98
@ChrisTowles do you have an example of what you did....I am facing the same issue as you.  I am using code first.  I am absolutely confused on what my models should look like on the client vs the server involving attributes.  I saw that some of yours are TableData???

[2021-05-11 13:06] nick5454 opened #289 "Is there any alternate to this? Since core is a no go"
Our API has to be upgrade to Core, yet microsoft isn't updating this at all. What are we supposed to use?

[2021-11-03 13:34] leonmeijer commented on #227
@elamalani Where can we find info on the new Storage and Data synchronization ?

[2021-11-03 13:48] stefffdev commented on #227
@leonmeijer we created our own sync framework and open sourced it as a successor to Azure Mobile Apps.
Although we did not open source the file sync part (yet).

You can have a look, maybe it's helpful for you: https://github.com/stefffdev/NubeSync

[2021-11-11 00:38] adrianhall commented on #214
Hi everyone - in case you get here from Google search, we do now support ASP.NET Core - check out https://azure.github.io/azure-mobile-apps and install v5.0.0 of the Microsoft.AspNetCore.Datasync libraries.  They are completely different, but then again, so is ASP.NET Core.

[2022-04-05 08:25] jpalo opened #290 "Node & versioning API"
"The Mobile Apps .NET backend is a peer to the [Node.js backend](https://github.com/Azure/azure-mobile-apps-node), giving users a choice in backend platform."

 - Is the Node version dead as link is dead?
 - I currently use the Node version, and would need to support multiple API versions "/api/v2" or similar, does this .NET server support that?