[2015-10-20 00:30] lindydonna opened #5 "Implement custom authentication with new auth feature"

[2015-10-20 00:36] lindydonna opened #6 "Enable local development of user authentication feature"

[2015-10-20 00:36] lindydonna opened #7 "Bring back the "Try it out" help page from Mobile Services"

[2015-10-21 02:20] damienpontifex commented on #7
Considering the choice of API Apps to use Swagger/Swashbuckle for this type of feature, wouldn't it be better to follow that lead rather than having a custom 'try it out'?

[2015-10-26 05:28] AndrewGaspar opened #10 "Abstract class extension of DomainManager with only virtual Query()"
My scenario is that I want to implement a DomainManager<T> with a custom view of the underlying DbSet<T> such that it can only see items in the data set that contain a token matching the current user ID. Right now I have to implement my own DomainManager<T> that re-implements everything in EntityDomainManager<T> even though all I want to do is disallow access to items that the user is not authoriz

[2015-11-02 08:04] damienpontifex opened #11 "localdb clustered index from EntityData migration"
Locally for debugging and unit testing, I am trying to use localdb. With the current implementation of EntityData the clustered indexes cause issues with error:

System.Data.SqlClient.SqlException : Cannot create more than one clustered index on table 'dbo.TableName'. Drop the existing clustered index on 'PK_dbo.TableName' before creating another.

Doesn't occur when running in SQL Azure, but woul

[2015-11-02 15:31] brettsam commented on #11
You could you be running into the same SqlGenerator issue that I looked into for this SO question: http://stackoverflow.com/questions/32141513/how-to-initializing-the-code-first-entity-framework-database-in-an-azure-mobile/32214696#32214696.

However, I think that this would affect you both SQL Azure and localdb, so maybe you're running into something different.

Can you see if that SO answer take

[2015-11-03 02:05] damienpontifex commented on #11
That solved it thanks.

[2015-11-03 02:05] #11 closed

[2015-11-04 15:51] danielloczi opened #14 "Expired AccessToken and Refresh token is empty for Microsft and Google identity providers"
Microsoft and Google Access Tokens (which were returned by the Azure gateway, and can be used to make api calls in the name of the logged in user) can be expired after some amount of time. In that case, based on the documentation we should use the the Refresh token to request a new Access Token.
Unfortunately I'm experiencing a problem, that the Refresh Token is empty. I was able to narrow down th

[2015-11-04 17:42] mattchenderson commented on #14
There are a few changes coming which will start surfacing this value. We're working on modifying the getIdentityAsync method to accommodate those API changes. Until then, unfortunately this is a limitation of the gateway.

[2015-11-04 18:41] brettsam commented on #14
I don't believe it is documented anywhere (yet) but you can tell Google to send Refresh tokens by:

1. In the Azure portal, select your Mobile App
2. Click on the Resource Group that your Mobile App belongs to
3. Select the Gateway
4. In the 'Essentials' box, click the Gateway host.
5. In your Gateway host's Application Settings pane, under *App settings*, add `MS_GoogleAccessType` with a value of

[2015-11-05 11:40] danielloczi commented on #14
Thank you for the feedback! I tried it, and seems okay!
After configuring `MS_GoogleAccessType`, users have to approve "offline access". After that, if a user hits okay, the gateway will give you a refresh token. Using this token you can write your own code to get a new access token if you need it,  This is a kind of a workarond, but works well to me. Thanks!

What is the plan for the future?
I be

[2015-11-06 17:52] eNeRGy164 opened #16 "Upgrade WindowsAzure.Storage to 6.1.0 will break TableController<TData>.UpdateAsync"
After upgrading the NuGet package for WindowsAzure.Storage from 6.0.0 to 6.1.0 updates to my data result in an error 500. Downgrading fixes the error.
I've switch multiple times between NuGet versions and the error is consistent with version 6.1.0.

The server side exception is:
[code]

StackTrace:
[code]

[2015-11-09 14:50] PaulAchess commented on #6
It's actually already feasable using OWIN, OAuthAuthorizationServerOptions and JWT Tokens.

I have this running on my solution, the new update make it even simpler to do (I no longer need to hack my way to owin).

I have the project to make a huge post on my blog on « how to do it » but I haven't taken the time yet.

If you want help with this, I'll gladly provide some, even if you only want to se

[2015-11-10 17:48] mattchenderson commented on #6
We have a solution in the works which should be getting pushed to the repo shortly, but if you do get a blog post out, we'd love to see it. Also appreciate any comments when we get the current code out, and on the proposal here:
The general idea is that we do have a hosted authentication server which a local client would talk to, and the locally-running server would have an optional middleware whi

[2015-11-11 11:46] PaulAchess commented on #6
This seems a pretty good start, I'll gladly look up at the code once it's pushed!

But this would only work for a single webapp? I think the solution could be way larger, as a part of Azure App Services.

Currently we configure third-party authentication providers on the gateway and this authentication is shared between apps (API, web, mobile, …).
I think the same mechanism for custom auth would b

[2015-11-12 00:05] mattchenderson commented on #6
Glad to hear the OSS is helping! Custom auth should be coming as part of the same push, actually. The functionality is per-site, but we have been talking a bit about one site to rely on another for auth, like you said (and similar to the gateway concept). Nothing concrete there right now, though.

[2015-11-12 18:13] mattchenderson commented on #6
We got the PR in yesterday (https://github.com/Azure/azure-mobile-apps-net-server/pull/19) which adds local dev. Can now validate tokens minted by a hosted site while still on local box.

[2015-11-12 18:13] #6 closed

[2015-11-12 18:31] mattchenderson commented on #16
Acknowledged. Thanks for finding this.

[2015-11-19 23:28] brettsam commented on #5
I'm not sure if we want to mark this completely as 'done' yet but the new Login assembly and nuget package contains a method for creating tokens that can be authenticated by App Service Authentication. There's a small snippet in our announcement blog post here: https://azure.microsoft.com/en-us/blog/azure-mobile-apps-november-2015-update/ (see the *.NET Server SDK release candidate* section).

[2015-11-25 18:28] renzska opened #33 "ProviderCredentials.UserId does not return the same value that the MobileAppUser.UserId did"
MobileAppUser is gone (understood) and the replacement to get UserId, ProviderCredentials, returns an email address rather than the original UserId that the MobileAppuser did. This is with Microsoft.Azure.Mobile.Server.Authentication.0.3.36.0. This also affects the Mobile App UserId because it is still returning a "sid:value" which is now the same for users of different providers that have the sam

[2015-11-25 18:30] renzska commented on #33
Is it possible for UserId to return the claim: nameidentifier, so we can grab the unique provider assigned id from UserId? If not, can we get a better understanding of how UserId is created and whether it will stay the same between versions (it has been changing from "Provider:someid" to "sid:somedifferentid" now to "email".

[2015-11-25 18:57] renzska commented on #33
I've found that calling the following:

ClaimsPrincipal user = this.User as ClaimsPrincipal;
            var userId = user.GetUserId();

returns the same UserId as the MobileAppUser used to: "sid:guid".

where the GetUserId extension method is as follows:

public static string GetUserId(this ClaimsPrincipal principal)
        {
            if (principal == null)
            {
                throw

[2015-11-25 19:04] renzska commented on #33
To clarify:

//
ClaimsPrincipal user = this.User as ClaimsPrincipal;
GetNameIdentifierClaim();
 //NameIdentifier Claim returns the "sid:guid"

//
ProviderCredentials identity = await user.GetAppServiceIdentityAsync<GoogleCredentials>(request);
identity.UserId = "user email address"

//
MobileService.CurrentUser.UserId // returns the same "sid:guid" as the ClaimsPrincipal method

//
both the 1st an

[2015-11-25 21:08] brettsam commented on #33
In your last example, 1 and 2 are called on the server and 3 is called on the client, correct?

Yes, this has changed with the move to using the new App Service Authentication.

The NameIdentifier claim (sid:identifier) is a unique id that App Service Authentication creates that will identify this user for your application. As you've seen, each of these ids can map to one or more ProviderCredentia

[2015-11-25 21:23] renzska commented on #33
You are correct about the server and client question.

It was intentional then that a user who logs into my app using their Facebook and then their Google account, when the ProviderCredentials.UserId from both services is their email address and they match, will have the same "sid:identifier"?

It sounds like I should still store the unique provider user id as I've seen the "sid:identifier" change

[2015-11-26 08:54] PaulAchess commented on #33
I use `User.Identity.GetUserId();` from the `IdentityExtensions` of `Microsoft.AspNet.Identity.Core`.

No cast needed, works like a charm even with my custom auth. But I admit it's kind of weird to have the email address in ProviderCredentials' UserId.

[2015-11-27 01:45] damienpontifex opened #34 "ARM Template Auth setup"
As discussed in the November 2015 update blog post with the No-code authentication / authorisation I was wondering if it is possible to enable this from an ARM template?

I currently deploy all the other resources via a template including app settings and connection strings, and it would be great to also configure the authentication settings to avoid any manual portal changes after a new deploymen

[2015-11-27 01:52] damienpontifex opened #35 ".NET Core branch"
Just wondering if there was any existing branch for migration of the server sdk for asp.net 5 and .net core?

If so, I'd love to contribute to the process, but didn't want to repeat any work if it was being done elsewhere.

[2015-11-27 16:43] brettsam commented on #33
Let me backtrack on what I said above (sorry!) -- as you mentioned, the registered email of a user with a provider may change, which means the generated 'sid:identifier' for that user would change. For example, I logged in with Facebook, looked at my sid, changed my primary email, and verified that my sid was now different.

The sid is unique to App Service Authentication and is used internally as

[2015-11-30 16:03] renzska commented on #33
@brettsam Thanks for looking into this further.

What you've stated sounds accurate to what I've seen from my tests. On the ASP.NET 5 side of things, it looks like the NameIdentifier claim returns the guid that is created in the database that it creates, however, I haven't had much time for testing to see if it's possible to find the provider unique id in those claims. I'll do some testing and rep

[2015-11-30 18:06] phvannor opened #36 "NH Registration Tag Support"
We need to restore the ability to have the client able to send tags along to the server (and be approved)

In v1, we allowed a code hook to allow developer to customize / reject  generate tags.

Possibly a white/blacklist could work for the simple case if its easier as a workaround.

Original issue found in: https://github.com/Azure/azure-mobile-services/issues/762#issuecomment-160671013

[2015-11-30 18:07] phvannor commented on #36
Node.js copy: https://github.com/Azure/azure-mobile-apps-node/issues/241

[2015-11-30 18:13] renzska commented on #33
@brettsam

In the ASP.NET 5 application I am able to get the Unique Provider Id using the following code:

'var info = await _signInManager.GetExternalLoginInfoAsync();
var uniqueProviderId = info.ExternalPrincipal.FindFirstValue(ClaimTypes.NameIdentifier);'

[2015-11-30 23:59] adrianhall opened #38 "Make CORS work when running locally (i.e. developer mode)"
Azure App Service handles CORS explicitly through the Settings -> CORS options.  When running within Azure App Service, the SDK should not do any CORS handling, delegating that functionality to the App Service.

If the server is running locally in development mode, CORS should "do the right thing" - likely allowing localhost:*.  This will allow the user to develop locally without the server gettin

[2015-12-01 00:00] adrianhall commented on #38
Ref azure-mobile-apps-node#245

[2015-12-02 01:18] ysxu opened #39 "pushClient.SendAsync should be obsolete"
This belongs to v1 where zumo wrapped nh's send apis. We are directing customers to communicate with nh directly to perform sends in v2 so should mark this method obsolete. I've already chatted with @paulbatum and @aziel about it -- there is one test (sendAsync) that is using this api, and we agreed that this change is not considered a breaking change.

[2015-12-02 14:16] brettsam opened #40 "TableControllers appear on both the /api and the /tables routes"
TableControllers should only appear on the /tables routes.

[2015-12-02 15:36] daemun commented on #40
Yes please!

[2015-12-02 16:07] afladmark opened #41 "Missing WEBSITE_AUTH_SIGNING_KEY"
Hiya,

I'm attempting to implement custom login using the sample code provided for the preview. It all seems to come together except that I don't have a WEBSITE_AUTH_SIGNING_KEY environment variable in my Azure mobile app to send to the AppServiceLoginHandler.CreateToken method as my secretKey.

I've configured Authentication, I've checked in Kudu and I have a dozen other WEBSITE_AUTH_* environmen

[2015-12-02 16:23] PaulARoy opened #42 "401 Unauthorized with users from providers (users authenticated earlier / expiration mechanism broken?)"
Hi,

I'm having a lot of troubles right now with the provider authentication. We pushed into production the application on Monday, and we have had more than a thousand `401 - Unauthorized` responses.

We also have a lot of sync on error with `CancelledByAuthenticationError` (which comes from the same problem).

On production, we are using
* Client: WindowsAzure.MobileServices **2.0.0-beta-3**
* Se

[2015-12-02 16:31] brettsam commented on #41
If you don't have that var, then it may be a bug. Just to double-check, you have:

1. Turned on App Service Authentication (and I'm guessing not configured any Providers?) following the steps here: https://azure.microsoft.com/en-us/blog/announcing-app-service-authentication-authorization/
2. Visited https://{yoursite}.scm.azurewebsites.net/env and search the page for 'SIGNING' and you don't find a

[2015-12-02 17:02] afladmark commented on #41
Thank you for your reply.

1. Yes, it was your article I used to set it up in the first place. I initially just turned it on and saved. I didn't get the key so I setup Facebook.

2. Yes. I have checked that. Here's the related tags that are present (with some values redactions as xxx):

"WEBSITE_AUTH_TOKEN_STORE":"True","WEBSITE_AUTH_ALLOWED_AUDIENCES":"http://xxx.azurewebsites.net","ScmType":"Non

[2015-12-02 18:11] renzska opened #43 "Need way to determine the provider that was used to create an auth token"
Server 0.3.36.0.

GetAppServiceIdentityAsync is defined here: https://github.com/Azure/azure-mobile-apps-net-server/blob/0.3.36.0/src/Microsoft.Azure.Mobile.Server.Authentication/Extensions/IPrincipalExtensions.cs

In a TableController method I can call the following with only one authentication type and get the data for both if the email address matches between the two services (I have only teste

[2015-12-02 18:13] renzska commented on #43
I've verified that the zumo auth token changes between the accounts being logged in on the service side using the following:
[code]

[2015-12-02 18:23] renzska commented on #42
I've been experiencing the a similar issue where the tokens are experiencing within an hour. This is causing all users to have to re-authenticate every hour. I've been using: http://www.epochconverter.com/ to compare the exp and nbf claim values from the "(this.User as ClaimsPrincipal).Claims".

@PaulAchess Is the "Token Store" enabled in your App/Auth settings? I'm curious what this does as it ha

[2015-12-02 18:29] PaulAchess commented on #42
Thanks, I feel a bit less lonely, I thought my custom auth was causing all this.

I'm not looking on server-side, I'm only seing the request from a log report with the zumo header.
http://jwt.io/ allows me to get the informations from the header, and I'm using http://www.timestamp.pro/ for timestamps.

The Token Store is **enabled**. Do you think I should try to disable it ?

Have you found a work

[2015-12-02 20:11] brettsam commented on #43
Let me reiterate your scenario to make sure I understand your goal:

1. You want to pull the provider's unique identifer for a user to look it up in your own db.
2. If a user logs in with Google first, then later logs in with Facebook (and they use the same email for both), you want to treat that person as two different users in the context of your app.

At the moment, there's no way to tell which

[2015-12-02 20:35] renzska commented on #43
@brettsam You are correct on both counts. If they login with different providers, I want each account to be unique. However, if there was a way to guarantee a unique id shared between the providers based off a value that does not change, that would be the preferred method, but given that the email address is really the only key identifying information, and that it can be changed, that presents a p

[2015-12-02 20:41] renzska commented on #42
If using mobile, I think we have to keep it enabled as per this post: https://azure.microsoft.com/en-us/blog/announcing-app-service-authentication-authorization/

I have not found a workaround as of yet.

One other option you’ll note in the portal is the ability to enable or disable a token store. This feature allows underlying provider tokens to be stored in your application, accessible only when

[2015-12-02 22:15] brettsam commented on #41
I'm not sure either -- I'll leave this issue open and see if I can get someone that knows more about signing key provisioning to weigh in. They may want some more info from you. Thanks for bringing this up.

[2015-12-02 23:11] brettsam commented on #43
We definitely need to provide a mechanism for seeing which provider logged in and I'll leave this issue open until that is ready for consumption.

But as a workaround until that is ready, I think you should be able to pass a query string key/value pair like 'provider=facebook' along with your requests. The client would need to track that state but I think it would work until we get a real solution

[2015-12-03 02:14] mattchenderson commented on #42
The tokens that App Service issues are scoped to the lifetime of the backing provider token. So if you're seeing one hour, that would be because the token given to us by, say, Facebook, is scoped to an hour. There used to be a constant value applied for the social providers in Mobile Services. The provider-lifetime change was introduced with the App Service preview via the gateway, but now is a pa

[2015-12-03 15:31] PaulAchess commented on #42
And that answer makes perfect sense and explains really well what is happening. I thank you a lot for this. I indeed saw a few 401 before but I never knew what was happening, as this was pretty rare.

[2015-12-03 16:27] renzska opened #44 "Unable to get local UseAppServiceAuthentication debugging to work. More details needed"
This may be a developer issue, but I haven't been able to get the UseAppServiceAuthentication example working to debug my service locally with Authorization as mentioned here: https://github.com/Azure/azure-content/blob/master/articles/app-service-mobile/app-service-mobile-dotnet-backend-how-to-use-server-sdk.md#local-debugging-with-authentication

With the following settings, in my local service

[2015-12-03 16:33] renzska commented on #42
For Facebook, I found the following from here: https://developers.facebook.com/docs/facebook-login/access-tokens

This tells how to extend the token:
https://developers.facebook.com/docs/facebook-login/access-tokens/expiration-and-extension

Is it possible for the azure mobile service to do this without us having to write additional code?

[2015-12-03 17:26] renzska commented on #44
I updated to the latest GA version 1.0.119.0 and updated the above code to use the config.GetAppServiceTokenHandler() and I'm still experiencing the same issue.

[2015-12-03 20:08] brettsam commented on #44
The login needs to call your actual service ({yoursite}.azurewebsites.net/.auth/facebook) in order to get a real token. That token can then be used locally and it will be validated by the AppServiceAuth middleware for testing your logic.

Which Mobile App client are you using? If .NET you should be able to set `AlternateLoginHost` on your `MobileServiceClient` to have logins go to your real servic

[2015-12-04 04:13] renzska commented on #42
@PaulAchess I used this article for the 401 DelegateHandler mentioned modifying it a to meet my needs and now when my users get a 401, calling the LoginAsync in the example popups the login screen temporarily and dismisses it, refreshing with a new token without any user interaction needed. The window popup is not friendly, but it works around the 401 issue until something better comes along: http

[2015-12-04 04:22] renzska commented on #44
@brettsam Setting the MobileServiceClient.AlternateLoginHost to {yoursite}.azurewebsites.net did the trick. I wasn't sure what that was referring to in the article. Thanks!

[2015-12-04 08:54] PaulAchess commented on #42
That's indeed what I've done for the moment — try to get the user, get 401, prompt Login, get the user again.

As you said, not really friendly but it does the work. Thanks for sharing this :)

[2015-12-04 16:30] #44 closed

[2015-12-04 18:36] renzska commented on #44
I made a blog post about it that brings everything together in one place. If you have any suggestions, please let me know.

http://www.systemsabuse.com/2015/12/04/local-debugging-with-user-authentication-of-an-azure-mobile-app-service/

[2015-12-04 21:27] brettsam commented on #44
Nice! Thanks for writing that all up, John.

[2015-12-04 22:40] renzska opened #46 "Current version throws a Bad Request error when properties in the mobile app data model are passed to it that do not exist in the service data model"
The 0.2x version of mobile apps net server allowed you to pass an object to say, an insertasync method, that had properties that did not exist in the server model and the insert would work fine. Now, in the last two versions, 0.3 and 1.0 GA, when I pass an object that has extra properties that exist in the app data model but not the service data model, I get a bad request response from the server

[2015-12-05 22:27] phvannor commented on #46
This is due to the inclusion of https://github.com/Azure/azure-mobile-apps-net-server/blob/8c5b6b52b12b8d9f04a0be8b2fabfb749d7c0919/src/Microsoft.Azure.Mobile.Server/Config/MobileAppControllerAttribute.cs#L69

[2015-12-07 18:19] pragnagopa opened #47 "Debug mode for .Net server"
Investigate debug mode for .Net server. Return full stack trace in response

[2015-12-07 18:55] renzska commented on #46
I tried setting that to false and still had the same result: `serializerSettings.CheckAdditionalContent = false;`.

[2015-12-07 18:59] brettsam opened #48 "Improved configuration for MobileAppControllers"

[2015-12-07 19:19] brettsam commented on #46
Where did you try setting it? Right now the MobileAppControllers create a new set of SerializerSettings so anything you set up outside of the controller won't be applied. For example, if you check `this.Configuration.Formatters.JsonFormatter.SerializerSettings.CheckAdditionalContent` from within a controller, it will likely still be true.

There are (less-than-ideal) ways to customize this for all

[2015-12-07 19:28] brettsam commented on #7
Agree on the Swagger approach. I've started looking into it.

[2015-12-07 21:24] jwallra opened #49 "Build should compile .NET server quickstart"
Should fail if the quickstart can't be compiled

[2015-12-07 22:03] brettsam opened #50 "Investigate telemetry for DomainManager usage"

[2015-12-07 22:04] brettsam opened #51 "Improve XML documentation"

[2015-12-07 22:04] brettsam opened #52 "Fix Global EF Registration (if possible)"

[2015-12-07 23:39] damienpontifex commented on #7
As per API apps, my thoughts would be it would be great to include it in the template for a new mobile apps project and a documentation page on adding it to an existing project.

But not adding it as a dependency to the mobile apps SDK.

[2015-12-08 19:23] aziel opened #53 "Obsolete PushClient.SendAsync"
We weren't supposed to expose this API to end users.  End users are supposed to use NotificationHubClient directly.
Need to fix/remove tests broken by this obsoletion.

[2015-12-08 20:36] aziel commented on #53
Fixed in merge:  https://github.com/Azure/azure-mobile-apps-net-server/pull/45

[2015-12-08 20:36] #53 closed

[2015-12-08 20:40] aziel commented on #39
Fixed in this merge:
https://github.com/Azure/azure-mobile-apps-net-server/pull/45

[2015-12-08 20:40] #39 closed

[2015-12-08 20:50] renzska commented on #46
I set it inside the `public static void ConfigureMobileApp(IAppBuilder app)` method originally, which did not work. I just tested it in one of my controllers and that still did not work.

I removed the [JsonIgnore] from a property "Points" and added the line you mentioned in the Initialize method of the controller. The same exception occurred. The images linked below show the detailed exception in

[2015-12-08 21:40] #5 closed

[2015-12-08 22:57] brettsam commented on #46
Actually I think the setting you may want to change is `this.Configuration.Formatters.JsonFormatter.SerializerSettings.MissingMemberHandling = MissingMemberHandling.Ignore;`

[2015-12-08 22:57] aziel opened #54 "Enable users to extend push registration controllers"
Currently, users are stuck using our implementation of the NotificationInstallationController to put NH metadata to their hub.  Mimi wants to be enable users to extend the NH controller with their own code.

[2015-12-08 22:58] aziel opened #55 "Multitenant AAD support"
Enable users to specify more than one AAD tenant with which they can authenticate their users.

[2015-12-08 23:01] aziel opened #56 ".NET Endpoints should return header with runtime versions (for client check on V1 client running against V2 server)"

[2015-12-09 00:00] phvannor commented on #56
Not sure I follow, a v1 client can't talk to a v2 server.  Any call it makes will result in a 400, missing required header response.

[2015-12-09 00:01] aziel commented on #56
I was copying cards from backlog, this card may have been resolved with the
ZUMO-API-VERSION from client

On Tue, Dec 8, 2015 at 4:00 PM, Phillip Van Nortwick <
notifications@github.com> wrote:

[2015-12-14 14:13] mlankamp opened #59 "AccessToken is null"
I have created a new Mobile App and enabled the authentication option for Azure AD. When I use the GetAppServiceIdentityAsync to get the AzureActiveDirectoryCredentials the AccessToken is null.
How do I get the AccessToken, I need this value to request a new AccessToken for a different url?

My old App Service used a gateway where it was possible to get the AccessToken.
![accesstoken](https://clou

[2015-12-14 18:11] renzska opened #60 "Passing in Extended LifeTime Facebook Token to LoginAsync Still Sets Azure Authentication Token to 1 Hour"
As mentioned here, the lifetime for tokens in Azure Mobile App Services has been changed:
https://github.com/Azure/azure-mobile-apps-net-server/issues/42

I have just implemented the Facebook SDK and am getting tokens that are valid for 60 days:

![screenshot 2015-12-14 11 07 50](https://cloud.githubusercontent.com/assets/13021263/11789327/f6a76020-a252-11e5-90b7-b4fd31461176.png)

However, when I

[2015-12-14 18:13] renzska commented on #46
That looks like the more appropriate call. I'll give it a test and let you know my results.

[2015-12-14 21:13] thyeggman opened #62 "Light up "Host in Cloud" for VB/CS Templates"
See PR #61

[2015-12-15 11:54] lrz-hal opened #63 "'authorization_code' field is required"
I try to login into mobile app on android.

Here is my code
[code]

Login throws an error `authorization_code field is required`.

`mClient.login("google")` works, but it returns a short_life token.

 I use `azure-mobile-android:3.0` sdk.

Thanks,

Martin

[2015-12-15 17:43] brettsam commented on #60
Unfortunately this is part of the same bug, which is part of App Service Authentication. I'll leave this issue open until it is fixed and deployed.

[2015-12-15 20:59] brettsam commented on #59
This looks like a bug. It's a pretty easy fix; i should have a PR out shortly.

The problem is that we're copying the 'access_token' value of the response to the token store, which is null. Instead, we should be looking at 'id_token' for AAD.

If you need a workaround before we get this released, here's one way you can get this working right now -- this intercepts the response from the token store

[2015-12-15 21:29] mattchenderson commented on #63
If you request a scope in the GoogleAuthUtil.getToken() call, you should get an authorization code in the response as well. This is required for the current flow (we cannot just accept an ID token). We are working to expand support and to provide better documentation around this.

[2015-12-16 07:13] lrz-hal commented on #63
But i try it this way. it still throws error "authorization_code"....
Here the complete Code

[code]

[2015-12-16 22:56] #48 closed

[2015-12-16 22:56] #40 closed

[2015-12-16 22:57] brettsam commented on #46
I've added a nicer fix for this. It's not yet released on nuget but you can clone and build the solution if you want to try it out. I wrote up some background here: https://github.com/Azure/azure-mobile-apps-net-server/wiki/Configuring-MobileAppController-and-TableController-Settings

[2015-12-16 22:57] #46 closed

[2015-12-16 23:25] brettsam commented on #43
_As of right now, there is a fix for this that is currently rolling out to all Azure websites. I wanted to give a heads-up as I'll be out for the holidays, but it's possible that your site(s) have not yet received the update._

App Service Authentication will now include an 'idp' claim in the token that is issued. This means that you can determine the login provider without tracking any extra stat

[2015-12-17 16:34] renzska commented on #43
@brettsam I just tested it against my Azure site and it worked! Thanks for this.

[2015-12-17 16:45] brettsam commented on #56
Yeah, I don't think we're going to do this now that we have ZUMO-API-VERSION. That should protect us from v1 clients accidentally accessing v2 servers.

[2015-12-17 16:45] #56 closed

[2015-12-17 17:17] renzska commented on #63
@lrz-hal Thanks to your post I was able to get this working, although I'm using the iOS Google Sign In control to do it. I'll be writing a blog post about it soon at systemsabuse.com, but in the meantime, hopefully this should get you on the right path.

Following this:

https://developers.google.com/identity/sign-in/ios/offline-access

I had to set my SignIn.SharedInstance.ServerClientID to the O

[2015-12-17 17:22] renzska commented on #60
@brettsam In the meantime, I was able to use the AuthHandler I mentioned in the reference issue, https://github.com/Azure/azure-mobile-apps-net-server/issues/42, to just re-auth the user to the service using a JObject of the Facebook 60 day token, which doesn't display any sort of "re-login interface". This does the job for now without affecting the user experience.

[2015-12-17 19:58] #62 closed

[2015-12-21 08:48] lrz-hal commented on #63
@renzska Many thanks for the hint. Now i'm able to correctly sign in. Here's the final code
[code]

[2015-12-21 08:48] #63 closed

[2015-12-26 15:06] benjaminjnr opened #69 "Prescriptive Entity Structures - Private Classes and Methods"
I particularly like the way the AspNet.Identity apis are structured using generics.  This allows people to use all kinds of data types as ids for their objects.  This is not so with the Azure Mobile SDK that forces string as the id (where the default value is a GUID) and clustering around CreatedAt field.

I agree that generics can add a certain layer of complexity, so the onus can be put on each

[2015-12-29 20:23] vodesoft opened #70 "IPrincipal.GetAppServiceIdentityAsync drops claims with same names."
I tuned an Azure AD application to return groups during user impersonation using "groupMembershipClaims": "All". If an user is a member of several groups claims contain several items with name groups:
...
aud: 8b48...
iss: https://sts.windows.net/51b8...
...
groups: 96e4...
groups: c0e1...
groups: abcd...
...

But if I tried to get provider claims by calling IPrincipal.GetAppServiceIdentityAsync o

[2015-12-29 22:47] sguryev commented on #70
Have the same issue

[2016-01-04 23:38] brettsam commented on #70
Thanks for bringing this to our attention. I'm working on a fix now that would use a NameValueCollection instead of a Dictionary so there can be duplicate keys.

As for a workaround, there is a way that you can get access to the response and modify it before it is turned into a `ProviderCredentials` object. That gives you access to the identity info coming back from App Service Authentication.

He

[2016-01-05 21:48] #43 closed

[2016-01-06 16:21] henrikweimenhog opened #71 "Undocumented reference to Microsoft.WindowsAzure.Mobile.Service.Entity"
I don't want the Entity framework in my project so I removed those nugets which works fine since there are no apparent dependencies. However when trying to run the whole thing I get:

Could not load file or assembly 'Microsoft.WindowsAzure.Mobile.Service, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified.

and t

[2016-01-06 16:32] #71 closed

[2016-01-07 06:38] danbridgellc commented on #33
I recently migrated to Azure Mobile App from AMS - I am using custom authentication as well as Providers...I have Providers working fine but the custom auth is failing to work correctly.  I have verified that it generates a token via the AppServiceLoginHandler.CreateToken successfully and the token is in the client request X-ZUMO-AUTH header, however, the requests are failing with 401 unauthorized

[2016-01-07 08:44] PaulAchess commented on #33
I noticed audience and issuer need a `/` at the end of the address to work, could this solve your issue?

[2016-01-07 18:05] danbridgellc commented on #33
Thank you very much Paul - that was it!  added trailing / and it is working now.

[2016-01-07 19:34] PaulAchess commented on #33
Glad I could help :+1:

[2016-01-07 20:25] xperiandri opened #72 "Is it possible to host MVC 6 app as Mobile App?"

[2016-01-08 02:35] damienpontifex commented on #34
Looking at resources.azure.com with my site, it seems this can be done using the type "Microsoft.Web/sites/config" and then under properties using the settings for AAD:

[code]

You can checkout resources.azure.com for other auth options for google, twitter etc.

[2016-01-08 02:35] #34 closed

[2016-01-11 21:45] #49 closed

[2016-01-14 15:42] brettsam commented on #7
New Swagger nuget has been checked in; docs coming to the wiki soon.

[2016-01-14 15:43] #70 closed

[2016-01-14 15:43] #7 closed

[2016-01-14 20:43] brettsam commented on #7
Added some docs: https://github.com/Azure/azure-mobile-apps-net-server/wiki/Adding-Swagger-Metadata-and-Help-UI-to-a-Mobile-App

[2016-01-15 16:00] brettsam commented on #47
@pragnagopa: Do you have a specific scenario that you want to make sure works here? Using ExceptionFilters is the likely way to do it but I want to document a before/after to make sure I've fixed your issue. I assume this is mostly for the E2E tests?

[2016-01-15 16:32] brettsam commented on #47
Oh, I think this may be b/c the E2E tests simply return "An error has occured" when deployed to a real site. The fix is to add `config.IncludeErrorDetailPolicy = IncludeErrorDetailPolicy.Always`. Without this, Web API will only return full error details when running locally. PR coming in a sec.

[2016-01-18 10:02] gaambo commented on #33
@PaulARoy - thanks for the tip with the trailing "/" - this solved my problem with debugging authentication locally. maybe this could be added in the documentation (https://azure.microsoft.com/en-us/documentation/articles/app-service-mobile-dotnet-backend-how-to-use-server-sdk/#how-to-debug-and-troubleshoot-the-net-server-sdk)

[2016-01-18 10:06] PaulARoy commented on #33
Perfect :)

I would be relevant yes.

[2016-01-18 15:07] messvk commented on #33
Hi,

After reading through this, I still don't understand this:

How do you match provides ID when you are doing verification on Mobile devices (Windows, Xamarin.ios) as methods that are available on .net that are mentioned here are not available on mobile devices and we are still getting only SID that does not match what we already have in database.

We were using uniqueID from providers to ident

[2016-01-19 17:41] phvannor commented on #33
@messvk the user object on the client SDKs will only have the SID populated in it now.  If you need to get additional information about the user you can either:
 - Call a custom API / table API that will get the additional information for you from the server (and use the above logic) post login.
- Use a client directed auth patten (get the id from fb/etc directly, and then pass the auth token to l

[2016-01-19 17:49] messvk commented on #33
@phvannor

1. I am not sure if i follow, can i send SID to custom API hat will get from sid user ID through methods on top? Or we need to somehow login on server side instead client side?
2. what do you mean by ◦Use a client directed auth patten?  Do you mean implement it directly through providers API instead of Azure?

Whole point is to avoid updating client apps, because each update takes 2 wee

[2016-01-19 18:03] phvannor commented on #33
One you are authenticated on the client (via client.login, etc) any request you make to you mobile app (or service) will have a X-ZUMO-AUTH header.  That header will auto populate the user object mentioned above, so you can just stand up a custom API, hit it, and use the above code, no other actions should ne needed.

Option 2, is more invasive and yeah, would be using the provider's APIs directly

[2016-01-19 18:20] messvk commented on #33
@phvannor
I understand the first part now, thank you.

Unfortunately its not that simple with us, as we are are providing heavily encrypted service with local encrypted database, asymetric encryption while communicating and than azure SQL, also encrypted where we have users and data.

problem is, that we are using this ID as part of generated security and communication, so we would have to change

[2016-01-19 18:24] phvannor commented on #33
@mattchenderson can you comment on plans re: above?

[2016-01-21 12:10] JanCB commented on #33
Hi,

I have the same question as @renzska with two different Id for same user, ASP.NET 5 Web App and xamarin.iOS app

Setup:
Azure WebApp ASP.NET 5 with API Controllers
Xamarin iOS App with Microsoft.WindowsAzure.Mobile.Client Nuget
Azure B2C AAD

When the user has authenticated from Web App I get the objectId:

var userClaim = ClaimsPrincipal.Current.FindFirst("http://schemas.microsoft.com/identi

[2016-01-27 22:31] pragnagopa opened #78 "Case mismatch in property names"
.NET  backend uses JsonContractResolver that camelCases all properties during serialization. For example,  following properties:
{
    "Text": "string",
    "Complete": true
 }
converted to
{
    "text": "string",
    "complete": true
}
This is a blocker for consuming API from Power Apps client as it looks up properties from swagger but in response property names are camelCased

[2016-01-28 22:01] danderson00 opened #79 "Add link to swagger UI from home page"

[2016-01-28 22:01] danderson00 commented on #79
Node equivalent issue is at https://github.com/Azure/azure-mobile-apps-node/issues/345

[2016-01-29 07:11] apoorvg opened #81 "Getting System.OutOfMemoryException while consuming Mobile Apps with varbinary datatype"
Requirement: I have a table with one of the fields as VarBinary(MAX) and storing big documents in it. I need to download the data for this table on to my Mobile Client.

Implementation: I created a Mobile Apps project and exposed the table via an Entity (sample below - only relavant portions) and the controller.
 public class ClassName
    {
        public byte[] Data { get; set; }
    }

[code]

[2016-01-29 13:28] corneliu-serediuc opened #82 "Mobile App UserId generation using Facebook Credentials makes no sense"
Hi!

I have been playing with the Facebook authentication and I have realized that the sid:nameidentifier is generated using the Facebook primary email address. If I change my primary email address in Facebook, than a new sid:nameidentifier is generated. Thus, in my mobile app I have to create another user (considering that my primary key for users is sid:nameidentifier).

Wouldn't it make more se

[2016-01-29 17:05] brettsam commented on #82
Your observations are correct. The sid is generated based on the email registered with the provider, which may change if that registered email is changed. We're discussing alternatives to this and it may change in the future (with an opt-in to any new behavior).

As it is today, I do not recommend using the sid as your unique identifier for a user. Instead, use the provider's scoped user id. You c

[2016-01-29 18:28] angusbreno commented on #78
Case mismatch occurs in OData too, custom controllers that no use the "MobileApp filter" could not find the properties cause they are CamelCase... When you change the casing in client, the error happens in Id fields...

[2016-01-30 01:14] corneliu-serediuc commented on #82
Hi @brettsam,

Thank you for the quick response. It's funny you mention this approach, because this is exactly what I have been using so far (providerName:providerId pair). What made me re-evaluate everything was this new approach that the Mobile Apps took. Ill try to be brief.

My newly migrated Mobile App from Mobile Services includes Push Notifications (just APNS for now) and SignalR.

**1. Sig

[2016-01-30 03:37] fabiocav commented on #81
Managing large documents with this approach will be challenging, principally when you start bringing this data down to the mobile device where resources are even more constrained.
You may want to look at this blog post https://azure.microsoft.com/en-us/blog/file-management-with-azure-mobile-apps/
It covers a new file sync feature that uses recommended patterns to manage files/blobs, storing them i

[2016-01-31 22:33] pvyhlas commented on #82
Hello,
I experienced some strange behavior,
I use my MS account to log in. I am pretty sure that I didn't change my email.
Today I got generated different `sid:` for this same account.

How to obtain unique user identifier on client? if  `Client.CurrentUser.UserId` is no longer valid identifier.

Thanks,
PV

[2016-02-01 10:45] pvyhlas opened #85 "Client.CurrentUser.UserId -> different for same MS account without email change"
Hi,

I migrated from Mobile services, where `UserId `contained `provider:id` string.
It changed to the `sid:string`.
Yesterday after login I had different `UserId` than before for same ms account. (Two different `sid:string` for same ms account)
I didn't change my email address.

Anyone know how is it possible?
What to use as unique id? On server side and on client side?

Thanks,
PV

[2016-02-02 18:53] aziel opened #86 "Blog post about issues doing local debug on WinPhone (and others?) using IIS Express.  - Still working with customer"

[2016-02-03 00:30] brettsam commented on #82
@pvyhlas:

I see you created issue #85 already for the changing SID. I'll follow up there for that issue.

As for your other question: the code I've listed above (and on the wiki (here)[https://github.com/Azure/azure-mobile-apps-net-server/wiki/Understanding-User-Ids]) should help you figure out the current user's unique id. Whenever you make a call with an authenticated user, you can use that cod

[2016-02-03 01:23] brettsam commented on #82
@corneliu-serediuc

First, thanks for the feedback. You're correct that mapping one user to many providers is a tough problem to solve. Basing things on the registered email helps with some aspects but has these drawbacks as well. Feedback like this helps move us in the right direction.

1. SignalR -- Great point about the overload. You're right that all we need is that token to generate the reque

[2016-02-03 01:24] brettsam opened #87 "Add overload for GetIdentitiesAsync that only requires the X-ZUMO-AUTH token value"
Specifically for SignalR; this is referenced in Issue #82.

[2016-02-03 01:25] brettsam opened #88 "Add way to override the UserId tag for the NotificationInstallationsController"
We're giving guidance to not use the SID for user ids, yet the NotificationInstallationsController uses it internally with no way to override; referenced in Issue #82.

[2016-02-03 01:29] brettsam commented on #85
First, see my wiki post [here](https://github.com/Azure/azure-mobile-apps-net-server/wiki/Understanding-User-Ids) for a better way to use a unique Id rather than using UserId.

Can you explain a little more how you saw the SID change? Did anything about your site settings change in between? Did you delete/create anything new related to the site?

[2016-02-03 10:43] pvyhlas commented on #85
In that wiki posts, it says sid is hash for email address used to log in.
I have mobile app in development so I have only few users including me.
It is hosted on azure.
I didnt change anything as far as I know.
1) before I logged in with my ms account p.v**@Hotmail.com, sid on the client side was `sid:4be49*****`
2) now when I log in with this same ms account, I get `sid:18bcd******`
this sid is i

[2016-02-03 19:13] brettsam commented on #85
It sounds like you hit a platform issue that was introduced recently. See @cgillum's [response in the Azure forums](https://social.msdn.microsoft.com/Forums/azure/en-US/062087be-71b0-41eb-9411-cd2cd2a8c067/user-sid-has-changed-while-using-the-same-fb-account-to-logon-to-mobile-apps?forum=azuremobile&prof=required) for more details.

Thanks for bringing this to our attention. If you need a stable u

[2016-02-03 20:23] pvyhlas commented on #85
Thanks

[2016-02-03 21:44] aziel opened #90 "Local Debug, GetAppServiceIdentityAsync throws 'System.ArgumentOutOfRangeException' if signing key is wrong"
May extend to more scenarios than Local Debug...
But if the token can't be decoded for whatever reason (signing key is wrong, or token minted with diff key is sent), the this.User.Claims has zero length.
We get a OOR exception because we're looking for the "iss" key in GetAppServiceIdentityAsync.

We should swallow this exception in GetAppServiceIdentityAsync and provide a more generic exception m

[2016-02-03 21:46] aziel commented on #90
@mattchenderson How do you want to solve this?  Is the custom exception message ok?

[2016-02-08 11:35] izefler opened #92 "It was not possible to use mobile apps in a AngularJS application with authentication aad using adal js library."
The settings were performed as guided by the tutorials.

Will Mobile Apps does not support a web application SPA with AngularJS?

[2016-02-08 18:21] apoorvg commented on #81
I had looked at File Sync briefly before raising this query. Based on the brief look, the File Sync did not fit my requirement as this was tied to Blob Storage. I will try this out in more depth over new couple of days.

As per my current requirements, the documents are stored within DB. As for client application, it will run on laptops, hence there are no constraints on Processing power or storag

[2016-02-09 11:25] JanCB commented on #85
Hi @brettsam

I have an AppService - ASP.NET MVC with API 2.0 Controllers. When I authenticate the user through MobileServiceClient within an Xamarin iOS application I'm not able to use the GetAppServiceIdentityAsync for Azure Active Directory on the server to get the UserId. I need to use:                         ClaimsPrincipal mobileUser = this.User as ClaimsPrincipal;
                        v

[2016-02-09 17:07] izefler commented on #92
After some research on the issue, I found the solution in the example https://github.com/Azure-Samples/app-service-api-dotnet-todo-list, and was associated with the adal client settings.

[2016-02-09 17:07] #92 closed

[2016-02-09 18:42] renzska opened #93 "Refresh Token process not implemented - Causes re-auth issues with Google (maybe Facebook)"
Using the Google Sign iOS SDK I am able to get the id_token, access_token, authorization_code, and refresh_token. The problem is that when authenticating to Azure, I get an hour session and the service does nothing with the refresh_token to get new valid tokens. This causes my app to have to show the login screen every time the token expires (1 hour).

In the case of Facebook, I can resend my acce

[2016-02-15 06:29] Jtango18 commented on #60
Hi all,

Many updates on when we can expect an update to land that resolves this?

[2016-02-16 22:12] gaambo opened #95 "facebook credentials userId is users name"
Hi there,
I'm having a problee - i just noticed it today and i don't know how long it has been there. When requesting the userId with `this.User.GetAppServiceIdentityAsync<FacebookCredentials>(this.Request);` the credentials userId is the name(!) of the user on facebook. The name is definately not unique and non of the other fields on the credentials has the facebookId as value.

I know there has

[2016-02-18 12:24] gaambo opened #96 "automapper update issues"
hi there,
automapper has updatet its API - and the static way of working with automapper will soon be obsolete - so it would be awesome if the mobile apps server sdk also would go the new way of using automapper in the mappedentitydomainmanager.

also i'm having problems with the mappedentitydomainmanager since this week. in the mappedentitydomainmanager `Project().To<TData>()` is used in the quer

[2016-02-18 12:33] gaambo commented on #96
my workaround is to override the query/lookup methods in my simplemappedentitydomainmanager with the following
`IQueryable<TDTOModel> query = this.Context.Set<TModel>().ProjectTo<TDTOModel>();
            query = TableUtils.ApplyDeletedFilter(query, this.IncludeDeleted);
            return query;`

this still uses the static way of automapper and will be obsolete with version 5.0

[2016-02-18 15:39] brettsam commented on #95
Agreed. There is an App Service Authentication change for this in the works that will be rolled out in the near future. If you follow the advice of [this wiki page](https://github.com/Azure/azure-mobile-apps-net-server/wiki/Understanding-User-Ids) for generating stable user ids, your id generation will continue to work after the change is rolled out. We'll share more details once it is ready.

[2016-02-18 15:40] brettsam commented on #93
Thanks. I'll leave this issue open until the solution is rolled out. We'll have more information and docs available as soon as it is ready for consumption.

[2016-02-18 15:42] brettsam commented on #96
Thanks for reporting this. What version of AutoMapper are you using where you see `MissingMethodException` above?

[2016-02-22 20:39] jiberan opened #97 "Support ASP.NET Core / EF7 / .NET Core Semantics"
EntityDomainManager is expecting DbContext from EF6. There should be also version for Entity Framework Core.

[2016-02-24 08:19] gaambo commented on #95
okey, thanks for the reply and the link to the wiki page - that finally makes these different "user ids" understandable! :)

[2016-02-24 08:25] gaambo commented on #96
i'm using automapper nuget version 4.2.0 and mobile.server & mobile.server.tables 1.1.157.1

[2016-02-24 21:53] angusbreno commented on #78
Hey @brettsam can u give a feedback about this?

[2016-02-25 15:04] chadiswar commented on #82
When calling any of the await statements such as

await this.User.GetAppServiceIdentityAsync<FacebookCredentials>(this.Request);

The statement goes into a black hole and ever returns any data.  I have successfully logged in - in the case facebook - and when stepping through the debugger attached to azure, The statement never returns.  Any suggestions?

Chad

[2016-02-25 15:50] chadiswar commented on #95
I cannot seem to get the stable ID code to work.  I used to be able to do User.Identity.GetUserId() and it would return the provider id.  Moving to the suggestion above the code does not return data and the requests fail on the server side.

this.User.GetAppServiceIdentityAsync<FacebookCredentials>(this.Request)

Does not return any information.  Any assistance would be appreciated.

[2016-02-25 17:57] fileman commented on #82
I've same problem with AAD debug breakpoint show this.User as null

[2016-02-25 20:56] brettsam commented on #82
@chadiswar -- To help debug, can you:

1. Check if this.User is null.
2. Look at the incoming X-ZUMO-AUTH token with `request.GetHeaderOrDefault("x-zumo-auth")`. Take that string and put it in the 'Encoded' text box at http://jwt.io and see what it shows in the 'Payload' box on the 'Decoded' side. You can post the contents here although you may want to hide your exact site URL -- similar to this:

[2016-02-25 21:14] chadiswar commented on #82
Brett,

First thank you for responding.  Here is what I am seeing.
1)  The this.User is not null.
2)  Here is the contents of the token.  I am not concerned with the content.  When I started having problems I spun up a new Mobile App with all of the latest nugget packages, only the google provider defined and with just a test method defined.  Same results as my working project.

`{
  "stable_sid":

[2016-02-25 22:09] brettsam commented on #82
I think you're hitting the ASP.NET example of deadlocking here: http://blog.stephencleary.com/2012/07/dont-block-on-async-code.html.

I was able to repro this and by going 'async all the way down', I was able to get it working. So for you the Controller method would look something like:

[code]

[2016-02-26 14:53] chadiswar commented on #82
Thank you so much, this is a huge help.  My rookie status with async calls is now confirmed!  Given that I need to get the provider id for each of my methods in my Mobile App, is there any ramifications to converting them to return a public async Task<returnObject>?

Again, thank you so much.

[2016-02-29 08:26] kosuel commented on #85
I got same issue. I am using Azure Mobile App with javascript backend. When I sign in google account from iOS app, client.currentUser.userId returns different id. it was sid:2e40exxx yesterday, but now it return sid:0ab6dxxx. I never changed email of google.

I am not web developer, and don't know .NET. Is it server side problem or client sdk problem? I am using Javascript and Objective C. Please

[2016-02-29 09:37] pvyhlas commented on #85
I stopped using `Client.CurrentUser.UserId` as user id instead I moved this logic to the table controllers. (table controller retuns only items for signed user, and fill userId if its missing)
You can write custom api function which returns unique user id (provider:id).
Check out [wiki post](https://github.com/Azure/azure-mobile-apps-net-server/wiki/Understanding-User-Ids) I don't use javascript,

[2016-02-29 14:26] ChrisTowles opened #98 "CreatedAt, UpdatedAt, Version are always Null"
I'm trying to use this framework for sync as well as cache however the models returned by `TableController `always have null for `CreatedAt`, `UpdatedAt`, and `Version `properties. Thus for as i understand it making sync impossible. I'm using a `EntityDomainManager` and Nuget Version 1.1.157.1.

I believe my model has the correct properties so would expect them to populate correctly.

        #reg

[2016-02-29 15:22] messvk commented on #85
Hi,

we were able to get unique IDs from all providers we are using (MS, Google, AAD) and even find way to match  our migrated mobile service with new App services (after lot of try / error we found IDs in objects that we can match, but we had to create custom API that is called and that is contacting providers and ect. but it seems to be working). But today we hit some bump:

[2016-03-01 01:22] aziel opened #99 "Add tables for needs to be reconciled with client auth login tests"
Need Public and Authorized tables that allow CRUD tests to be tested against it.

https://github.com/Azure/azure-mobile-apps-net-client/commit/a46b23237e127904a9b8dea23dca079229ada8d9

[2016-03-01 07:55] VenkateshSrini opened #100 "Support for ASP.NET 5.0"
Hi,

Does this SDK run seamlessly on ASP.NET 5.0. We need to test if this works inside a Linux docker. Is any one aware what might be the problem area if the server side SDK needs to be ported to ASP.NET 5.0.

Thanks and regards
Venkatesh

[2016-03-02 19:42] adrianhall commented on #100
No - this SDK is for ASP.NET 4.6.  We have support of ASP.NET Core on the backlog.

[2016-03-02 19:42] #100 closed

[2016-03-02 19:44] adrianhall commented on #72
ASP.NET Core is on the backlog, but not available yet.

[2016-03-02 19:44] #72 closed

[2016-03-03 02:12] VenkateshSrini commented on #100
Hi Adrian Hall,

By what time are you planning to provide the same. We have a couple of
customers on AWS. They over all liked the concept of Mobile app as backend.
Also they wanted to be vendor independent deployment hence we have to host
these servers in docker container as a first step. Once they are able to
feel the benefits then we can have them hosted in Azure step by step. So
there are some

[2016-03-03 05:10] adrianhall commented on #100
Unfortunately, I don't have a timeline to share at this time.  Our belief is that the OData implementation (and EF7 changes) will cover the bulk of the time.  However, we have not started digging into it - it's quite possible that other things bite us.

[2016-03-03 05:45] VenkateshSrini commented on #100
Hi Adrian Hall,
Is there some person in Microsoft that you are aware of who has started getting their hands dirty on this

-----Original Message-----
From: "Adrian Hall" <notifications@github.com>
Sent: ‎03-‎03-‎2016 10:40 AM
To: "Azure/azure-mobile-apps-net-server" <azure-mobile-apps-net-server@noreply.github.com>
Cc: "VenkateshSrini" <venkateshsrini3@gmail.com>
Subject: Re: [azure-mobile-apps-ne

[2016-03-07 15:23] ChrisTowles commented on #98
I think I've solved my problems with the Azure Mobile SDK Syncing. My problem was two fold.

First I failed to understand that the UpdatedAt, CreatedAt and Version will all be null on the client untill the objected inserted on the server. The server database will generate these properties and return them to the client with the sync.

Second make sure all the correct Attributes are populated on the

[2016-03-07 21:37] aziel opened #101 "GetAppServiceIdentityAsync fails due to null request using AAD"
Had a few customers mention this, but haven't gotten a hard repro.  Common points are using WinPhone and AAD.

Customer 1:
Has ApiController decorated with Authorize and MobileAppController attributes.  Called from native app using Xamarin WinPhone 8.1 using MobileServiceClient.InvokeApiAsync.

The Request property on the ApiController is null.

Customer noted they are using a mixed AAD + MS AD sc

[2016-03-09 04:48] VenkateshSrini opened #102 "Unable to use the Try out button in IE11"
Hi,
I have hosted my app in Azure as a mobile app (App Service). Unfortunately the try out button in Swagger definition is not working in IE11. It simply hangs. But the same works in Edge and Google chrome. Could any one tell me what could be the potential issue.

Thanks and regards
Venkatesh

[2016-03-09 14:05] brettsam commented on #102
Thanks for filing this issue. I'm seeing the same thing. The error I'm seeing in IE11 is coming from swagger-ui: `Object.keys: argument is not an Object`. I'll have to do some investigation to see if this is something that the Mobile Apps config is doing or if it's a bug in Swagger somewhere.

[2016-03-09 14:10] brettsam commented on #93
@cgillum has written a [great blog post](http://cgillum.tech/2016/03/07/app-service-token-store/) documenting the token store. It explains how to use the new App Service Authentication feature for refreshing tokens (see the **Refreshing Tokens** section). There is a specific code sample there for Mobile Apps.

[2016-03-09 14:11] #93 closed

[2016-03-09 14:12] brettsam commented on #42
@cgillum has written a [great blog post](http://cgillum.tech/2016/03/07/app-service-token-store/) documenting the token store. It explains how to use the new App Service Authentication feature for refreshing tokens (see the **Refreshing Tokens** section). There is a specific code sample there for Mobile Apps.

[2016-03-09 14:12] #42 closed

[2016-03-09 14:13] brettsam commented on #14
This issue is specifically referencing the Gateway, which has been replaced by App Service Authentication.

But -- @cgillum has written a [great blog post](http://cgillum.tech/2016/03/07/app-service-token-store/) documenting the token store. It explains how to use the new App Service Authentication feature for refreshing tokens (see the **Refreshing Tokens** section). There is a specific code samp

[2016-03-09 14:13] #14 closed

[2016-03-10 19:50] aziel commented on #101
Customer 2 is due to customer error.  In their Startup class, they had added an AppBuilder method for UseWindowsAzureActiveDirectoryBearerAuthentication to their OWIN pipeline, which conflicts with the authentication that EasyAuth does.  I asked the customer to remove this, it resolved his problem.

[2016-03-14 17:30] VenkateshSrini commented on #102
Hi Brett,

Any updates on this issue. Could you please point out to a possible resolution

-----Original Message-----
From: "Brett Samblanet" <notifications@github.com>
Sent: ‎09-‎03-‎2016 07:35 PM
To: "Azure/azure-mobile-apps-net-server" <azure-mobile-apps-net-server@noreply.github.com>
Cc: "VenkateshSrini" <venkateshsrini3@gmail.com>
Subject: Re: [azure-mobile-apps-net-server] Unable to use the

[2016-03-15 20:49] adrianhall commented on #36
Superceded by Azure/azure-mobile-services-pr#342

[2016-03-15 20:49] #36 closed

[2016-03-19 13:59] VenkateshSrini opened #104 "Unable to add unit test to Azure Mobile App"
Hi,
When we try to add an Azure web api, there is an option to add the unit test, but the same is disabled for Azure mobile app. Could you please provide me the steps to add Unit test to mobile app.

Thanks and regards
Venkatesh
![mobile app server unit test](https://cloud.githubusercontent.com/assets/1167152/13898982/dff85878-ee08-11e5-90b9-045edcd78ad5.png)

[2016-03-19 14:02] VenkateshSrini commented on #102
Hi Brett,

Any updates on this, could you please tell me where to look into so that I can also help in the same.

Thanks and regards
Venkatesh

[2016-03-19 15:43] lhughey commented on #102
@VenkateshSrini I've given up on the App Service and have started developing with Mobile Apps in Azure.  One of the downfalls of doing so is that the "try it out button" has been abandoned.  On top of that, the official documentation for how to integrate swagger is out of date and doesn't work.  I found a blog which show you how to add swagger to to your services, quickly.  The instructions are fo

[2016-03-19 16:24] VenkateshSrini commented on #102
I'm using the same link that you have provided. But try out button is still the challenge

-----Original Message-----
From: "Lyndon Hughey" <notifications@github.com>
Sent: ‎19-‎03-‎2016 09:13 PM
To: "Azure/azure-mobile-apps-net-server" <azure-mobile-apps-net-server@noreply.github.com>
Cc: "VenkateshSrini" <venkateshsrini3@gmail.com>
Subject: Re: [azure-mobile-apps-net-server] Unable to use the Tr

[2016-03-20 15:54] lhughey commented on #102
I've been using Edge and Chrome to run things (and not IE) without issue.  I'm sorry, I'm not going to be able to help.

[2016-03-22 19:39] aziel commented on #86
Published blog to wiki.
https://github.com/Azure/azure-mobile-apps-net-server/wiki/Local-development-and-debugging-the-Mobile-App-.NET-server-backend

[2016-03-22 19:39] #86 closed

[2016-03-22 20:17] krunalc opened #105 "Mobile App not getting published properly"
I have implemented Azure Mobile App and Xamarin.Forms Client application. I want user to login using facebook from Phone and also want to fetch user's profile data. For this I have implemented the additional call/method into API controller in Azure Mobile App. I have followed steps and put the code as per your article but somehow get following error message when I run the Mobile App on localhost o

[2016-03-23 15:39] brettsam commented on #105
`Microsoft.WindowsAzure.Mobile.Service.Controllers.HomeController` comes from the Mobile Services SDK, but you're trying to use Mobile Apps. Can you remove any nuget references for `WindowsAzure.MobileServices.Backend.*`?

[2016-03-23 18:47] deman4ik commented on #96
Same with automapper 4.2.1.0 and mobile.server 1.1.157.1

[2016-03-23 18:58] krunalc commented on #105
Hi brettsam,

Yup you are correct in pointing out the problem. If I don't have WindowAzure.MobileServices.Backend.? then this problem won't occur. But if I don't add these references, I won't get "ServiceUser" and without "ServiceUser" I can't find any way to get the profile data for Facebook/Google etc.

Actually what I want to achieve is to implement the FB/Google login and fetch the profile dat

[2016-03-23 19:07] brettsam commented on #105
For Mobile Apps, `ServiceUser` is no longer needed. Instead you can follow the directions here: https://github.com/Azure/azure-mobile-apps-net-server/wiki/Understanding-User-Ids

In short, you can now do this: `creds = await this.User.GetAppServiceIdentityAsync<FacebookCredentials>(this.Request);`. I believe you may have to add `using System.Security.Principal;` to your class to get the `GetAppSer

[2016-03-23 19:36] krunalc commented on #105
Thanks brett for link and some explanation. I will work on it and let you know the outcome

[2016-03-25 00:33] adrianhall commented on #105
Seems like this is resolved - closing.

[2016-03-25 00:33] #105 closed

[2016-03-25 00:36] adrianhall commented on #98
Thanks Chris.  I'm glad it's sorted.

Feel free to ping me offline with your observations.   We can always put a wiki article together around this topic.

[2016-03-25 00:36] #98 closed

[2016-03-25 00:37] adrianhall commented on #97
Hi @jiberan - we do not support ASP.NET Core at this time.  Feel free to file a UserVoice at http://feedback.azure.com - I'm sure others are waiting on it as well.

[2016-03-25 00:39] adrianhall commented on #95
Hi @chadiswar,

Sorry we didn't see this - you co-opted another question for your own.  Feel free to post your question with more details on Stack Overflow or Azure Forums.

[2016-03-25 00:39] #95 closed

[2016-03-25 00:42] adrianhall commented on #81
Hi @apoorvg

What storage mechanism would fit your requirements?  25Mb is large for a data blob, so there must be other details here.

[2016-03-25 00:43] adrianhall commented on #35
Hi @damienpontifex - we are kicking off an unofficial branch within VSTS - would be happy to have you assist and contribute.  Let me know if you wish an invite.

[2016-03-25 00:46] adrianhall commented on #41
@afladmark Are you still having issues here?

[2016-03-25 00:48] adrianhall commented on #85
Since this original issue has been corrected, I am closing this now.  @messvk - if your issue is still existing, please post on Stack Overflow or in MSDN Forums for the service.  We can deal with questions there.

[2016-03-25 00:48] #85 closed

[2016-03-25 00:51] adrianhall commented on #33
Closing this issue as the original issue has been answered.  If anyone on the thread has additional issues (e.g. @JanCB ), then please post another question.  Thanks,

[2016-03-25 00:51] #33 closed

[2016-03-25 00:52] adrianhall commented on #47
Is this fixed now?

[2016-03-25 07:50] damienpontifex commented on #35
Hi @adrianhall that would be great. My email from here would be best (damien.pontifex@gmail.com) for an invite.

Looking forward to it.

[2016-03-25 09:55] JanCB opened #106 "Two different Id (sid) for same user"
Hi,

wo different Id for same user, ASP.NET 5 Web App and xamarin.iOS app

Setup:
Azure WebApp ASP.NET 5 with API Controllers
Xamarin iOS App with Microsoft.WindowsAzure.Mobile.Client Nuget
Azure B2C AAD

When the user has authenticated from Web App I get the objectId:

var userClaim = ClaimsPrincipal.Current.FindFirst("http://schemas.microsoft.com/identity/claims/objectidentifier").Value;

While

[2016-03-25 16:29] nhwilly commented on #106
I have a similar issue and I believe it's related to who is actually the issuer of the access_token under any particular circumstance.

Here's a copy of my comment on SO:

Any ideas?  TIA

[2016-03-25 19:45] adrianhall commented on #106
Hi @JanCB,

Are you actually using Azure Mobile Apps at this point?  From your technology list, it looks like you are not using the Azure Mobile Apps SDK.  Please confirm this is the case.

[2016-03-25 20:07] JanCB commented on #106
Hi @adrianhall ,

Server side, I'm not using a Aure Mobile App, I have a Azure Web App ASP.NET and with API controllers that I'm using from  xamarin iOS app through Azure Mobile Service SDK (mobileServiceClient.InvokeApiAsync)

The idea was to have one App with my Web App and REST API instead of two (Web and Mobile).

[2016-03-25 21:16] adrianhall commented on #106
Thanks @JanCB - this repository is for the Azure Mobile Apps .NET SDK.  I'd suggest posting your question on Stack Overflow or in the Forums.

* http://stackoverflow.com
* https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazurewebsitespreview&filter=alltypes&sort=lastpostdesc

If posting on stack overflow, tag your question with azure, aad-b2c and azure-web-sites to ensure it gets t

[2016-03-25 21:16] #106 closed

[2016-03-25 23:51] JanCB commented on #106
Ok, i will. Thanks

[2016-03-26 02:44] nhwilly commented on #82
Full disclosure: I am an even bigger rookie than anyone here.

I am authenticating from a Xamarin native client to a Mobile App using the sample code.

In this case, the user is not null, but it is when I call the same endpoint from a browser (after properly authenticating) the user *is* null.

I had to update the code a little bit as the `creds.Claims` says it's deprecated and so I used `creds.Us

[2016-03-26 03:19] nhwilly commented on #106
I am having the exact same issue.  If I have a .NET server app running under Azure Mobile App Services, can we not call an API endpoint from a browser client?  How are we supposed to do an API that serves multiple clients, then?  Sorry.  Trying to choose an architecture and move forward.

[2016-03-27 22:15] deman4ik commented on #104
@VenkateshSrini You can just add new "Unit Test Project" to your Azure Mobile App Solution after creating.

[2016-03-28 13:43] brettsam commented on #106
@nhwilly: Take a look at https://github.com/Azure/azure-mobile-apps-net-server/wiki/Understanding-User-Ids and see if that helps clear anything up. There are some changes coming that should make this simpler. They'll be documented soon, but this guide should still apply to your scenario.

[2016-03-28 13:49] brettsam commented on #82
@nhwilly: Are you referring to calling the Login API from the browser? Is that's what is giving you a null user? Or calling this GetProviderId() endpoint?

[2016-03-28 20:14] #35 closed

[2016-03-29 15:32] nhwilly commented on #82
Thanks for the quick response. In a remote area with no internet.  Sitting at a bar (only wifi on the island) at the moment and don't have the code in front of me.  I just know that getting a nameidentifier claim works differently depending on client.  I need a consistent provider based unique id and other claims for all my clients.  At some point I need to do claims transformation at the server a

[2016-03-30 03:45] damienpontifex commented on #96
I have found the issue when having a go at integrating AutoMapper v4.2 that "Argument type 'IMapper' is not CLS-compliant". This comes from having the `IMapper` interface in the `MappedEntityDomainManager` constructor for DI as I believe is the recommended way moving forward.

Making it CLS-compliant is also tracked on the AutoMapper repo at AutoMapper/AutoMapper#1072

[2016-04-01 07:16] krunalc commented on #105
Hello Adrian/brett,

I had to pause working on this thing in between and now I'm starting on it again. I checked the [link ](https://github.com/Azure/azure-mobile-apps-net-server/wiki/Understanding-User-Ids) you have shared. In the code snippet , in the very first line "this.User" is cast to "ClaimsPrincipal". I wonder what is this "**this.User**" on controller side?

On the client side, after suc

[2016-04-01 16:20] adrianhall commented on #105
MobileServiceUser is just a holder for doing post processing - it's stored in your client.CurrentUser object and passed to the backend automatically.

[2016-04-05 14:06] isamllr commented on #98
Having the same issue - tried to remove the fields completely (in my server & client solution) as documented. Since that did not work, I tried to use @ChrisTowles solution - no luck, I always get complaints about trying to insert NULL as CreatedAt. Any ideas?

[2016-04-05 19:28] danielloczi opened #108 "stable_sid vs NameIdentifier"
Hi,

I migrated our Mobile App server code from v0.1.508 to v1.0.119.0 and later to v1.1.157.1. The service is configured to use Microsoft, Google,Twitter and Facebook identity providers with token store.
After the migration I experienced weird things when tried to get User SID. Originally I used the value of the NameIdentifier claim, but for some reason it returned a different value than the User

[2016-04-05 20:21] afladmark commented on #41
Apologies for the delay in replying. I have just retested this by launching a new Mobile App and configuring it for Authentication/Authorization per @brettsam's previous instructions. It appears to have worked correctly and a WEBSITE_AUTH_SIGNING_KEY is present on the /env page as expected. I've not tested it from code, but this was obviously missing previously. I'd say consider this resolved from

[2016-04-06 08:51] isamllr commented on #98
Was able to solve it, did not follow this template for my DB since creating from existing tables.

CREATE TABLE [dbo].[ConstructionSite](
	[Site_Heads] [bigint] NULL,
	[Id]NVARCHAR (128) DEFAULT (newid()) NOT NULL,
	[Version] [timestamp] NOT NULL,
	[CreatedAt] DATETIMEOFFSET (7) DEFAULT (sysutcdatetime()) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NULL,
	[Deleted] [bit] NOT NULL,
 CONSTRAINT [PK_d

[2016-04-06 12:19] danielloczi opened #109 "'Name' Claim key is different for Google identity provider"
Our application extracts the authenticated user's full name from claims.
The claim key that we are using is 'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name'. (this is located at the ClaimTypes.Name string constant).
This works well for Microsoft,Facebook, and Twitter identity providers, but for Google the claims don't have the expected key, but it contains a "short" version of the key:

[2016-04-06 13:22] parth23 opened #110 "The request could not be completed. (Unauthorized) at Microsoft.WindowsAzure.MobileServices.MobileServiceHttpClient"
I am trying to get facebook user profile details after login in xamarin app uisng azure mobile app.
But I get exception on Xamarin mobile app (i.e. The request could not be completed. (Unauthorized) at Microsoft.WindowsAzure.MobileServices.MobileServiceHttpClient.......)
I try to attach debugger and check on azure mobile service then I get this.User.Identity.IsAuthenticated is false

![asd](https:

[2016-04-06 20:46] brettsam commented on #108
There's a number of things at play here -- I'll turn this post into a wiki page shortly so that I can point people there in the future.

**sid vs stable_sid**
When App Service Authentication was first released, the sid was generated based on the email of the user. This made it great for linking a user across two providers if they used the same email for google, facebook and twitter, but it meant t

[2016-04-06 21:24] brettsam commented on #110
It looks you're creating a new MobileServiceClient before calling InvokeApiAsync("Values"). This client won't know what the current user's authentication token is, since it is stored in the client instance that performed the login.

If you can pull the same client from your DependencyService and use that, I think it'll work as expected.

[2016-04-07 04:16] adrianhall commented on #41
Great to hear.

[2016-04-07 04:16] #41 closed

[2016-04-07 04:54] parth23 commented on #110
@brettsam
Without creating client how can I call API controller?

[2016-04-07 06:39] parth23 commented on #110
@brettsam
You are right now its working Thanks @brettsam

[2016-04-07 12:52] brettsam commented on #109
You're correct, it looks like we're not mapping the Google claims the same as the other providers. This is part of App Service Authentication but I'll leave this issue open until a fix is deployed.

[2016-04-07 12:52] brettsam commented on #110
Great!

[2016-04-07 12:52] #110 closed

[2016-04-07 13:40] danielloczi commented on #108
Thank you for the good explanation! It's a good idea to put this to the [existing Wikipedia article](https://github.com/Azure/azure-mobile-apps-net-server/wiki/Understanding-User-Ids)!.
I decided to switch to the new - stable_sid based - method.

One thing that was not clear based on your reply, but I tried it: if the `WEBSITE_AUTH_HIDE_DEPRECATED_SID` is set to `true`, then the stable_sid disappe

[2016-04-07 13:41] danielloczi commented on #109
Thank you for the feedback!

[2016-04-07 14:20] parth23 commented on #110
@brettsam
Thank you very much for your support and now I have been able to retrieve basic facebook and google profile data. However I have noticed that google profile data doesn't return gender and dateofbirth information. I have checked in azure portal but it doesn't allow configuring  SCOPE for google authentication the way it provide for the facebook. So in this case are you aware how to retrie

[2016-04-07 19:16] lrz-hal commented on #108
Which is the right way to get stable_sid.

`var user = this.User as ClaimsPrincipal;
var stableSid = user.FindFirst(ClaimTypes.NameIdentifier).Value;`

Has stable_sid the same value for multiple providers which has the same email?

Thanks

 Martin

[2016-04-10 15:31] danielloczi opened #111 "JWT validation failed: IDX10503: Signature validation failed. Keys tried: 'System.IdentityModel.Tokens.InMemorySymmetricSecurityKey"
In the log file of a Mobile App Service I found warnings and errors. I tried to figure out the root reason of these log entries, but didn't find it.

An extract from the log (sensitive data was removed):

`PID[32116] Error       Failed to read the 'Nonce' cookie for site '**********.azurewebsites.net': Nonce expired on 2016-04-**T**:**:**.0000000`

[code]

Mobile App Server version v1.1.157.1. The

[2016-04-10 16:31] danielloczi commented on #108
I think your code the get the stable_sid, is okay, just don't forget to hide depracated sid in the application config - other case you will get the 'old school' sid.

The stable_sid will be different if a user logs in with different providers which have the same email.

[2016-04-10 20:05] lrz-hal commented on #108
Ok. Thanks for the explanation.

Von Outlook gesendet

On Sun, Apr 10, 2016 at 9:32 AM -0700, "danielloczi" <notifications@github.com> wrote:

I think your code the get the stable_sid, is okay, just don't forget to hide depracated sid in the application config - other case you will get the 'old school' sid.

The stable_sid will be different if a user logs in with different providers which have the

[2016-04-11 16:26] cgillum commented on #60
This issue has been resolved in the App Service platform layer.  When logging in using your Facebook access token, you should get a long-lived JWT expiration.

[2016-04-11 16:55] #60 closed

[2016-04-14 12:28] pglazkov opened #112 "Not possible to upgrade existing Mobile Service to the new App Service when using Microsoft Live authentication and storing user IDs in the database"
Hi,

I have a mobile service that uses Microsoft Live authentication (as described [here](https://azure.microsoft.com/en-us/documentation/articles/mobile-services-how-to-register-microsoft-authentication/)). I also store user IDs in the database to associate data to the users (user IDs are in the format MicrosoftAccount:xxxxxxxxxxxxxxxxxxxxxxxxxxxxx). Now I want to upgrade the mobile service to th

[2016-04-14 17:43] AndrewNikolin opened #113 "Unable to use Microsoft.Azure.Mobile.Server.Swagger with custom authentication"
Hi! I've installed Swagger according to this wiki page https://github.com/Azure/azure-mobile-apps-net-server/wiki/Adding-Swagger-Metadata-and-Help-UI-to-a-Mobile-App, but the problem is that I'm using custom authentication in my app, so I need to provide a header "x-zumo-auth" with a value of API key. Is it possible to make Swagger send this header with a key I provide somewhere in UI?

[2016-04-16 06:12] renzska opened #115 "Authenticate and access data within Mobile App from a Web App in the same Azure App Service deployment"
I've been searching for the ability to create a Web App and a Mobile App within the same Azure App Service deployment and be able to authenticate once to access them both. This also would include the ability to have the Mobile App DBs to be the main DBs in the App Service and to have the DBs accessible from both the Web App and the Mobile App.

So far, I have been unsuccessful in my search which i

[2016-04-20 16:26] renzska commented on #115
When I stated "to be able to authenticate once to access them both", what I meant was to be able to use the same authentication source for both the web application and mobile application.

UPDATE:

I have been able to get this working by adding a mvc view to my mobile app server which then added the required dlls. I basically now have a hybrid mobile/web app service that hosts both. I am then usin

[2016-04-21 13:15] brettsam commented on #113
You'll need to do some customization but yeah that should be possible. Just so I'm clear -- you don't want the login behavior that currently logs you in via Facebook/Microsoft/etc, and instead you'd like to enter a string somewhere that gets put into x-zumo-auth? And that API key is a static string that doesn't require any logging in?

[2016-04-21 13:34] AndrewNikolin commented on #113
No, it's not static, I've made my custom implementation of login using Microsoft.Azure.Mobile.Server.Login, this article http://www.newventuresoftware.com/blog/custom-authentication-with-azure-mobile-apps and this part of App Service documentation https://azure.microsoft.com/en-us/documentation/articles/app-service-mobile-dotnet-backend-how-to-use-server-sdk/#how-to-work-with-authentication
String

[2016-04-21 18:01] cgillum commented on #115
What you're doing should be perfectly fine, though there may be a few wrinkles since it's a less common scenario (mixing web and mobile authentication together).  Of course, if you run into any issues, we'll make sure to address them.

Can you elaborate on what you mean by saving user information/tokens securely between browser sessions?

[2016-04-21 18:26] adrianhall commented on #112
Hey Pavlo,

You bring up some excellent points.  I'd like to discuss internally and test a few things out before suggesting something on this forum.  Please bear with us.

[2016-04-21 18:59] renzska commented on #115
Basically from what I can see, when authenticating in the browser to ./auth/login/{provider}, the cookie, AppServiceAuthSession, stores the token needed for authentication. I have to add this cookie to the HttpClient from my MVC 5 app when I call the MobileApiController for it to not return a 401 Unauthorized.

The AppServiceAuthSession cookie has the Expires/MaxAge value set of "Session". After a

[2016-04-21 21:07] cgillum commented on #115
To answer your cookie questions, AppServiceAuthSession is the cookie used for authenticating, as you discovered.  It currently expires after 8 hours.

ARRAffinity is a cookie used for maintaining sessions with specific App Service backend workers.  See this for more details: https://technet.microsoft.com/en-us/library/dd443543(v=ws.10).aspx

I'm not familiar with __RequestVerification.  That might

[2016-04-21 23:37] adrianhall commented on #112
Hey @pglazkov

Can you please let us know your client SDK and server SDK preferences?  We feel that switching to the client flow will fix the problem, but we want to do a PoC to ensure we are doing the right thing for your situation.

[2016-04-22 03:27] renzska opened #116 "x-zumo-auth not set when calling /.auth/login/provider directly"
When calling /.auth/login/provider from my hybrid mobile app/web app, the x-zumo-auth is not set. From what I can tell, the header is specific to mobile app logins through the mobile app client sdk. While not a huge issue, due to the lack of that header, the GetAppServiceIdentityAsync method does not work. Because of this, I have to get my user data differently on the web app.

I currently rely on

[2016-04-22 03:34] renzska commented on #115
I just found your blog and saw the /.auth/refresh path. This would works for me using Google, but not for Facebook, however, their token is 60 days, so not much of an issue. However, with you stating that the AppServiceAuthSession expires after 8 hours, how is prolonged authentication able to be achieved for Google and Facebook logins from a Web App?

In my mobile app, I create a DelegatingHandler

[2016-04-22 03:53] renzska commented on #60
Thanks for this!

[2016-04-22 09:53] pglazkov commented on #112
Hi @adrianhall,

Here are the SDK NuGet packages that I use:

- Client: WindowsAzure.MobileServices (version 1.3.2)
- Server: WindowsAzure.MobileServices.Backend (version 1.0.470)

Actually, the full source code of my app is [here ](https://github.com/pglazkov/Linqua/tree/uwp10) on GitHub, so you are free to check it out and see how exactly it is implemented. And there is a WP 8.1 version of the [

[2016-04-22 17:03] cgillum commented on #115
We don't expose any way of configuring extended access when using cookies. In most cases, it shouldn't matter since SSO will ensure the user doesn't need to re-enter their credentials.  If you're writing a SPA app that uses AJAX to call the backend APIs then I could see how this could interrupt the flow in a non-idea way.  Is that what your concern is?  If so, you may want to consider using the Ja

[2016-04-22 17:06] cgillum commented on #111
The token you're sending to the Mobile App API does not look like a Mobile App authentication token. Rather, it looks like a legacy Mobile Services authentication token.  That would explain why validation is failing.  Are you using the latest Mobile App Client SDK?

[2016-04-22 20:47] mattchenderson opened #117 "MicrosoftAccount userID is wrong value"
MicrosoftAccountCredentials.UserId gives you the field corresponding to "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" (Display name) when it should be "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" (Provider ID)

Workaround is to just use creds.Claims[ClaimTypes.NameIdentifier]

[2016-04-22 21:28] mattchenderson commented on #112
Hi @pglazkov - If you are already using the Live SDK, then you actually should be good to go. You can configure App Service Authentication / Authorization with the same ID and secret pair, and it should accept the tokens, with your users having the same IDs as before.

The issue is really if you are just using the raw `LoginAsync("microsoftaccount")` method, which you are not.

On the server, you

[2016-04-22 21:38] mattchenderson commented on #112
Also worth mentioning, the [OneDrive SDK](https://dev.onedrive.com/sdks.htm) is recommended over the Live SDK these days and might be worth considering (certainly not necessary). The code on the client can be really clean though (and you get the package through NuGet instead of a direct reference).

`IOneDriveClient oneDriveClient = OneDriveClientExtensions.GetUniversalClient(new string[] { "wl.si

[2016-04-22 22:46] renzska commented on #115
That is my concern. Using https://github.com/Azure/azure-mobile-apps-js-client/, would that allow me to use an HttpClient in .NET backend code to grab the data from my controllers that way? I assume I would have to grab the headers of the Request and add them to the .NET backend HttpClient (I have to do that with the cookies now). In reality, I may switch to just calling my apis using JS directly,

[2016-04-22 23:05] cgillum commented on #115
I might be missing some context. What is your backend doing that requires you to grab headers/cookies?

[2016-04-24 14:29] pglazkov commented on #112
Hi @mattchenderson,

Thank you for the detailed info. However, I still could not make this work. Here is what I did:

- Created a new App Service via the Azure Portal for the upgraded version of the backend service.
- Upgraded the SDK and made the required code changes following [this article](https://azure.microsoft.com/en-us/documentation/articles/app-service-mobile-net-upgrading-from-mobile-ser

[2016-04-25 16:51] cgillum commented on #116
In general, the Mobile App SDKs are not going to work very well when logging in using something other than the Mobile App Client SDK.  Instead, you'll likely need to use HTTP primitives to access the information you want.

Internally, GetAppServiceIdentityAsync makes a call to /.auth/me using the x-zumo-auth token as you mentioned. If x-zumo-auth is not available, you can instead use an HTTP clien

[2016-04-25 20:53] renzska commented on #115
I was trying to use a basic MVC Controller that calls into the MobileAppController using an HttpClient. That required the copying of the cookies and headers. I've decided that may not be the best approach and am moving to using Aurelia with TypeScript and webpack. I'll look into using the mobile apps js client library for auth from my Aurelia app (all hosted within the the MobileApp).

[2016-04-26 16:21] nagen1 opened #118 "is it possible to load default page to sitename/app in mobile apps ?"
Question!
is it possible to get ride of **"This mobile app is up and running"** page and when user enters the sitename redirect/route him to sitename/app folder where I can pretty much create a AngularJS website in my project folder. FYI - I'm a Dev beginner

in current site: when I open the site (www.navaras.com) it's taking me to blue screen and when I go to (www.navaras.com/app) it displays my

[2016-04-27 15:50] pglazkov commented on #112
Hi @mattchenderson,

After starting the upgrade procedure from scratch and following the upgrade [walkthrough](https://azure.microsoft.com/en-us/documentation/articles/app-service-mobile-net-upgrading-from-mobile-services/) once again I was finally able to make the authentication work using the "access token" approach as you suggested ([code](https://github.com/pglazkov/Linqua/blob/app-service-upg

[2016-04-29 10:33] pglazkov commented on #112
Looks like the user ID that I need is available on the client side via `AccountSession.UserId` (when using OneDrive SDK approach) or via `OnlineIdAuthenticator.AuthenticatedSafeCustomerId`(when using [OnlineIdAuthenticator approach](https://github.com/pglazkov/Linqua/blob/app-service-upgrade-2/Linqua.Lib.UWP/SecurityManager.cs#L118)).

According to the [documentation](https://msdn.microsoft.com/en

[2016-04-29 15:24] CendaL commented on #38
It took me a while to figure out I am missing CORS handlig. I have add this:
`config.EnableCors(new EnableCorsAttribute("*", "*", "*"));`
`app.UseAppServiceAuthentication(new AppServiceAuthenticationOptions()`
`...`

[2016-05-03 18:59] paulbatum opened #119 "Server should indicate when request URL is too long"
Ported from  https://github.com/Azure/azure-mobile-services/issues/892

[2016-05-04 15:05] jmichas opened #120 "Why does my controller not map all changed properties in my patch json?"
I have been trying to debug this for a day. When my client updates a local item I can set a break point and inspect the client db and see the change is written and a record is added to the operation table for sync. When I call sync I can intercept the call and see that the JObject being passed to the server is correct and has the changes that were written to the local db. When I break on the serve

[2016-05-04 15:30] jmichas opened #121 "Wiki links are broken"
It seems the wiki links are missing the /wiki/ in the path in the main wiki page.

[2016-05-04 17:14] mattchenderson commented on #117
This will be a breaking change.

[2016-05-04 17:19] brettsam opened #122 "Update QuickStart to expand UseDefaultConfiguration() into individual components"
We currently use the default config which hides some of the config options. It'd be nicer to have the QuickStart do a little more documentation and expand this out for folks to experiment with.

[2016-05-04 17:20] mattchenderson commented on #111
Looks like this has been answered. If you have any additional questions, let us know.

[2016-05-04 17:20] #111 closed

[2016-05-04 17:21] mattchenderson commented on #109
@cgillum Any updates here?

[2016-05-04 17:23] #108 closed

[2016-05-04 17:24] #82 closed

[2016-05-04 17:25] mattchenderson commented on #52
@brettsam Need clarification

[2016-05-04 17:25] mattchenderson commented on #50
@brettsam Additional detail needed.

[2016-05-04 17:28] lindydonna commented on #90
@mattchenderson Any update?

[2016-05-04 18:33] lindydonna commented on #120
@jmichas Could you provide your server SDK controller & data class?  I haven't seen this issue before. It is most likely a mapping issue, but I can help narrow it down.

[2016-05-04 19:28] jmichas commented on #120
@lindydonna Please see the code in this gist https://gist.github.com/jmichas/f9663ab3048c50e668619686f863c8d7

What mapping would be the issue? The Automapper code? My Dto and Domain are identical unless something changed from Mobile Services to Mobile Apps. Is there a way to debug further upstream where the JSON that is posted in the patch is converted to an object?

[2016-05-04 19:41] lindydonna commented on #120
Ah, Automapper is likely the culprit here. It's possible that it is interfering with the JSON serialization. Try removing automapper entirely, and see what happens. Btw, you could just remove some columns from your DTO by adding JsonIgnore, so you may not need automapper at all.

To debug further upstream, you'll need to set a breakpoint somewhere in the Web API stack, but I'm not sure exactly whe

[2016-05-04 19:46] jmichas commented on #120
Isn't Automapper what the MappedEntityDomainManager uses?
I thought I was required to create maps for the domain manager to use.

The JSON sent to the controller is correct from the client, I have checked and double checked that the client is doing the right thing. But I do a push then a pull, so while the push is sending the correct JSON, it is never written to the server database, and so then th

[2016-05-04 19:50] lindydonna commented on #120
I meant, use EntityDomainManager to help narrow down the problem. It's possible that your automapper config is not deserializing the json correctly, for instance.

[2016-05-04 20:15] jmichas commented on #120
So at the point when I can break on in the controller and inspect the patch what has happened at that point? I thought that was just a representation of the deserialized JSON that hit the controller. Is that the mapped data?

Im going to try and write some tests to see if I can get it to break the same way again.

[2016-05-04 20:20] lindydonna commented on #120
If you break on your controller, a lot has already happened. It's gone through both automapper as well as the JSON serializer that is registered by the server SDK. What you need to do is to set a breakpoint and see the actual JSON content of the request and see how it is getting mapped along the way.

The patch is doing all of this mapping, since you're not accepting a JObject, but rather a Delta<

[2016-05-04 20:24] jmichas commented on #120
Dang, I was hoping you would look at my code and see some glaring issue I could fix and be done with it. ;)

[2016-05-04 20:26] lindydonna commented on #120
Unfortunately, since you're using automapper, it all gets more complex. I'm 99% sure that's where the problem lies.

[2016-05-04 20:44] jmichas commented on #120
So, grrrrr, I think you are right. Ugh, I've got to learn to stop cutting corners. Simply using the Mapper.AssertConfigurationIsValid() has given me a laundry list of members to map. I think in my old code I used an older version of Automapper and it didn't map the virtual nav properties or attempt to Im guessing. I was forced to keep many packages very old in my Mobile Services version of this be

[2016-05-04 20:46] lindydonna commented on #120
Can I go ahead and close this bug?  We can reopen if you have a small repro.

[2016-05-04 20:51] jmichas commented on #120
Yeah, I would assume it is good. I will know pretty soon whether it is fixed or not, but I figure if this was a different issue others would have reported it too, it would be major to have properties not update in a sync.

Thank you very much for all your help, I should have posted yesterday :)

[2016-05-04 20:56] #120 closed

[2016-05-04 22:06] jmichas commented on #120
Ok, so automapper was not the problem.
I rolled a new controller from scratch and it magically worked when I set a break point in the update patch method. Looking at the patch showed all the properties passed in the JSON via Postman.

So, I started to put things from my original controller back in, mainly the attributes for the class itself. I added [Authorize] and it still worked, then I added [M

[2016-05-04 22:26] lindydonna commented on #120
Interesting! @brettsam Shouldn't [MobileAppController] have no effect on a table controller? That might be a bug.

You definitely don't need the attribute, but I am surprised that it actually had an effect.

[2016-05-04 22:33] jmichas commented on #120
Yeah, just tested with my original code and it works fine now. Amazing, I spent almost 3 days I think trying to figure this out.

I would say whether its a bug or not you should definitely update the documentation to with a callout that you don't need that attribute on table controllers. I thought you did because in reading the upgrade documentation it states that adding that attribute is one of t

[2016-05-05 13:56] brettsam opened #123 "[MobileAppController] on a TableController should throw"
See #120 for some history. If you put a MobileAppControllerAttribute on a TableController (which already has this attribute internally), you get odd behavior. This is likely due to duplicated filters or duplicated configuration. We should look to detect this and throw, if possible.

[2016-05-05 13:57] brettsam commented on #120
There may be a bug here in how we handle [MobileAppController] if it is on a TableController. TableController already has the MobileAppController attribute applied so there is likely some kind of filter or config duplication that's causing issues here. We can handle this better. I've opened an issue to follow up: #123

[2016-05-05 15:14] brettsam commented on #121
Looks like the Markdown preview links worked but the actual docs did not -- I see others have hit this before: http://stackoverflow.com/a/8972756/3516125. I've updated the links to fix this.

[2016-05-05 15:14] #121 closed

[2016-05-05 20:42] adrianhall commented on #118
Yes, it is.   In your App_Start code is the following:

[code]

The `.UseDefaultConfiguration()` is a convenience method that expands out to the following:

[code]

You can find the reference source here:  https://github.com/Azure/azure-mobile-apps-net-server/blob/76cd709479e8e96a26a711a6fc31cca35b68ef70/src/Microsoft.Azure.Mobile.Server.Quickstart/Extensions/QuickstartMobileAppConfigurationExtens

[2016-05-05 20:42] #118 closed

[2016-05-05 20:50] adrianhall commented on #38
Documented in WIKI

[2016-05-05 20:50] #38 closed

[2016-05-08 17:06] jmichas opened #124 "DateTime Storage and Serialization"
I have an issue with datetimes when they are synced from my client.
I am ensuring that datetimes on my client (as displayed here https://github.com/Azure/azure-mobile-apps-net-client/issues/131) are all stored as UTC and handled as UTC in my objects since I do a lot of calculations on dates in my app.

I have found an issue with my sync process though. When I sync the dates from my client and they

[2016-05-08 21:24] jmichas commented on #124
So, as a follow up, I expanded my test from the linked issue above and added a DateTimeOffset field.
After posting to the server and using swagger to retrieve the record I get this:
[code]
You can see that the DateTimeUtc and DateTimeLocal have been shifted +4, the CreatedAt and DateTimeUtcOffset are the correct date time as created on the client. All 3 fields display the same date and time in SQL

[2016-05-11 14:08] brettsam commented on #124
Let me restate the issue so that I can try to reproduce this -- in Mobile Services you had an Entity Framework model with a `DateTime` property. This always returned UTC time. But now in Mobile Apps that same `DateTime` property now treats this as local when you request it, which shifts it with each request. Is that accurate?

If that's the case, can you share your Web API setup code? -- are you s

[2016-05-11 14:21] brettsam commented on #90
The ArgumentOutOfRangeException should have a message explaining that 'iss' is missing from the Claims and therefore we can't proceed (https://github.com/Azure/azure-mobile-apps-net-server/blob/master/src/Microsoft.Azure.Mobile.Server.Authentication/Extensions/IPrincipalExtensions.cs#L63). I think this is accurate -- I want to make sure we're explicit about why things failed so it's easier to debu

[2016-05-11 14:41] jmichas commented on #124
@brettsam Yes, that is the problem. My WebApi setup is the default, I did not do anything with the serializers or EF.

In any event, I have since changed all my DateTimes to DateTimeOffsets on my client and server since I wasn't sure if there was a solution for the problem. But this is something that should either be fixed or at least addressed in the upgrade and/or general documentation. There is

[2016-05-12 10:54] fileman opened #125 "Azure mobile apps table storage bad request with queryoptions"
Hi, I've a mobile apps .net backend with Microsoft.Azure.Mobile.Server.Storage and .Swagger configured.

When try GetAll from xamarin.forms client, I receive exception "Bad Request" with {[Message, The query specified in the URI is not valid: 'Query option 'Skip' is not allowed. To allow it, set the 'AllowedQueryOptions' property on EnableQueryAttribute or QueryValidationSettings.'.]}

Even if I s

[2016-05-13 06:39] CendaL opened #126 "Request to refresh token returns forbidden after logout and login"
I use .NET backend with JS client and this behavior looks like a bug to me:

1) User logs in via google provider:

[code]

2) Calls to refresh token succeed:

[code]

3) User logs out:

[code]

4) User logs in again the same way as in step 1.

5) Calls to refresh token fails with HTTP status code `403 (Forbidden)`

Why am I getting forbidden? When I remove access to the app on Google's portal and

[2016-05-13 17:32] brettsam commented on #126
It looks like this is a bug in how we handle Google's login flows with refresh tokens. Only the first login attempt returns a refresh token (which we store). Subsequent logins do not include the refresh token (even though it is requested -- you only get one at a time), so we remove the stored refresh token. Then the next time you attempt to refresh, we don't find a refresh token, and it fails with

[2016-05-13 17:38] CendaL commented on #126
I confirm all you wrote - step 3 is not needed, it's enough to login again.
And the workaround also works although user has to always approve _Have offline access_ during the login

[2016-05-13 20:29] mlankamp commented on #59
I just upgraded my NuGet packages from version 1.0.119.0 to 1.1.157.1 and the problem is back.

[2016-05-13 20:40] brettsam commented on #59
Were you using the workaround above?

[2016-05-13 20:51] mlankamp commented on #59
No, I wasn't. I have to use a reverse workaround:

`
if (result.HasValues && result["id_token"] == null && result["access_token"] != null)
        {
            **result["id_token"] = result["access_token"];**
            response.Content = new StringContent(result.ToString(), Encoding.UTF8, "application/json");
        }
`

[2016-05-13 21:05] brettsam commented on #59
Okay thanks -- I'm going to re-activate this issue until I can figure out what's going on.

[2016-05-13 21:12] mlankamp commented on #59
If you want me to send you the json I receive, just let me know,

[2016-05-15 07:50] fileman commented on #125
Workaround this.EntitySyncTable.SupportedOptions = MobileServiceRemoteTableOptions.None;

[2016-05-15 07:50] #125 closed

[2016-05-16 04:40] hemhedge opened #127 "System.IdentityModel.SignatureVerificationFailedException when trying to call a google authenticated Azure WebApp"
I have deployed a web App on Azure and calling the API from a xamarin app. I have set up google authentication. seems like initial google sign-in works fine, but the api call fails with the SignatureVerificationFailedException.
here is the logs:
Microsoft.Azure.AppService.Authentication Verbose: 0 : Received request: GET https://XXXX.azurewebsites.net/login/done
Microsoft.Azure.AppService.Authenti

[2016-05-16 15:25] brettsam commented on #59
Yeah, could you? That would help.

When I call `var creds = await this.User.GetAppServiceIdentityAsync<AzureActiveDirectoryCredentials>(this.Request);`, my `creds` has a valid `AccessToken`.

When I capture the raw JSON coming back from the request to `.auth/me`, I see: `{"id_token":"eyJ0...","provider_name":"aad","user_claims":[...],"user_id":"..."}`, which is what I would expect.

In case you ar

[2016-05-16 16:32] jiberan opened #128 "It is not possible to add a reference to Shared Project"
It is not possible to add a reference to Shared Project. List of shared projects is missing in add reference dialog.

[2016-05-23 17:41] brettsam opened #129 "Exception text should be returned in an 'error' property rather than 'message'"
The client expects error messages in 'error', which means they aren't deserialized properly. Also make sure to add an E2E test that would have caught this.

[2016-05-23 18:03] danderson00 commented on #129
Alternatively, we could change client implementations. This would probably be more intuitive, but a little more work to update and test all the clients.

[2016-05-25 22:39] adrianhall opened #130 "README.txt contains preview tag"
The top of the readme.txt file that gets displayed when you install the NuGet pacakge says:

The 1.1.157.1 version of the **preview** Microsoft.Azure.Mobile.Server.\* packages...

Need to remove preview tag.

[2016-05-31 15:41] aline-almeida commented on #96
I'm also having this issue. Any news on this ?

[2016-06-01 13:51] brettsam commented on #96
I've created a PR (#131) to move the solution forward to AutoMapper 4.2.1. The unit tests all pass so I'm fairly confident this will work but please let me know if you think I'm missing a scenario.

I did a little investigating this morning. Here's what I've found:

- Re: static -- [static APIs are back as of 4.2.1](https://lostechies.com/jimmybogard/2016/02/24/automapper-4-2-1-released-static-is-

[2016-06-02 05:18] edorphy opened #132 "Add priority to GooglePushMessage class"
https://developers.google.com/cloud-messaging/concept-options#setting-the-priority-of-a-message

The values are "high" and "normal" and the key is "priority" at the parent level.

[2016-06-02 05:24] edorphy opened #133 "Add support for the Notification payload in GooglePushMessage"
For iOS there exists the AlertProperties, but there is no equivalent built in for Google's Notification dictionary and its predefined keys.

See the keys defined for Android here: https://developers.google.com/cloud-messaging/http-server-ref#notification-payload-support

[2016-06-05 16:51] danielloczi opened #134 "Google auth - Internal Server Error - System.NullReferenceException"
Server Errors appeared a couple of days ago, and still facing this problem. I haven't changed the deployment since a while, so I guess something changed on the Azure service side.
Checking the logstream it seems, that something wrong with Google authentication. Other providers (Facebook, Twitter, MS) work fine.

Here is an extract from the logs:

[code]

The Microsoft.Azure.Mobile.Server package v

[2016-06-06 05:04] cgillum commented on #134
A recent App Service platform update has been recently applied to a subset of clusters worldwide. We're investigating to see if it may have impacted Google authentication.

[2016-06-06 06:29] danielloczi commented on #134
Thanks for the feedback!
Yes, that is the case: only brand new Google users are affected.

[2016-06-06 14:04] adrianhara commented on #82
Question: how can we implement doing the above only once, e.g. after the user logs in the first time? I want to filter the data returned from the TableControllers by the logged-in user so this provider unique user id is perfect for that.

I guess ideally one would get this provider specific id once, at user login time, and reuse it for subsequent data requests so as to not get it on every data req

[2016-06-08 22:03] brettsam commented on #82
The good news is that the user claims now have enough information to construct a unique, stable id without doing anything special (see my long answer here: https://github.com/Azure/azure-mobile-apps-net-server/issues/108  -- soon to be a wiki article).

I would suggest using the data that you have with the User in each request to construct a globally-unique identifier like this code below. The rea

[2016-06-08 22:13] nhwilly commented on #82
Thank you.  I read #108 and `stable_id` is huge help for me.

[2016-06-09 15:27] brettsam commented on #82
Note: I've updated the wiki topic https://github.com/Azure/azure-mobile-apps-net-server/wiki/Understanding-User-Ids with details pulled from my comments on related issues. I'll continue to compile helpful snippets there.

[2016-06-09 15:27] brettsam commented on #108
Note -- I've finally updated https://github.com/Azure/azure-mobile-apps-net-server/wiki/Understanding-User-Ids with details from this thread.

[2016-06-09 15:46] adrianhara commented on #82
Awesome, great and clear explanations, thanks a lot!

[2016-06-10 14:51] adrianhara commented on #82
I updated everything as per the explanations here. Server-side it works great, with the WEBSITE_AUTH_HIDE_DEPRECATED_SID set to true.

I'm having however a problem on the client-side. After `SignInAsync()` I was getting the `MobileServiceClient.CurrentUser.MobileServiceAuthenticationToken` and decoding it with `FromBase64String()` then deserializing it and storing it locally. This doesn't seem to

[2016-06-10 15:31] brettsam commented on #82
If you are trying to store it locally so you can re-use it when the app restarts, can you follow the guide here: https://azure.microsoft.com/en-us/documentation/articles/app-service-mobile-windows-store-dotnet-get-started-users/#tokens. I don't see any conversions there so it may work.

If you need the Base64 conversion, I can take a deeper look.

[2016-06-11 18:03] petersondrew commented on #16
This appears to still be an issue as I'm running into it now (WindowsAzure.Storage v7)

[2016-06-13 19:16] chadiswar commented on #134
Seeing the same issue within my deployment.  Has the fix been deployed and will it require a redeployment of our backend?

[2016-06-13 22:44] nhwilly commented on #82
FWIW, I started writing the tokens to Blob Storage and noticed there's an "encrypted" flag that's set to True.  Maybe that's what's coming back.

[2016-06-14 01:18] eduandres01 commented on #134
Hi, I have the same issue. it is possible to fix it?
Thanks!

[2016-06-14 16:17] cgillum commented on #134
The fix has been deployed to many of our clusters already, but there are still a few which don't have it. All our scale units worldwide should have the fix in the next day or two. A redeployment will **not** be required.

[2016-06-14 18:32] FrancoisM opened #137 "AppServiceLoginHandler CreateToken lifeTime not respected"
For some expiring token tests I've setup the lifetime of my token to 20 sec. However, after more than 20 sec being logged in, I still don't get Unauthorized access to my api requests.
It does happen but It takes longer (a few minutes).

[2016-06-14 19:58] chadiswar commented on #134
Thank you for clarification.

[2016-06-15 00:54] eduandres01 commented on #134
Google auth is ok now, but when set the current user via
client.CurrentUser = new MobileServiceUser("theuserid");
client.CurrentUser.MobileServiceAuthenticationToken = "token";

The backend say that this.User.Identity.IsAuthenticated is false, yesterday the same code say that true
Is a azure bug?

[2016-06-15 15:45] #16 closed

[2016-06-20 08:01] FrancoisM opened #141 "Authentication mechanism - UserId"
Hi,

I have a few question re authentication.

1) Is there a concept of common user id vehiculed within authentication tokens whatever the credential provider? I'm not taking about the provider Id that I can get through GetAppServiceIdentityAsync but an Id for the app.

2) What are these ids within a jwt after Facebook authentication?
[code]

3) I give all my users a custom id (as I expect the ans

[2016-06-20 08:46] FrancoisM commented on #141
This [wiki](https://github.com/Azure/azure-mobile-apps-net-server/wiki/Understanding-User-Ids) answers question 1 and partially question 2.

[2016-06-20 10:02] #141 closed

[2016-06-20 15:26] adrianhara commented on #82
Not sure I need the Base64 conversion if there is another way to check if the token expired locally, without hitting the server. Before I was parsing the token (from base 64 then deserializing to  a class) and looking at the "exp" property to determine if it was expired.

Now I can't do that anymore since the base64 decoding fails. Any idea how to check the expiration client-side?

[2016-06-22 00:07] chadiswar opened #143 "Facebook Graph Version"
Looking for some clarification.  I received a message regarding my Facebook application I have registered at developers.facebook.com.  This is the application I have configured for only authentication with my App Services mobile app using the latest SDK.  The message warns:

Some more information, this is the same facebook app that was used for my old ASP.Net website and the OWIN framework for Fac

[2016-06-22 19:30] brettsam commented on #137
I believe that App Service Authentication has a window of several minutes for honoring the timeouts. @cgillum may be able to give you the exact answer.

[2016-06-23 07:57] FrancoisM commented on #137
My issue is that tokens don't expire as soon as they should. My request do return. No timeouts, no 401.

[2016-06-23 13:15] cgillum commented on #137
There is a 5 minute grace period for expired tokens to account for clock skew. That would be why your tokens are still being accepted after the 20 seconds.

[2016-06-23 13:36] FrancoisM commented on #137
Ok makes sense now.
Tks @cgillum

[2016-06-23 13:36] #137 closed

[2016-06-28 16:10] DawidSadlik commented on #113
Could anybody provide definition of LoginResult and LoginResultUser class. I cannot figure out how them should look like. I've tried many times and always I get NullReference Exception after call LoginAsync of MobileAzureClient.

[2016-07-18 16:10] prajaybasu commented on #35
Now that they've been RTM'd, is there any ETA for the .NET Core (netcoreapp1.0) compatible version of these packages ?

[2016-07-18 16:26] adrianhall commented on #35
@prajaybasu The .NET Core framework has been RTM'd.  Unfortunately, there is additional pieces we need - most notably EF7 and OData libraries.   Until both of these stabilize and RTM, we are at a standstill on this.

[2016-07-18 17:41] prajaybasu commented on #35
@adrianhall Fair enough; BTW, Do you plan on moving to project.json ?

[2016-07-18 17:47] paulbatum commented on #35
@prajaybasu project.json is being replaced, for more info see https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/

[2016-07-19 00:55] prajaybasu commented on #35
@adrianhall What about projects that do not use SQL databases ?

[2016-07-19 15:47] adrianhall commented on #35
@prajaybasu We have not done any serious thought into what will go into the .NET Core edition, since we can't actually do any work on it, as previously described.  Anything I say here would be very premature.

Let me turn that around - what sort of data sources are you interested in and why?

[2016-07-24 11:49] BillBosiolis opened #147 "Microsoft Azure Mobile authentication with Google provider SDK in Android"
I am currently testing Microsoft Azure and the App Service/Mobile Apps feature using a native Android app and C# on the back end.

I started with the Getting Started application (ToDo) as the base app and now I am trying to enable Authentication using the https://azure.microsoft.com/en-us/documentation/articles/app-service-authentication-overview/ page and Google as the provider.

So far I have

-

[2016-07-24 13:25] PaulARoy opened #148 "Add another GetAppServiceIdentityAsync that only uses token [enhancement]"
Hi,
Currently we have a method in `IPrincipalExtensions` with this signature
[code]

Which is very useful in the context of a controller.
However I have the need to get this credential from the zumo auth token and not from a `HttpRequestMessage`.

Basically the code only needs the request to read the zumo auth token from its headers (https://github.com/Azure/azure-mobile-apps-net-server/blob/maste

[2016-07-24 14:34] BillBosiolis commented on #147
Well this is more than embarassing :-)

I first tried to "manually" verify the id_token using the Google tokeninfo endpoint:
https://www.googleapis.com/oauth2/v3/tokeninfo?id_token=<token_info>

but I was getting a generic error that didn't give a lot of info.

Then I used the Google API Java client library and created a small test to verify my token (more info here: https://developers.google.com/

[2016-07-24 14:34] #147 closed

[2016-07-24 16:20] PaulARoy commented on #148
closing this bug as it is a duplicate of https://github.com/Azure/azure-mobile-apps-net-server/issues/87 that I did not see beforehand.

[2016-07-24 16:20] #148 closed

[2016-07-24 16:30] PaulARoy opened #149 "Having the provider id encrypted in the auth token / modify token generation"
Hi,
I am struggling right now to create a cross-provider authentication. Here I am talking about the tokens generated for providers (Fb, Tw, G+, …).

I am really close to my goal but I have a very big issue: I cannot find the provider identifier unless I make an http call, which is not possible in my code (through `GetAppServiceIdentityAsync`).

Is it not possible to encrypt the provider identifie

[2016-07-25 18:22] brettsam commented on #149
@cgillum @mattchenderson -- is there a way to get the provider id without needing to make an HTTP call?

[2016-07-25 20:43] cgillum commented on #149
Yes, you can get it from the `X-MS-CLIENT-PRINCIPAL-IDP` HTTP request header.

[2016-07-26 08:09] PaulARoy commented on #149
The idp claim only has « twitter » or « facebook » unfortunately. Same thing goes for the HTTP header.

The thing I want to get is the provider identifier, not the provider itself (something like 10153235700923123 for Facebook or 2199577123 for Twitter).

Fortunately I was able to crack down the sid encryption which means I am no longer blocked: I can use sid for authentication. My initial problem

[2016-07-26 08:10] PaulARoy commented on #87
I can make a PR for this if you want

[2016-07-26 17:12] cgillum commented on #149
Oh sorry, You meant the provider's **user** identifier.

Yes, the sid was designed for identifying specific users, though there are some things to be aware of when using the sid which @brettsam has documented [here](https://github.com/Azure/azure-mobile-apps-net-server/wiki/Understanding-User-Ids).

Indeed we happen to use an MD5 hash of the provider-specific user ID to generate the SID, but I rec

[2016-07-27 08:53] PaulARoy commented on #149
Indeed. I messed up the terms: I was using *provider* for "facebook" and *provider identifier* for the user id on facebook. Your terms are more appropriate.

Unfortunately I have to make an assumption. I only have their provider user identifiers right now and I want to migrate into using sid (stable_sid, I read the article before of course). That again because I cannot make an HTTP call at the val

[2016-07-29 11:50] josesimoes opened #150 "Issues with StorageDomainManager"
I'm trying to use the StorageDomainManager and I'm having issues with:
- LookupAsync: throws the following exception
  "message": "An error has occurred.",
  "exceptionMessage": "Método não encontrado: 'Microsoft.WindowsAzure.Storage.Table.TableOperation Microsoft.WindowsAzure.Storage.Table.TableOperation.Retrieve(System.String, System.String)'.",
  "exceptionType": "System.MissingMethodException"

[2016-07-29 13:38] josesimoes commented on #150
I've pulled the code from GitHub and tried to figure out the answers to my own questions.
Here's what I've found.

On the first issue: using the StorageDomainManager code from GitHub there is no issue when referencing WindowsAzure.Storage 7.0 and above. I guess this has already been fixed.

On the second:
In the table controller Initialize() method, when instantiating the StorageDomainManager, ena

[2016-07-29 15:46] josesimoes opened #151 "Request for MappedStorageDomainManager"
I was trying to use AutoMapper with the StorageDomainManager without success.
It seems that there is no call to ProjectTo to make the mapping magic to happen.

Question: would you consider a "MappedStorageDomainManager" to be added to make this possible?

[2016-07-31 09:17] triple888three commented on #115
Any updates or recommendations on this discussion?  Did you have any luck with the mobie apps js client?

I'm trying to build a Web App as another cross-platform client to my existing Azure App + Xamarin (iOS/Android/UWP) setup.  Is there a way to re-use a Mobile Service Client for App Service Auth & API calls.

[2016-08-01 09:58] martinoss opened #152 "Moving from gateway authentication"
I migrated my azure mobile service to mobile apps about a year ago. At this time, azure created an authentication gateway for me. I considered the "uid" in the token as stable user id.
Now I want to migrate to app service authentication and I am faced with the problem, that neither the "sid" nor the "stable_sid" matches the uid I get from the authentication gateway when login the the same provider

[2016-08-01 15:46] brettsam commented on #150
Thanks for the feedback @josesimoes. Some responses:
- The documentation and sample suggestions are good. I'll leave this issue open to track those items.
- I've set up a feed on myget.org with a daily build that has the latest changes. I haven't documented it anywhere (yet) but please give it a try. The SLA for this feed will be something like "Use at your own risk. These packages have passed all

[2016-08-01 15:56] josesimoes commented on #150
@brettsam awesome!
I'm quite all right with that SLA (wasn't expecting anything much different 😉 ) and will give it a try.

[2016-08-02 11:20] Nimrodxx commented on #97
He @adrianhall do you have any plans for supporting ASP.NET Core? Since it has already been released for a month. I'm figuring out if I should be my mobile backend with ASP.net core or with the regular ASP.net framework. OfflineSync is a must have for me...

[2016-08-02 16:34] adrianhall commented on #97
You should use the regular ASP.NET framework for right now.

[2016-08-03 14:10] PaulARoy opened #154 "Login directly with twitter token"
Hi,

This is more of a question. I am not sure if this is for the server or the client so redirect me if necessary.

It seems I cannot provide a twitter token directly to the client to login. Why is that so? I keep getting a « 400 - Bad Request ». I do not know what format to use to give the token (is the secret necessary?).

I need to use the Twitter SDK on my app (and not a webview) and I find n

[2016-08-03 15:34] PaulARoy commented on #154
I was able to finally get it to work - not without difficulties -.
Truth is the JObject needed is different depending on twitter, google or facebook and it is explained absolutely nowhere (even worse the documentation is wrong here https://msdn.microsoft.com/en-us/library/dn655213(v=azure.10).aspx).

For anyone needing it:

Facebook needs
[code]

Twitter needs:
[code]

Google needs:
[code]

I stro

[2016-08-03 15:34] #154 closed

[2016-08-10 05:43] MartinZikmund opened #155 "MicrosoftAccount returning sid:00000000000000000000000000000000"
I have not yet been able to completely isolate the issue, but trying to authenticate with Microsoft Account using `MobileServiceClient.LoginAsync` method, the app service sometimes returns a `MobileServiceUser` instance, that has `UserId`of `sid:00000000000000000000000000000000`. The interesting thing about it is that it does not happen for all accounts, some have their ID returned correctly.

[2016-08-10 05:45] MartinZikmund commented on #155
Also on the server-side, in such case the same ID is returned with:
`string userId = ( User as ClaimsPrincipal).FindFirst( ClaimTypes.NameIdentifier ).Value;`

[2016-08-17 01:47] jamesmontemagno commented on #155
have you checked out: https://github.com/Azure/azure-mobile-apps-net-server/wiki/Understanding-User-Ids with stable_id?

[2016-08-20 14:57] edorphy opened #156 "Add login support for SFSafariViewController by having .auth/login/<provider> redirect to app"
Feature Request:
https://developer.apple.com/videos/play/wwdc2015/504/ Minute 24.

Apple shows how you can security do OAuth using SFSafariViewController introduced in iOS 9.

Provide the myWebsite ... /.auth/login/provider to the Safari view controller and away you go.

Benefits:
No dependency on the MS Client SDK.
Secure Safari (no way for app to steal data from Webkit view
Safari saved password

[2016-08-22 14:48] nhwilly commented on #41
Just happened to me, following the instructions in [this wonderful guide by @adrianhall ](https://adrianhall.github.io/develop-mobile-apps-with-csharp-and-azure/chapter2/debugging/)

Everything seems to be working without it.  Not sure how to put it in there...

[2016-08-23 00:13] edorphy commented on #156
Google is going to drop OAuth support for UIWebView "in the near future".

https://developers.googleblog.com/2016/08/modernizing-oauth-interactions-in-native-apps.html

[2016-08-23 12:46] chadiswar commented on #156
Do we have any more information from the app services team about the impact of this change?  My company has an iOS and Android app built around the app services authentication which is too be released in the next couple weeks and I need to make a recommendation regarding to delay it or not.

Thanks,

Chad

[2016-08-27 09:49] migig commented on #96
The bug is still there. Any indication when this will be fixed?

(We don't use a IOC tool, so I hope the fix won't force us to change our system.)

[2016-08-29 00:22] migig opened #157 "Reverse AutoMapper mapping in MappedEntityDomainManager throws if not defined"
The `MappedEntityDomainManager` class [makes this call](http://github.com/Azure/azure-mobile-apps-net-server/blob/cc0c591e7a852f95cb3682b57b729e3876343338/src/Microsoft.Azure.Mobile.Server.Entity/MappedEntityDomainManager.cs#L277) in various places:

    Mapper.Map<TData, TModel>(data, model);

This implies a mapping from a data transfer object to an EF entity. We never do that, it is bad practice

[2016-08-29 00:28] migig commented on #157
Actually a workaround is to override that method in my subclass, and not make that call.

BUT. Can someone please explain why it's there? I have soft delete on, so execution enters that block of code. What is that mapping supposed to do?

Can I safely remove it?

[2016-08-29 12:50] brettsam commented on #96
We've not done an official release with the fix, but I've set up a feed on myget.org with a daily build that has the latest changes. I haven't documented it anywhere (yet) but please give it a try. The SLA for this feed will be something like "Use at your own risk. These packages have passed all unit tests but may not have had any testing past that." If you find any issues there, please let us kno

[2016-08-31 09:59] migig commented on #96
Seems good, but unfortunately our company's policy doesn't allow me to use betas in production. :cry:

I've noticed that the other SDKs are regularly updated (e.g. NotificationHubs, which is updated often), but this one not so often. Are you allowed to share what is the typical release cadence for the client and server SDKs? Once per year, once in a while, etc.?

[2016-08-31 19:00] lindydonna commented on #152
See https://github.com/Azure/azure-mobile-apps-net-server/wiki/Understanding-User-Ids

[2016-08-31 21:33] migig opened #159 "Allow many:many relationships in MappedEntityDomainManager"
**TL;DR
My pull request adds a very simple workaround for the lack of many:many relationships.**

A _very_ common complaint is that the SDK doesn't support 1:many and many:many relationships. I've read in multiple locations (blogs, StackOverflow) that this will be added at some point. However that may take ages, as it's a large feature for you to develop and test.

For your customers who are devel

[2016-08-31 21:33] migig commented on #157
I'm closing this, as the bigger issue is discussed in my [issue here](https://github.com/Azure/azure-mobile-apps-net-server/issues/159).

[2016-08-31 21:33] #157 closed

[2016-08-31 21:42] migig commented on #159
While you're at it, it may be a good idea to also think ahead and add a pair of methods with the following signature:

    protected virtual TData MapEntityToDto(TModel entity) {
        return Mapper.Map<TModel, TData>(entity);
    }

    protected virtual TData MapEntityToDto(TModel entity, TData dto) {
        return Mapper.Map<TModel, TData>(entity, dto);
    }

...And update all entity-to-DTO

[2016-09-21 02:17] randalvance opened #161 "ASP.NET Core"
Hi, is it possible to use asp.net core and the mobile app packages to create my .net backend? Is this being planned in the future? Thanks.

[2016-09-30 16:29] ruttopia commented on #150
Any updates on when we might see an official Nuget package release?

Thanks!
Mike

[2016-10-03 22:38] mbharodia opened #162 "Missing Tag copy"
azure-mobile-apps-net-server/src/Microsoft.Azure.Mobile.Server.Notifications/Controllers/NotificationInstallationsController.cs

at line 18

"Installation" type is generated from "NotificationInstallation". This method, looks like that, does not copy "Tags" property from "NotificationInstallation".

Please check. If I am missing something, then please let me know and accept my apology.

I am using

[2016-10-03 22:49] mbharodia commented on #162
Please read line #82  instead of #18

[2016-10-10 20:25] adrianhall opened #164 "Support .NET Framework 4.6 as a base version"
We need to update all the libraries within the Azure Mobile Apps Server packages.

Update all references in Azure Mobile Apps Server SDK to latest versions
Make .NET Framework 4.6.0 the minimum version
Update the version number for the Mobile Apps SDK to be 2.0.0

[2016-10-13 00:16] edorphy commented on #156
Any updates?

This link from google states new apps will not support web view OAuth after October 20th. Thats a week away! My application isn't in production and I don't have the prod google credentials stuff setup yet. I will likely fall into this "new app" category if I understand Google's meaning.

https://developers.googleblog.com/2016/08/modernizing-oauth-interactions-in-native-apps.html

[2016-10-14 01:26] tofutim opened #165 "Enabling Authentication with SIgnalR against Azure Mobile Services when debugging on localhost"
Hi, I'm really struggling with debugging my zumo+signalr hubs. When debugging in localhost, signalr is always unauthenticated even if I have the x-zumo-auth header set. Probably because my localhost is not running anything that can change that into an identity. However, the zumo stuff works using the AlternateLoginHost trick. Can someone provide some tips for me? SO link below.

http://stackoverfl

[2016-10-18 04:21] tofutim commented on #164
Out of curiosity, what is the impetus for making 4.6 the minimum version?

[2016-10-18 14:43] adrianhall commented on #164
As part of upgrading the overall infrastructure to support later libraries, we also wanted to ensure we supported the latest version of .NET Framework that was pre-.NET Core.

[2016-10-27 19:47] shrishrirang commented on #156
https://github.com/Azure/azure-mobile-apps-ios-client/issues/90#issuecomment-256748256 explains the details of the fix for this issue for iOS. Android implementation will be on similiar lines, but using Custom Chrome tabs. In the short term, you should consider using client flow for authentication.

[2016-11-01 13:54] nhwilly opened #168 "Using DocumentDb C# SDK on the backend"
I know I saw somewhere that you couldn't use the SDK, but now I can't find the reference or the reason, so I thought I'd ask here to memorialize the answer.

I don't have to have full integration like a TableController or anything like that.  I just want to develop a repository component and use it to access DocumentDb using the SDK.

I couldn't get it to work originally, so I developed a REST com

[2016-11-02 03:01] adrianhall commented on #168
It's really fundamental and comes down to two things:

1) System.Web.OData (which is the underlying transport wire protocol) does an implicit `ORDER BY id` to ensure that the same ordering of records is retrieved each time.  DocumentDb does not allow `ORDER BY id`.
2) System.Web.OData then does another order by for multiple ORDER BY if one is required.  DocumentDb does not allow multiple ORDER BY

[2016-11-02 03:01] #168 closed

[2016-11-02 03:02] adrianhall commented on #162
We explicitly do not allow tags in the registration service.  Use the App Service Push registration endpoint instead, as that allows tags.

[2016-11-02 03:02] #162 closed

[2016-11-02 03:04] #116 closed

[2016-11-02 03:07] adrianhall commented on #47
Assuming fixed, based on the merged PR.

[2016-11-02 03:07] #47 closed

[2016-11-02 03:08] adrianhall commented on #54
Closing this as it is assumed by the App Service Push.

[2016-11-02 03:08] #54 closed

[2016-11-02 03:10] adrianhall commented on #59
@mlankamp - this is not happening for me with the latest SDKs.  Are you still having an issue?

Ref: to close 12/1/2016

[2016-11-02 03:11] adrianhall commented on #155
@MartinZikmund Do you have a github repo that has a repo of this?  I can't reproduce when the MSA is configured correctly.

[2016-11-02 03:11] #152 closed

[2016-11-02 03:14] adrianhall commented on #149
@PaulARoy I am going to close this one.

We have custom auth that can add custom claims to an existing JWT, that can then be used by the system.  You basically have to crack the JWT, add the claims, then re-encode.  I've got an example in my book - http://aka.ms/zumobook.

[2016-11-02 03:14] #149 closed

[2016-11-02 03:16] adrianhall commented on #151
Hi @josesimoes - The StorageDomainManager doesn't have a concept of mapping available to it as it is a pass-thru OData feed.   We are also not intending on doing any further work on the StorageDomainManager.

[2016-11-02 03:16] #151 closed

[2016-11-02 03:18] adrianhall commented on #150
Ref: #164 - we are doing a set of work now to update all the packages to their latest and greatest and updating to 4.6.1 .NET Framework as the base.

[2016-11-02 03:20] adrianhall commented on #128
Can you please identify how you are building the project?  What is your starting point and what are you trying to do?

[2016-11-02 03:21] adrianhall commented on #127
You are using the old SDK with the new server.  Update your .NET client.

[2016-11-02 03:21] #127 closed

[2016-11-02 03:22] adrianhall commented on #126
@CendaL doing some clean-up.  I believe the fix for refresh was deployed.  Can you verify and close if so?

[2016-11-02 03:25] adrianhall commented on #115
Cleaning up - looks like original issue was solved / answered.

[2016-11-02 03:25] #115 closed

[2016-11-02 08:10] jiberan commented on #128
I was trying to share project with DTOs betweet server and Xamarin mobile app.

[2016-11-02 08:47] PaulARoy commented on #149
Thanks for the tip.

If it can be done this bug has no value whatsoever so close it yes.

[2016-11-02 13:32] nhwilly commented on #168
Very helpful as always, Adrian.

I'll just work with my REST code for now.  And I just finished the REST code for getting permissions from DocumentDb for a user.

But since this is a financial app, I'm not letting anyone write to the database from an unsecured client.

I tested my REST code on the Xamarin Forms side and it works great there, too.

You response is very much appreciated.

[2016-11-02 17:02] adrianhall commented on #128
Understood.  We'll keep this on the backlog, but it's unlikely to get a high priority.

[2016-11-02 17:05] adrianhall commented on #124
Our recommendation is to use DateTimeOffset as DateTime is automatically converted by the runtime on output, which is what you are seeing.  You should always use DateTimeOffset in the server.

Closing - feel free to re-open if this does not fix your issue.

[2016-11-02 17:05] #124 closed

[2016-11-03 07:40] CendaL commented on #126
@adrianhall I'm sorry but I have abandoned my app recently so it is not easy for me to test it anymore. Feel free to close it if you think it is fixed.

[2016-11-03 14:57] #126 closed

[2016-11-03 22:54] jiberan commented on #128
What is now considered as best practice to sharing DTOs between client and server?

[2016-11-04 01:39] adrianhall commented on #128
I don't think you should.  There are several reasons why the client and server should be different.  Your client models don't need createdAt and deleted fields, for example, which are in EntityData.  EntityData is for Entity Framework, which doesn't exist on the client side.  You can also release server and client independently (and you can't guaranteee that clients are up to date).  Lots of reaso

[2016-11-04 01:40] adrianhall commented on #165
This SDK does not deal with SignalR, so it's out of scope for this repo.  I'll take a look at the SO question though.

[2016-11-04 01:40] #165 closed

[2016-11-08 18:31] willduarte opened #169 "Microsoft.Azure.Mobile.Server.Authentication nuget package constraint to JWT"
I found a problem trying to implement authentication on .NET server.

Basically, the [Microsoft.Azure.Mobile.Server.Authentication](https://www.nuget.org/packages/Microsoft.Azure.Mobile.Server.Authentication) nuget package has a dependency to **System.IdentityModel.Tokens.Jwt (>= 4.0.2.205111437)**.

But in the current version of **System.IdentityModel.Tokens.Jwt** (5.0.0) has incompatibility betw

[2016-11-22 04:07] ericbrunner opened #170 "MobileServiceClient.GetPush().RegisterAsync recently throws HTTP 500 Error"
Since a few days I noticed that my GCM / FCM Pushhub registration fails at the Azure backend. I investigated and can only see that I get a Http 500 (Internal Server ) Error in my Zumo DelegatingHandler.

Code that throws an excpetion:

`await pushHub.RegisterAsync(RegistrationId, templates).ConfigureAwait(false);`

I use a CustomAuthController that works fine so I can still authenticate and get a

[2016-11-23 00:02] jwallra commented on #170
Hey @ericbrunner, there is a similar question on stack overflow which allows you to work around your issue: http://stackoverflow.com/questions/40586165/azure-notification-hub-device-registration-fails-if-app-service-uses-authenticat/40683620#40683620 .  It is an outstanding problem, but a fix is queued for release.

[2016-11-23 00:46] ericbrunner commented on #170
Hey @jwallra I know rhat code from @AdrianHall s Zumo book. I tried it yesterday. But it does not work.
1. I only got a native gcm but no template gcm installation
2. I got not my zumoclient.CurrentUser.UserId set ! As UserId there was a for me unknown id set im the intallation tags. The installationId qas ok and set to zumoclient.InstallationId. I pass my IMEI to my CustomAuthController and set t

[2016-11-23 01:53] adrianhall commented on #170
The zumobook code is not complete yet and that chapter is not finished nor ready.

Add the X-ZUMO-AUTH header (with value of the client.CurrentUser.MobileServiceAuthenticationToken) to get the proper thing.

[2016-11-23 02:12] adrianhall commented on #170
Ref adrianhall/develop-mobile-apps-with-csharp-and-azure#17

[2016-11-23 08:50] ericbrunner commented on #170
@adrianhall Here that code analog to your suggestion:

        public async Task RegisterForPushNotifications(MobileServiceClient client, Context context)
        {
            if (GcmClient.IsRegistered(context))
            {
                try
                {
                    var registrationId = GcmClient.GetRegistrationId(context);

                    // Set up templates to request

[2016-11-23 09:41] ericbrunner commented on #170
In the meanwhile obviously some fixes occured in the azure backend, because now the regular call to `RegisterAsync ` registers the push channel but I still don't get my UserId that I return from my CustomAuthController. I get that

That **bold marked Id** is absolutly unknown to me and added in the azure backend.  It must have to be my UserId of my zumoClient.CurrentUser.UserId and not that random

[2016-11-23 10:39] ericbrunner commented on #170
the other two screenshots
![zumo_client_currentuser_userid](https://cloud.githubusercontent.com/assets/6480047/20558655/771aac8e-b171-11e6-9c69-a12508938adb.jpg)
![push_channel_tags_userid_not_mine_png](https://cloud.githubusercontent.com/assets/6480047/20558660/790d4a1a-b171-11e6-9d02-3b0b21cd5d63.png)

[2016-11-23 22:29] jwallra commented on #170
Hey @ericbrunner, I looked into this a bit further.  That ID is coming from a MD5 hash of the NameIdentifier.  We weren't storing the name identifier directly directly.  There is a bigfix queued for a future release that will address this problem.

In the meantime, if this is still blocking you, and you aren't using the features provided by App Service Push (e.g. tag whitelisting and automatic tag

[2016-11-23 23:39] ericbrunner commented on #170
@jwallra Thank you. I am in contact with Azure support engineer Matt Tatoczenko and he wrote me excactly the same. I did that and now it works. Here is his message:

[2016-11-24 03:34] tylerd opened #171 "Mobile Apps Swagger NuGet package not available"
According to this page there was a vulnerability in Swagger UI
https://github.com/Azure/azure-mobile-apps-net-server/wiki/Adding-Swagger-Metadata-and-Help-UI-to-a-Mobile-App

but now it seems that the XSS has been fixed, is there any reason that the NuGet package is still pulled?
https://www.nuget.org/packages/Microsoft.Azure.Mobile.Server.Swagger

[2016-11-24 07:34] ericbrunner commented on #170
@jwallra ..and YES. It works now for both Xamarin.Forms Droid / iOS App projects on my side.

[2016-11-25 20:32] tylerd opened #172 "LoginAsync with AAD Auth Error"
I have configured the solution to use AAD with the .NET backend exactly how this article outlines.
https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-how-to-configure-active-directory-authentication
Completed: _(Optional) Configure a native client application_

However I am getting this error when calling client.LoginAsync
`You do not have permission to view this director

[2016-11-26 01:08] adrianhall commented on #170
Since this is now fixed, I will close this.  The backend fix will be rolled out to all customers with the next release.

[2016-11-26 01:08] #170 closed

[2016-11-26 15:09] thor089 commented on #35
Hi

Is there any Update?
EF Core was released on June 27th as far as I know.
Odata Core was RTM on August 22nd?
https://www.nuget.org/packages/Microsoft.OData.Core/7.0.0
Thanks

[2016-11-26 18:06] adrianhall commented on #161
It's under consideration.  See #97 for the tracking issue.

Closing for dup.

[2016-11-26 18:06] #161 closed

[2016-11-26 18:13] adrianhall commented on #88
We are deprecating the NotificationsInstallationsController as this is in-built into the service now.  Thus, closing.

[2016-11-26 18:13] #88 closed

[2016-11-26 18:14] adrianhall commented on #133
The NotificationsController is now in-built into the App Service and no longer a part of the SDK.

[2016-11-26 18:14] #133 closed

[2016-11-26 18:15] adrianhall commented on #104
Per @deman4ik - just add a unit test.  We don't supply default unit tests, so the app doesn't need to do anything.

[2016-11-26 18:15] #104 closed

[2016-11-26 18:17] adrianhall commented on #169
The System.IdentityModel.Tokens.Jwt has this issue all over the place.  It is only valid for .NET Core.    What the system is saying is "use the latest version of ...Jwt that is compatible with our runtime", but the runtime match was left out of the Jwt packaging.

You've done the right fix.

[2016-11-26 18:17] #169 closed

[2016-11-26 18:19] adrianhall commented on #132
We are deprecating the NotificationsController in favor of the App Service integrated push registration controller.  As a result, this won't be fixed in the server code.

[2016-11-26 18:19] #132 closed

[2016-11-26 18:21] adrianhall commented on #112
All the claims being returned by the provider are stored in the /.auth/me endpoint and available via the GetAppServiceIdentityAsync<> method.  You may need to dig a little to see which Id is actually required.

[2016-11-26 18:21] #112 closed

[2016-11-26 18:24] adrianhall commented on #113
The LoginResult and LoginResultUser are documented in my book - http://aka.ms/zumobook - direct link: https://github.com/adrianhall/develop-mobile-apps-with-csharp-and-azure/blob/master/Chapter2/Backend/Models/LoginResult.cs

[2016-11-26 18:24] #113 closed

[2016-11-26 18:27] adrianhall commented on #96
For the update of all the libraries, #164 is tracking the work.  We'll do a release as soon as all the E2E tests pass.  We don't have a specific cadence - it's basically when we do work on it.  Since we are a small team and have a number of products and SDKs, it doesn't get updated as often as you expect.

Closing as a dup of #164.

[2016-11-26 18:27] #96 closed

[2016-11-26 18:34] adrianhall commented on #52
Closing as not a commitment, especially as we move towards .NET Core

[2016-11-26 18:34] #52 closed

[2016-11-26 18:34] adrianhall commented on #50
Closing as the requirements have changed for going forward.

[2016-11-26 18:34] #50 closed

[2016-11-26 22:00] edorphy commented on #132
Adrian,

I couldn't find any references to a push registration controller. Is there API documentation available for this? I also didn't notice any deprecated updates in GitHub, do you know when this will be available?

[2016-11-26 22:06] edorphy commented on #133
Adrian,

Can you clarify what is meant by "in-built into the App Service"? I haven't seen any documentation for removal of the NotificationController. You mentioned it was deprecated in another closed feature request.

The intent of my original feature request was not bound or related to the NotificationController but rather the PushClient with corresponding IPushMessage interface and respective c

[2016-11-27 18:54] adrianhall commented on #133
App Service has a built-in feature for push registration - you can turn it on within the Azure Portal by going to the "Push" menu option.  This replaces (and is better than) the NotificationsController.

[2016-11-27 18:54] adrianhall commented on #132
We are working on the documentation, but it is available right now.  It's enabled within the Push menu option of your App Service.

[2016-11-27 18:57] adrianhall commented on #35
It has made it onto our backlog.  Follow issue #97 for the .NET Core upgrade.    Note, however, that we are prioritizing Visual Studio Mobile Center and client updates at this time, so this won't make it to the top of the priority list for quite some time.

[2016-11-27 19:02] adrianhall commented on #172
Firstly, this is a CLIENT issue, not a SERVER issue.  The server doesn't do any authentication - the /.auth endpoints are all within App Service, not your server code.

Secondly, we need to see code here.  There are two pieces - firstly, you need to use ADAL to get the client side authentication done.  This returns an authentication Token.  Once you have this, you call LoginAsync("aad", JToken) wi

[2016-11-28 15:32] FrancoisM commented on #120
Having a similar issue here.
I'm trying to update an enum column.
When I look at the content of the request in the Initialize method, the updated property has the correct value.
However, when I look in the Patch method, the patch variable doesn't see my updated property as updated (not present in _updatedProperties, which btw shows properties which are not updated) and shows the default value of t

[2016-11-28 15:39] FrancoisM commented on #120
Note that in my local db, the enum seems to be stored as a string and the json content of the request sends the property as a string while in the backend it's an int.

[2016-11-28 16:35] FrancoisM commented on #120
Here is my initiliaze method:

[code]

obj is correctly desesialized whether I send my enum as a int or a string.
So what happens before the patch method?

Note: I realized that the patch variable _changedProperties array had all the properties send within the content except my enum and the azure fields (id, createat, version etc).

[2016-11-28 17:09] FrancoisM commented on #120
I have a custom table controller subsclassing a base one. I had removed [MobileAppController] from the derived class but not the base. Now that I removed it from base it is working!

[2016-11-28 17:11] FrancoisM commented on #120
Side note: why is the mobile client is sending all the fields of the entity if only the updated ones are sufficient?

[2016-11-28 17:57] adrianhall commented on #156
Closing this as it is not a server issue - it is a client SDK issue primarily.  We've got issues in progress for the Google OAuth SDK updates in each server.

[2016-11-28 17:57] #156 closed

[2016-11-28 20:53] adrianhall opened #173 "Remove the Push Registration Endpoint"
With the incorporation of the Push blade into Azure App Service, we need to deprecate the Push Registration endpoint.

[2016-11-28 21:48] adrianhall commented on #143
We don't actually specify any version information to the Facebook Graph API calls we make.  Facebook implicitly sets a version.  If you go to https://developers.facebook.com and log in, select your app, then Dashboard, you will see the default version number listed.  In your case, it is 2.0.  In my case (a newer app, obviously), it's 2.8.  My app works as expected.

You will need to work with Face

[2016-11-28 21:48] #143 closed

[2016-11-30 15:54] tylerd commented on #172
After doing some digging, it looks like App Service configuration is the cause for this issue.

Apparently the very generic error message of `You do not have permission to view this directory or page` occurs when you are using a token with an audience which is not included in the Allowed Token Audiences setting on the App Service.

[2016-11-30 15:54] #172 closed

[2016-12-05 22:40] adrianhall commented on #59
CLosing per 1-month closure above.

[2016-12-05 22:40] #59 closed

[2016-12-05 22:42] adrianhall commented on #69
This feature will not be added.

If you need a new DomainManager, implement IDomainManager - the EntityDomainManager has resitrictions that make the service work.

[2016-12-05 22:42] #69 closed

[2016-12-05 22:43] adrianhall commented on #81
No update in 9 months - closing for lack of interest.

[2016-12-05 22:43] #81 closed

[2016-12-05 22:47] adrianhall commented on #155
Based on a lack of comment from the OP, closing for now.  It can be re-opened if still a problem.

[2016-12-05 22:47] #155 closed

[2016-12-05 22:50] adrianhall commented on #171
See PR #153

[2016-12-05 22:55] adrianhall commented on #120
@FrancoisM  We don't monitor closed bugs.  If you have a new issue, please open a new issue.  Thanks!

[2016-12-15 15:44] SplayConsulting commented on #120
This is still an issue.
I fixed it by removing  [MobileAppController] from the base class.

[2016-12-15 17:43] adrianhall commented on #120
Ref #123 - which is the actual class.  You did the right fix.

[2016-12-28 16:53] LukeStephen commented on #161
I'd like to see this too!

[2016-12-30 06:08] aureliojuarezcortez opened #174 "AurelioJuarezCortez."
(#1bebo241529.#161 )

[2016-12-30 20:53] bbougot commented on #170
Still not working.

[2016-12-31 08:01] ericbrunner commented on #170
@bbougot If you have Push connected in Azure Portal try that:

[Instructions from my Azure support engineer Matt Tatoczenko]
It seems that additional information that you shared before was exactly what we needed to get the PG to see that there was a problem. Here’s their response:

The changes that occurred are as follows:
•	You are using App Service Push. If you used the Push blade in portal to s

[2017-01-05 20:03] #174 closed

[2017-01-05 21:57] adrianhall commented on #150
Closing this issue now as we are in the final process to release the next v2.0.0 of the server.  Blog post will be forthcoming as well.

[2017-01-05 21:57] #150 closed

[2017-01-05 21:59] adrianhall commented on #10
I'm closing this as you can do this already at the controller level, which is logically where it would fit.  A DbSet == tablecontroller.  I abstract the filter into it's own LINQ extension method - see http://aka.ms/zumobook chapter 3 for examples.

[2017-01-05 21:59] #10 closed

[2017-01-05 22:00] adrianhall commented on #51
Without more detail, not a lot we can do.  We'll take a look at incremental changes.

[2017-01-05 22:00] #51 closed

[2017-01-07 03:21] #173 closed

[2017-01-11 01:15] pvbchak commented on #171
Released in https://www.nuget.org/packages/Microsoft.Azure.Mobile.Server.Swagger/2.0.0

[2017-01-11 01:15] #171 closed

[2017-01-11 01:15] #164 closed

[2017-01-11 01:16] pvbchak commented on #130
fixed.

[2017-01-11 01:16] #130 closed

[2017-01-14 19:25] ericbrunner opened #178 "Malfunction of App Service PUSH (Azure Portal Blade)"
Hi,

Today I switched my Mobile App Backend to utilize the App Service PUSH.

These are a steps I did to activate the App Service Push:

1.	In Azure Portal –> Settings -> App Settings removed the MS_NotificationHubName=hubname key-value pair and MS_NotificationHubConnectionString=hub-connectionstring
2.	In Azure Portal -> Settings -> Push -> selected Connect

After testing if the push notification

[2017-01-17 05:48] ericbrunner commented on #178
@@jwallra Do you have any idea or do I have to add an UpdateTagsController and add my client Tag that way like described here: https://blogs.msdn.microsoft.com/writingdata_services/2016/01/22/adding-push-notification-tags-from-an-azure-mobile-apps-client/

[2017-01-19 20:31] ericbrunner opened #179 "Update of Azure Server SDK v.2.0.0 in Mobile App backend targeting FW 4.5.2. not possible"
Hi,

Today I wanted to update from Microsoft.Azure.Mobile.Server v1.1.157.1 to Server SDK v2.0.0 but failed with that message:

How can I update the Server SDK?

Thanks,
Eric

[2017-01-20 06:16] ericbrunner commented on #179
After targeting to FW 4.6 and not FW 4.6.1 it worked. But I have 3 remaining packages that causes compilation errors when I attempt to update and recompile:

![remaining_update_packages](https://cloud.githubusercontent.com/assets/6480047/22138302/2790b720-dee0-11e6-9013-b653c9311383.jpg)

at that line in my CustomAuthController

`var token = AppServiceLoginHandler.CreateToken(claims, _signingKey,

[2017-01-22 04:53] adrianhall commented on #178
As I have (unfortunately, repeatedly) said, you have to do your own registration if you are doing custom auth with auth-based tags.  The App Service Push works only with the ones that work with App Service Authentication/Authorization.   There are several sources for this information, but basically you need to write a custom API to register your client (based on deviceToken and authenticated claim

[2017-01-22 04:53] #178 closed

[2017-01-22 04:55] adrianhall commented on #179
v2.0.0 deliberately re-targetted so that we could progress and keep pace with the updates in dependent packages.

You can update Microsoft.* - however, System.IdentityModel.Tokens.Jwt v5.x is for .NET Core and not compatible with the SDK.  So leave that one alone.

[2017-01-22 04:55] #179 closed

[2017-01-22 04:56] #134 closed

[2017-01-22 05:05] adrianhall commented on #102
I'm going to close this.  The UI is provided by the Swagger group - we just include it.  As a result, we are unable to affect changes in the Swagger portal.

[2017-01-22 05:05] #102 closed

[2017-01-22 13:30] ericbrunner commented on #178
@AdrianHall Nowhere is mentionef that the UserId gets MD5 hashed with App Service Push. ANYWAY, in the meanwhile I have the solution with the UpdateTagsController in my backend.

[2017-01-22 13:37] ericbrunner commented on #179
@AdrianHall Thanks, I will leave System.IdentityModel.Tokens.Jwt on v.4.*  and update the rest.

[2017-01-24 01:46] adrianhall opened #180 "Accept /push/installations/{id} from client with Installation"
Although we now only support push registration via App Service Push, there is still the case of local development.  We want to have a stub that listens on "the right endpoint" - defined by the latest ZUMO Client SDKs, accepts the Installation object, then just outputs a log message.

It should not register the device with NH and should not require the NH libraries.

[2017-01-27 15:05] jraadt commented on #97
It's been a few months and I see there's a .net core milestone now.  Has this moved from backlog to active development?  Just curious if there's an update.

[2017-01-27 16:48] adrianhall commented on #97
We are still waiting for a couple of features within EF7 and a release of the OData provider before we can begin work.  We've done some light investigation, but waiting for these libraries is holding us back.

[2017-01-27 19:32] austinemser opened #181 "[Azure.Mobile.Server.Login] AppServiceLoginHandler.CreateToken can't find type JWTSecurityToken"
when trying to call AppServiceLoginHandler.CreateToken, i am getting the compiler error

Reference to type 'JwtSecurityToken' claims it is defined in 'System.IdentityModel.Tokens.Jwt', but it could not be found

(code was taking directly from https://adrianhall.github.io/develop-mobile-apps-with-csharp-and-azure/chapter2/custom/) on class Controllers\CustomAuthController.cs

[2017-01-30 10:34] mronnlun opened #182 "How do I implement a custom controller for use with Azure Client SDK IMobileServiceSyncTable app"
We are developing an Android app with Xamarin and want to use offline sync but we cannot connect our DTOs directly to the database, as is done in almost all examples and the Quickstart solution one can download from the Azure portal.

For now I'm using the ToDo sample app downloaded from the Azure portal, which by default is mapped to the address https://myappname.azurewebsites.net.

I have a WebA

[2017-01-31 23:57] pvbchak commented on #181
Can you please check version of System.IdentityModel.Tokens.Jwt nuget package. 5.* version of System.IdentityModel.Tokens.Jwt is only supported on .net core & not on .net 4.6. If that is true, please downgrade it to 4.0.3 version.

[2017-02-07 14:15] maxsieben opened #184 "Exception from AutoMapper after publishing new build"
I am using the newest server nuget packages 2.0.0 like Microsoft.Azure.Mobile.Server.
The following message appears in my app service logs, once every time I publish a new build:

Warning     Message='Exception thrown while getting types from 'AutoMapper.Net4, Version=3.3.1.0, Culture=neutral, PublicKeyToken=be96cd2c38ef1005'.', Exception=System.Reflection.ReflectionTypeLoadException: Unable to lo

[2017-02-07 16:48] maxsieben commented on #184
It seems that the old AutoMapper.Net4.dll was in the bin folder on the server. I deleted this, now there no more errors.

[2017-02-07 16:48] #184 closed

[2017-02-17 03:31] adrianhall commented on #182
Answered the SO post.

[2017-02-17 03:31] #182 closed

[2017-02-17 03:32] adrianhall commented on #181
No response, so I'm going to assume this was the answer.  If it isn't, please provide more information and re-open.

[2017-02-17 03:32] #181 closed

[2017-02-18 13:54] InquisitorJax opened #185 "Add support for System.IdentityModel.Tokens.Jwt >= 5.0.0"
There was a breaking namespace change in the System.IdentityModel.Tokens.Jwt nuget package from release 5.
see: https://forums.xamarin.com/discussion/79135/error-using-jwtsecuritytoken

[2017-02-20 23:06] tofutim commented on #185
I also ran into this today. The interim fix is to jump back to 4.0.3.* but who wants to do that.

[2017-02-21 20:39] FrancoisM commented on #41
My custom authentication works whereas I never had a WEBSITE_AUTH_SIGNING_KEY.
Is this normal?

[2017-02-21 20:41] FrancoisM opened #187 "Is WEBSITE_AUTH_SIGNING_KEY required?"
My custom authentication works whereas I realize I never had a WEBSITE_AUTH_SIGNING_KEY (checked kudu and it is not there).
Is this normal? Should I still add one?

[2017-02-22 01:21] pvbchak commented on #187
Can you please check if "App Service Authentication" is enabled

![image](https://cloud.githubusercontent.com/assets/7389499/23192791/3904f49c-f85a-11e6-9f2b-06cb99a7ebf6.png)

[2017-02-22 07:31] FrancoisM commented on #187
As I said authentication is on and working fine (for weeks).
I use both Facebook and custom.
![authenticationon](https://cloud.githubusercontent.com/assets/3176568/23201287/3c221ffe-f8d9-11e6-9126-a42c31377c89.png)

[2017-02-22 20:41] SmartyP opened #188 ""Tell me more" link on default index.html gives a 404 page instead of docs"
The default page that you get when creating an Azure Mobile App or an Azure Web App (ref: https://i.stack.imgur.com/2KoDn.jpg) links to:

http://go.microsoft.com/fwlink/?LinkID=616909&clcid=0x409

.. which then redirects to:
https://docs.microsoft.com/en-us/azure/app-service/mobile/

.. which gives a 404 page not found error.

I believe this should instead redirect to:
https://docs.microsoft.com/e

[2017-02-23 00:12] tofutim opened #189 "fetching service access_token"
There is an old example using "ServiceUser" which fetches additional user information using
[code]
Now that ServiceUser is not present, how do I do the same thing? I do not see this type of identity under IPrincipal. Any help much appreciated.

**Update.** Getting some clues from https://github.com/Azure/azure-mobile-apps-net-server/blob/04d75cadc137cc478f98edfa1fa5b868e5548dfd/e2etest/Controllers

[2017-02-23 00:32] tofutim commented on #87
@PaulARoy did this ever get integrated? I am using SignalR.

[2017-02-23 00:41] adrianhall commented on #87
Nothing happened to us!  This never got a PR submitted, so we never integrated.

[2017-02-23 00:43] adrianhall commented on #189
Azure Mobile Apps does not deal with SignalR - it's an orthogonal problem right now.  The Azure App Service (not mobile apps) controller can use GetAppServiceIdentityAsync() only if it knows the request - which would be needed to get any authentication.  If you know the context, you also know the request.

Short version - SignalR is not something we are supporting in this SDK.

[2017-02-23 00:43] #189 closed

[2017-02-23 00:46] tofutim commented on #189
GetAppServiceIdentityAsync just needs the zumo token (https://github.com/Azure/azure-mobile-apps-net-server/issues/87#issuecomment-281853059), I'll work on the PR if you can review.

[2017-02-23 00:49] adrianhall commented on #187
You should not need to add one.  If Azure App Service Authentication is on, then it should generate one.  Need to file a request in Stack Overflow or Azure forums, as this isn't an Azure Mobile Apps issue - it's an Azure App Service issue.  (Sorry for being pedantic, but we can't fix it)

[2017-02-23 00:49] #187 closed

[2017-02-23 00:50] adrianhall commented on #185
@tofutim, System.IdentityModel.Tokens.Jwt 5.x nugets are only supported with ASP.NET Core 1.x (https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/README.md#usage).

Mobile Apps .Net Server SDK is not supported on ASP.NET Core & so have to revert back to System.IdentityModel.Tokens.Jwt 4.x.

[2017-02-23 00:50] #185 closed

[2017-02-23 00:53] adrianhall commented on #55
This is a problem with App Service Authentication and not with this SDK.  Closing.

[2017-02-23 00:53] #55 closed

[2017-02-23 00:56] adrianhall commented on #97
Check out my blog on https://shellmonger.com - I'm starting a series where I discuss running things in .NET Core, which will include EF7 and Azure Mobile Apps.  This project will NOT be going to .NET Core - the differences are significant enough that we will be starting a new project to support .NET Core going forward.  Look for this in the future - it isn't going to be quick.

[2017-02-23 00:56] #97 closed

[2017-02-23 00:56] adrianhall commented on #109
Since this is a part of App Service Authentication and not a part of this SDK, closing.

[2017-02-23 00:56] #109 closed

[2017-02-23 00:57] adrianhall commented on #128
Just to not keep people in suspense and to provide transparency, we will not be completing this work.  Architecturally, it doesn't make sense and is a big change with little advantage.

[2017-02-23 00:57] #128 closed

[2017-02-23 00:58] adrianhall commented on #159
Adding transparency, this server won't be seeing relationships as a default manner, so closing this issue.

[2017-02-23 00:58] #159 closed

[2017-02-23 00:59] adrianhall commented on #189
Yes - we will accept a PR for #87

[2017-02-23 01:01] #99 closed

[2017-02-23 01:08] adrianhall commented on #188
Thanks - I've updated the link so it should be pointing to the right place now.

[2017-02-23 01:08] #188 closed

[2017-02-23 01:10] adrianhall commented on #122
Explained in the book at http://aka.ms/zumobook - so we don't need to do it.

[2017-02-23 01:10] #122 closed

[2017-02-23 01:30] adrianhall commented on #117
@mattchenderson Can you give some more details on this?  How do I actually create a MicrosoftAccountCredentials object where this is a problem?  Do you have a code snippet?

[2017-02-23 01:40] adrianhall commented on #119
This is an IIS thing - the actual error is 404.14 as according to this table:

HTTP Substatus Description
404.5 URL Sequence Denied
404.6 Verb Denied
404.7 File Extension Denied
404.8 Hidden Namespace
404.10 Request Header Too Long
404.11 URL Double Escaped
404.12 URL Has High Bit Chars
404.13 Content Length Too Large
404.14 URL Too Long
404.15 Query String Too Long
404.18 Query String Sequence De

[2017-02-23 01:40] #119 closed

[2017-02-23 01:40] adrianhall commented on #119
This is consistent with the following IIS error code table:

HTTP Substatus Description
404.5 URL Sequence Denied
404.6 Verb Denied
404.7 File Extension Denied
404.8 Hidden Namespace
404.10 Request Header Too Long
404.11 URL Double Escaped
404.12 URL Has High Bit Chars
404.13 Content Length Too Large
404.14 URL Too Long
404.15 Query String Too Long
404.18 Query String Sequence Denied
404.19 Denied

[2017-02-23 06:09] tofutim opened #191 "additional auth sources?"
Besides Google/Msft/Facebook/Twitter/AAD, is it possible to add additional identity providers? In particular, LinkedIn or QQ? Is it possible to add it and still have Azure track this?

[2017-02-23 16:54] pvbchak commented on #191
Thanks for the feedback. Mobile Apps uses App Service authentication, which tracks user feedback at https://feedback.azure.com/forums/169385-web-apps.

[2017-02-23 16:54] #191 closed

[2017-02-23 21:29] aziel opened #192 "Better error messages when NotificationInstallationsController is missing required app settings"
To reduce user unhappiness, it would be better to provide an explicit error message due to missing app settings for Push:
MS_NotificationHubName
MS_NotificationHubConnectionString.

Currently, you'll get either 500, or 404.
Would be nice to return a 400 with "The MS_NotificationHubName app setting is null" or "The MS_NotificationHubConnectionString app settings is null" to logs or in the error res

[2017-02-24 04:50] winnicki commented on #98
When I was debugging locally my code first was able to create the database. After publishing for some reason it keeps timing out even though I increased both the connection and command timeouts.

I went to just script the table over but initially forgot to grab the trigger which generates these values so that was my mistake.

[2017-02-24 13:53] asierpn opened #193 "MappedEntityDomainManager doesn't work on version 2.0.0"
Microsoft.Azure.Mobile.Server.Entity 2.0.0 has a dependency of AutoMapper 5.2.0, but the current implementation of the class MappedEntityDomainManager doesn't work with AutoMapper 5 (uses the static API) so I can't upgrade to this version.

Is there any workarround? I am missing something? Or I can't upgrade to this version if I'm using the MappedEntityDomainManager class?

[2017-02-25 12:17] PaulARoy commented on #87
Sorry, I did not find the time to do this PR at that time and completely forgot. I currently use the workaround referenced on https://github.com/Azure/azure-mobile-apps-net-server/issues/82 if you need it.

[2017-02-26 21:16] adrianhall commented on #192
This would be a matter for the App Service Push feature and not a part of the server SDK.  We cannot affect the App Service Push feature.  (Not that I don't agree - it just needs to be filed elsewhere)

[2017-02-26 21:16] #192 closed

[2017-02-26 21:18] adrianhall commented on #193
There is no workaround here.  The MappedEntityDomainManager is not a part of the common tests, so we skipped over it.  I don't have a working service that uses the MappedEntityDomainManager, so I'm not sure what is involved here.  Happy to accept a PR though.

[2017-02-26 21:25] aziel commented on #192
Well, not entirely.
Even if I deploy Server SDK, and the app settings are missing, you'll get bad error messages that don't tell you "the app settings I was expecting are missing".

That's why I was filing these bugs. Easy fix, but I'm not allocated to fix these.

/iPhone

[2017-02-26 23:48] adrianhall commented on #192
... but the App Service Push overwrites the service within the server SDK (which is going away anyhow - see #180) to be replaced by a stub that doesn't do anything.

[2017-02-27 11:00] asierpn commented on #193
After further investigation I've been able to work with 2.0.0 by keep using the AutoMapper static API, I thought that it was completely removed but we can use it yet. To be able to work with the instance API the MappedEntityDomainManager constructor should receive a IMapperConfiguration param to use it in the mapping operations, with current implementation we are forced to keep using the static AP

[2017-02-27 17:45] adrianhall commented on #87
Thanks @PaulARoy and @tofutim - I'm working on getting this PR merged in on our side.  I don't see any problems with it - just need another engineer to review, pass the end to end tests, probably add another test to check the full functionality.... it's a process.

[2017-02-27 17:47] tofutim commented on #87
Dear Adrian,

Thanks!

Would there be an interest in putting this repo into CI? Then the tests
would be automatically run for all PRs.

Cheers,
Tim

On Mon, Feb 27, 2017 at 9:46 AM, Adrian Hall <notifications@github.com>
wrote:

[2017-02-27 17:57] adrianhall commented on #87
Unfortunately, the end to end tests can't be run automatically...   We run them with both a server and a client, and we have .NET (Xamarin/iOS, Xamarin/Android, Xamarin/Forms, UWP, Win8, Win8.1, WinPhone8, WInPhone8.1), iOS Native, Android Native, JavaScript and Apache Cordova (iOS, Android, UWP) to run - that's 14 different end to end tests with different environments to run.    We wouldn't be ab

[2017-02-27 18:23] adrianhall commented on #193
I think we will have to completely re-work the MappedEntityDomainManager in that case.  I'll keep this open for now, but I'm not sure that is on the cards for us as we don't send in an IMappedConfiguration to the domain manager from anywhere.

[2017-02-27 18:35] asierpn commented on #193
Mainly there is two uses of AutoMapper in the MappedEntityDomainManager that should be migrated to the instance API. The Mapper.Map static method calls and the ProjectTo extension method calls, for the first you should get the Mapper instance from the MapperConfiguration and for the second you should pass the MapperConfiguration as an argument of the ProjectTo extension method. That is why the dom

[2017-02-27 19:27] winnicki commented on #41
I'm having the same issue with WEBSITE_AUTH_ALLOWED_AUDIENCES missing from my SCM environment variables. This is from the published .NET mobile app backend Azure Todo sample.

[2017-02-27 19:48] adrianhall commented on #41
Apparently, WEBSITE_AUTH_ALLOWED_AUDIENCES is not available unless you configure AAD (after a discussion with the engineer).  The Audience should be https://{WEBSITE_HOSTNAME}/ - replace {WEBSITE_HOSTNAME} with the hostname of your site.

[2017-02-27 20:24] winnicki commented on #41
Alright thanks. I was already using that setting.

[2017-02-27 20:39] adrianhall commented on #41
I've filed an issue on myself in the book to update the docs in the book to match reality.

[2017-02-27 20:52] chadiswar opened #194 "Problem getting stable_sid"
I have begun upgrading my backend to the latest version.  I am one of those soles who needed the fb/google/ms provider ID in my app.  Historically, This was the code block I would use:

`
ClaimsPrincipal principal = this.User as ClaimsPrincipal;
string provider = principal.FindFirst("http://schemas.microsoft.com/identity/claims/identityprovider").Value;

ProviderCredentials creds = null;
if (strin

[2017-02-28 04:21] tofutim commented on #194
This is an aside, but I never figured out where to set WEBSITE_AUTH_HIDE_DEPRECATED_SID, is that in Web.Config? Or in Azure?

[2017-02-28 13:28] chadiswar commented on #194
More information.  I modified the portal application setting for WEBSITE_AUTH_HIDE_DEPRECATED_SID to a value of false.  This was verified as working as my claimsUser.FindFirst("ver").Value now returns "3".  I am also now able to query the claimsUser.FindFirst("stable_sid").Value but it is returning the same sid{identifier} format and not the provider ID as expected.  I am attaching a screen shot o

[2017-02-28 17:11] tofutim commented on #194
Chad, instead of getting the NameIdentifier from principal (this will give you the zumo sid), you will need to look in creds.UserClaims. There is no FindFirst function, but you can doctor your own using Linq. Here is what I am using:

[code]

[2017-02-28 18:20] chadiswar commented on #194
This works really well thank you.  I think my confusion came from the documentation in that I was expecting principal.FindFirst(ClaimTypes.NameIdentifier).Value to return just the Provider ID but in fact, it is returning a hashed value based on the provider id?

As for the WEBSITE_AUTH_HIDE_DEPRECATED_SID.  I have set that as an application setting in the Azure portal with a value of "true" or "fa

[2017-02-28 18:46] kjmbutu commented on #185
@adrianhall, your comment is one of the reasons I hate programming. It is perfectly normal for someone to want to update to the latest versions of NuGet packages out there. But then when it doesn't work you reference a page where it states that that combination is not allowed anymore. No reason, no known impact for other project/dependencies. It just is now. You didn’t know what? Wow, you should h

[2017-02-28 18:57] adrianhall commented on #185
I hear you - it's frustrating having to track these various dependencies.  I'd love to live in a world where we don't take dependencies and everything is perfectly backwards compatible.   Reality is that this is why people DON'T update beyond a major version once it is working unless they get something better out of the new stuff.

However, in this case, it isn't.  It's not us - the guys who wrote

[2017-02-28 19:02] tofutim commented on #185
Adrian, thank you for your thoughtful response.

On Tue, Feb 28, 2017 at 10:58 AM, Adrian Hall <notifications@github.com>
wrote:

[2017-02-28 19:27] kjmbutu commented on #185
The Microsoft.Azure.Mobile.Server.Login NuGet package has a dependency on System.IdentityModel.Tokens.Jwt (>= 4.0.2.205111437). Should that not have been System.IdentityModel.Tokens.Jwt (>= 4.0.2.205111437 && <5.0.0)?

[2017-02-28 21:20] adrianhall commented on #185
Yes, it should.  I'll open up a separate issue for that.

[2017-02-28 21:21] adrianhall opened #195 "Update NuGet Spec for System.IdentityModel.Tokens.Jwt"
The Microsoft.Azure.Mobile.Server.Login NuGet package has a dependency on System.IdentityModel.Tokens.Jwt (>= 4.0.2.205111437). Should that not have been System.IdentityModel.Tokens.Jwt (>= 4.0.2.205111437 && <5.0.0)?

[2017-03-01 00:23] tofutim opened #196 "PushSync or pull causes SignalR in SignalR/Nancy server to cease working"
Hi, I have a strange problem. I have Zumo, SignalR and Nancy in a web app. However, the moment I try to use PushSync, my server's SignalR service stops working. The PushSync fails, but there are no Items in PushResult. Any idea what might cause this?

**Update.** I removed app.UseWebApi(config) from my startup, and it seems to not crash although I still get the error with the PushSync.

[code]
![i

[2017-03-01 19:35] winnicki opened #197 "Local Debugging - 401 Unauthorized"
I cloned the [Complete TodoList .NET Backend](https://github.com/Azure-Samples/app-service-mobile-dotnet-backend-quickstart) and followed the steps from [Local development and debugging the Mobile App .NET server backend](https://github.com/Azure/azure-mobile-apps-net-server/wiki/Local-development-and-debugging-the-Mobile-App-.NET-server-backend). I can run the [Complete TodoList Android app](http

[2017-03-02 01:47] #196 closed

[2017-03-02 04:46] tofutim opened #198 "Use App Service Push instead"
What does this mean?

![instead](https://cloud.githubusercontent.com/assets/157766/23493496/12997ffe-fec1-11e6-9301-bb46f4a06753.png)

I tried looking for an "AppServicePush" command in config, but nothing.

[2017-03-02 13:27] angusbreno commented on #198
App Service Push is a feature provided by Azure Portal, **not by the package anymore**.
This is what u are looking for: https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-xamarin-forms-get-started-push

[2017-03-03 08:04] DibranMulder opened #199 "Interface ITableData should not be dependent on ASP.net"
Offline Sync entities have to implement the ITableData originating from the Microsoft.Azure.Mobile.Server.Tables NuGet package. However this package depends on:

And this results in that the entities can't be shared between Xamarin and ASP.net projects and therefore can't be located in shared Portable Class libraries, which sadly enforces me to duplicate my entities.

[2017-03-03 22:26] tofutim opened #200 "wiki goes to Page Not Found"
The link in README.md goes to https://github.com/Azure/azure-mobile-apps-net-server/blob/master/wiki which gives a Page Not Found.

![image](https://cloud.githubusercontent.com/assets/157766/23571303/54152188-001d-11e7-8dc6-88ba7d147212.png)

[2017-03-05 00:33] winnicki commented on #197
I realized that the issue was probably from updating the NuGet packages.. so I started from the clean master commit from the backend .NET sample and was able to get local debugging working _with_ the [Authorize] attribute after signing into Facebook.

I'm going to branch this off and then test updating certain packages. Hopefully I should be able to at least update the Azure.Mobile.Server packages

[2017-03-09 15:50] PeterKolstad commented on #126
Hi
I have the same issue but only on xamarin.ios and not for xamarin.Android. The codes look exactly the same so is should work but fore some strange reason it doesnt work on ios.

[2017-03-09 15:53] adrianhall commented on #126
If it works in Android and now iOS, then it is not a server issue, but a client issue.  Please open a fresh issue with full details on the appropriate client repo - that's Azure/azure-mobile-apps-net-client for Xamarin issues.

[2017-03-09 16:01] PeterKolstad commented on #126
Thanks for your quick reply! Are you sure about that it has to be a client issue be course I get the exact same respons: "Refresh failed with a 403 Forbidden error. The refresh token was revoked or expired"

[2017-03-09 16:07] adrianhall commented on #126
If you are getting "The refresh token was revoked or expired" - the likelihood is that it expired or never got fetched.    It's not an issue with the SDK - it's just telling you what has happened to the token.  We don't mess with the token on the way through, so it's what the auth provider is telling you.

If you were getting an error on iOS and not Android with the same code, then it's generally

[2017-03-13 10:51] julianonunes opened #202 "How can I create a spatial index if PK isn't a clustered index?"
I just saw the page https://github.com/Azure/azure-mobile-apps-net-server/wiki/Why-does-CreatedAt-have-a-Clustered-Index saying that I can't make Id a clustered index, however I'm adding geography column to my database and need to create a spatial index for better performance. The problem is that the SDK automatically sets CreatedAt as the clustered index and not the Primary Key.

Do I have any ot

[2017-03-15 23:17] pvbchak commented on #87
Fixed in https://github.com/Azure/azure-mobile-apps-net-server/pull/190

[2017-03-15 23:17] #87 closed

[2017-03-17 05:33] #200 closed

[2017-03-17 05:37] #198 closed

[2017-03-20 19:55] adrianhall commented on #199
You cannot share the ITableData interface between client and server.  Your client package needs to be independent.

[2017-03-20 19:55] #199 closed

[2017-03-20 19:56] adrianhall commented on #202
Azure Mobile Apps does not support Spatial queries right now, and we are unlikely to add it any time soon.

[2017-03-20 19:56] #202 closed

[2017-03-20 19:57] adrianhall commented on #197
Update and reopen if you bump into issues.  However, to keep the issues related to just things that need dev, I'm going to close this.

[2017-03-20 19:57] #197 closed

[2017-03-21 04:56] tofutim opened #206 "ApiController call causes SignalR to fail"
with a WebSocketException. One must restart the web app for SignalR to work again. If anyone has any insight it would be much appreciated.

My notes here: http://stackoverflow.com/questions/42916053/zumo-invokeapiasync-causes-signalr-to-stop-working

[2017-03-21 18:04] adrianhall commented on #206
From the notes, this is dealing with App Service Authentication, not Mobile Apps.  As a result of that analysis - closing.

[2017-03-21 18:04] #206 closed

[2017-03-21 23:59] adrianhall opened #207 "Error when running unit tests"
Running on VS2017

[code]

[2017-03-22 02:19] mrsmitty commented on #197
Check your version of System.IdentityModel.Tokens.Jwt, preferably use 4.0.40306.1554.

I was on 5.1.3 and was experiencing the same issue receiving:
Exception thrown: 'System.TypeLoadException' in Microsoft.Azure.Mobile.Server.Authentication.dll

I proxied the GetAppServiceTokenHandler() in my own IAppServiceTokenHandler and found it was failing in TryValidateLoginToken() with the following:
Could

[2017-03-22 02:21] winnicki commented on #197
@mrsmitty Thanks, that's helpful. I did downgrade and then only updated the Azure packages and it's working now.

[2017-03-25 19:46] austinemser commented on #124
@adrianhall What if you don't have control over the existing column? ie. you are forced to use a DateTime in SQL server.

[2017-03-27 17:27] adrianhall commented on #124
Then (a) live with the output and the problems, or (b) fix the table.  Those are your two choices.

[2017-03-27 18:33] lehn0058 commented on #195
Any chance this could be updated to work with System.IdentityModel.Tokens.Jwt > 5.0? It is a pain to try to fight to keep System.IdentityModel.Tokens.Jwt lagging behind while other dependencies continue to move forward.

[2017-03-27 18:34] adrianhall commented on #195
No, it can't.  There is a PR out to correct the NuGet package.

[2017-04-01 20:48] adrianhall commented on #123
You cannot detect within the [MobileAppController], but you can detect within a TableController, based on https://msdn.microsoft.com/en-us/library/71s1zwct(v=vs.110).aspx#cpconretrievingmultipleinstancesofattributeappliedtosamescope

[2017-04-06 01:34] pvbchak commented on #207
It's an issue in Xunit [#777](https://github.com/xunit/xunit/issues/777)

[2017-04-08 16:52] filoe commented on #181
This is still a problem. I'm on .net 4.6.

[2017-04-09 06:00] dansiegel opened #210 "Support for AspNetCore"
AspNetCore and EntityFrameworkCore are both released and "stable". This really needs to be updated to support these newer technologies.

[2017-04-10 17:21] adrianhall commented on #181
What version of System.IdentityModel.Tokens.Jwt do you have installed?

[2017-04-16 21:08] hamdanprakoso opened #212 "Could not install Microsoft.Azure.Mobile.Server.Authentication into Xamarin Forms"
I'm trying to add / install Microsoft.Azure.Mobile.Server.Authentication into my PCL project but there is an error says

I've tried installing the previous version, but the exact same error appeared. I've also tried to changing Framework version to .NET 4.6, but other errors come up.

I want to use GetAppServiceIdentityAsync() method by installing this namespace.

[2017-04-17 04:17] hamdanprakoso commented on #212
Answered in this [stackoverflow post](http://stackoverflow.com/questions/43441581/failed-to-install-microsoft-azure-mobile-server-authentication-into-xamarin-form/43444731#43444731)

[2017-04-17 04:17] #212 closed

[2017-04-26 04:47] gayan1991 opened #214 "Does Azure mobile service supports Asp.Net Core applications?"
I have MVC 5 web api application that uses azure mobile services. From there I uses sync services and **Tablecontroller** <TData> for synchronisation with the mobile. I want to know that **tablecontroller** is available for .**net core/ ASP.net core**. If there is, is there any samples? If not, what other ways we could build the azure mobile service in **Asp.Net Core project**?

[2017-04-26 06:58] gayan1991 commented on #35
Hi, is there any samples for table control in .net core? I am really struggling to upgrade azure mobile service app to asp.net core api app...!

[2017-04-26 13:44] adrianhall commented on #214
You cannot use Azure Mobile Apps with ASP.NET Core - see #214.

[2017-04-26 13:44] #214 closed

[2017-04-27 01:37] gayan1991 commented on #214
@adrianhall If you do not mind, could you answer following.
If i want to build azure sync service, which procedure I should use? Normal ApiController/ ODataController/ Any other choice?
If I want use TableController which project should I choose?

[2017-04-29 00:18] adrianhall commented on #214
TableControllers require an ASP.NET (non-Core) project and the Azure Mobile Apps.

There are lots of other options.  If, however, you want to use Azure Mobile Apps, then you must create the project in a particular way.

[2017-05-05 07:26] Ponant commented on #97
Hi @adrianhall , I asked this question (compatibility between Azure Mobile Apps and .Net Core) and after your response we worked on the ASP.NET Core web app, hoping that the Azure Mobile App will get updated in the meanwhile to support .Net Core. Could you give us a rough indication of the timeline such that we know how to proceed? Are we talking about 3 months, 6 months, a year or more? Approxima

[2017-05-05 15:14] adrianhall commented on #97
I am no longer with Microsoft, so I can't answer this.   Personally, I'd look for an alternate solution to this.

[2017-05-05 15:57] chadiswar commented on #97
Adrian was this move based on a product shift in the Azure app service or was this a personal decision?

[2017-05-05 16:00] Ponant commented on #97
Hi @adrianhall , I am sorry to hear this as I know your contributions to Azure. Which alternate solution would you have in mind? It is not clear to us what altenatives we have, identity server? We need to keep our .Net Core app but be able to communicate with Azure from a mobile app (UWP and then Xamarin). cheers

[2017-05-05 16:04] adrianhall commented on #97
AUthentication and configuration are already taken care of (I've done the work for handling the [Authorize] token and it is released on NuGet - check out my blog at https://shellmonger.com and my NuGet libraries).  After that, just create a regular REST API and use that.

[2017-05-05 16:20] Ponant commented on #97
If that is what you mean, http://www.nuget.org/packages/AzureAppService/, it would be great to point to an explicit post in your blog where you use this library. The closes I go t was this one, https://shellmonger.com/2017/03/02/azure-app-service-authentication-in-an-asp-net-core-application/, but it does not seem to use your lib.

[2017-05-05 16:25] Ponant opened #215 "Please provide some timeline for .Net Core support"
Hi,
we have been inquiring about a Azure Mobile App support for .Net Core since the first release of .Net Core and at that time it was too early to answer. Following this we worked on the ASP.NET Core web app, hoping that the Azure Mobile App will get updated in the meanwhile to support .Net Core. Could you give us a rough indication of the timeline such that we know how to proceed? Are we talking

[2017-05-05 16:51] adrianhall commented on #97
Yep - that is the one.  The code is the same - I just encapsulated the library code in an actual library.

[2017-05-05 21:05] JeffDalby opened #216 "Azure Mobile Apps returning different SID than Azure Mobile Services"
Attempting to finally update our migrated Azure Mobile services to proper Azure Mobile App.  We use the user identifier to, well, identify users in our system.  Following all the documentation I can find I am unable to come up with a combination that will give us the same User identification info.  Our original code is simply:
var currentUser = User as ServiceUser;
var userID = currentUser.Id;

us

[2017-05-08 15:01] JeffDalby opened #217 "Bad Request using Client-managed authentication with Google"
According to the docs found here: https://docs.microsoft.com/en-us/azure/app-service-mobile/app-service-mobile-dotnet-how-to-use-client-library#client-facebook
Client side authentication should simple be:
var token = new JObject();
// Replace access_token_value with actual value of your access token obtained
// using the Facebook or Google SDK.
token.Add("access_token", "access_token_value");

use

[2017-05-08 18:32] JeffDalby commented on #217
OK turns out you also need to add an id_token with it's corresponding value to the token JObject.  Documentation should probably be updated.

[2017-05-10 11:09] julianonunes opened #218 "Json.net Re‌​ferenceLoopHandling setting seems to be ignored"
Even though I'm setting `SerializerSettings.Re‌​ferenceLoopHandling` in my Startup class, I'm still getting circular references exceptions in my controllers.

Here's my startup class:

[code]

Am I missing something?

BTW I also posted this question on [StackOverflow](http://stackoverflow.com/questions/43882563/referenceloophandling-ignore-not-working-for-azure-mobile-app-service-to-ignore).

[2017-05-12 09:11] ghost opened #219 "UpdateAsync try to re-add nested object"
I have a data model that consists of appointments, and patients. Every appointment has a patient property. When I make a change to an appointment and then call UpdateAsync, I get the following error:

The operation failed due to a conflict: 'Violation of PRIMARY KEY ...' . Cannot insert duplicate key in object

It's pretty clear that azure is trying to re-add the patient to the patients table when

[2017-05-12 18:21] sayedihashimi commented on #215
We have received a similar request in [dotnet/templating](https://github.com/dotnet/templating/) at https://github.com/dotnet/templating/issues/781.
FYI it's possible to create templates with the [Template Engine](https://github.com/dotnet/templating/) and surface them in both `dotnet new` and `VS2017`. For VS2017 there will be some additional work but it's pretty easy.

[2017-05-12 19:31] dansiegel commented on #215
This is a duplicate of #210

[2017-05-13 18:58] Ponant commented on #215
Hi Sayed @sayedihashimi , does this mean that we have to do it because there is no plan from Microsoft to do it?

[2017-05-15 15:39] jiberan opened #220 "Provide way to log DbExceptions occured in TableController"
In **SubmitChangesAsync** in class **EntityUtils** [https://github.com/Azure/azure-mobile-apps-net-server/blob/master/src/Microsoft.Azure.Mobile.Server.Entity/Tables/EntityUtils.cs#L62](https://github.com/Azure/azure-mobile-apps-net-server/blob/master/src/Microsoft.Azure.Mobile.Server.Entity/Tables/EntityUtils.cs#L62) you are catching DbExceptions and then throwing HttpResponseException.

This wil

[2017-05-16 09:53] gorillapower commented on #168
Does DocumentDB support this now? It looks like it from the documentation here https://github.com/Microsoft/azure-docs/blob/master/articles/documentdb/documentdb-orderby.md

[2017-05-16 10:42] gorillapower opened #221 "What version of OData does the SDK support?"
Does the SDK implement < OData V4 ? When i do an OData query on my TableController `$filter= someGuid eq 52616a31-96fc-447a-b795-b44ef7085776` it throws `The query specified in the URI is not valid. Unrecognized 'Edm.Double' literal '32e694' at '11' in 'someGuid eq 32e694ba-6f3c-46d2-a1bc-c32c86e69a60'`.

I have read this happens when using an older version of OData.  Doing `$filter = somGuid eq g

[2017-05-24 00:11] pablotdv commented on #181
What's the solution for this issue?

My version of System.IdentityModel.Tokens.Jwt is 5.1.3.

The poblem is:
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS7069	Reference to type 'JwtSecurityToken' claims it is defined in 'System.IdentityModel.Tokens.Jwt', but it could not be found	Backend	d:\develop-mobile-apps-with-csharp-and-azure\Chapter1\Backend\Controllers\CustomAuthCo

[2017-05-24 05:47] fileman commented on #181
@pablotdv Jwt version must be 4.x !
5.x is for asp.net core

[2017-05-29 02:17] hche608 opened #222 "Question about to load native assemblies"
Hey, I have a problem to add the following code,
`SqlServerTypes. Utilities. LoadNativeAssemblies (Server. MapPath ("~/bin"));`

In order to use Microsoft.SqlServer.Types, I have to insert the code to the Application_Start method in Global.asax.cs. but this template does not have Global.asax.cs.
I have tried added to Startup.MobileApps.ConfigureMobileApp, it does not work.

where should I added th

[2017-06-02 14:08] shiranGinige opened #223 "APNS blade not working"
Steps to reproduce :

Navigate to Notification Hub -> Notification Services -> APNS
It keeps on loading.

When looked at the console, following errors are there.

[2017-06-02 21:43] filoe opened #225 "Add overload to GetAppServiceIdentityAsync for passing token instead of HttpRequestMessage"
According to this test: https://github.com/Azure/azure-mobile-apps-net-server/blob/master/test/Microsoft.Azure.Mobile.Server.Authentication.Test/IPrincipalExtensionsTests.cs#L244 the parameter needed for inside of the GetAppServiceIdentityAsync method is the token.
Why do we have to pass the whole HttpRequestMessage to the method. In some scenarios it is not possible to retrieve the HttpRequestMes

[2017-06-03 00:19] #223 closed

[2017-06-03 00:19] shiranGinige commented on #223
This is fixed now. Thanks guys!

[2017-06-21 13:31] mjo151 opened #226 "Link header returned by StorageDomainManager does not appear to be correct"
I'm using the latest version (2.0.0) of the Microsoft.Azure.Mobile.Server.Storage package. The StorageDomainManager returns a uri in the Link header in order for the Azure Client SDK to pull additional items. It appears that the link header is not properly escaped, and this causes an error on the client. Specifically, the datetimeoffset contains a '+' instead of ''%2B'. Here is part of the link he

[2017-06-21 16:09] jiberan opened #227 "Is this project live?"
Hi,
it looks like this project is no longer developed. Is it dead?

Why was this [https://www.nuget.org/packages/Microsoft.Azure.Mobile.Server.Files/](url)  unlisted from nugget and deleted from github?

Thanks,
Jiri

[2017-06-21 17:42] fileman commented on #227
yes the Files Client/Server package are delisted, see [this ](https://social.msdn.microsoft.com/Forums/azure/en-US/2556d05a-5b2c-4eec-9551-2a55209643b4/windowsazuremobileapps-files-has-been-delisted-from-nuget?forum=azuremobile) answer on azure forum.
If you need code or you want to contribute to mantain it, you can find [here](https://github.com/fileman) a copy

[2017-06-21 18:48] jiberan commented on #227
@fileman thank you.

[2017-06-30 02:14] ceichin commented on #215
Any news on this? I really want to develop my backend on my mac already.

[2017-06-30 18:27] dansiegel commented on #210
Any update on this? I believe the last thing the Mobile Apps Server needed in .NET Standard was the OData components, which it looks like have been out since the beginning of May in Version 7.2.0

[2017-06-30 18:42] andreujuanc commented on #210
I need to start a project next week, I just want to know if I can help on this, since I already have another app using the node version, runs fine, but performance could be an issue in this new project.

I have the chance of using something from scratch and help testing and improving it.

Just need to know if this "feature" gonna happen, or if I should just do my own server implementation. I reall

[2017-07-07 19:59] antitheos opened #228 "How to exclude properties from Json returned using TableController"
I may be missing something, but my searches have not found anything.
I have an entity as defined below, returned from from .Net backend Mobile App

[code]

When this is returned from a TableController the field ExampleIgnore is included in the JSON payload, when I expected it to be excluded.
Is there another attribute or mechanism for ignoring properties and removing them from the JSON payload?
I

[2017-07-08 11:45] pavinan commented on #197
@mrsmitty Thanks. Additionally, I have to change the versions of both binding redirects in web.config for that library to 4.0.40306.1554. For some reason nuget didn't change there.

[2017-07-10 14:18] prebenh commented on #228
I think the problem starts here:
https://github.com/Azure/azure-mobile-apps-net-server/blob/04d75cadc137cc478f98edfa1fa5b868e5548dfd/src/Microsoft.Azure.Mobile.Server.Tables/Serialization/TableContractResolver.cs#L79

Because of the properties are cleared an then re added, the attributes are not taken into account.